ul, li {
	font-size:13px;
	color: #333333;
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
}

#menu {
	font-family:  "Arial", "Helvetica", "FreeSans", "Liberation Sans", "Nimbus Sans L", sans-serif;
	font-size: 11px;
	list-style:none;
	width:1010px;
	margin:0px auto 0px auto;
	height:57px;
	padding:0px;
	/* Background color and gradients */
	background: #fff;
	/* Borders */
	border-bottom: 3px solid #f4bb00;
}

#menu li {
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size:12px;
    float:left;
	display:table;
    text-align:center;
	position:relative;
	padding: 0px 5px;
	border:none;
    width: 5%;
}

#menu li:hover {
    height: 60px;
	border: 1px solid #f4bb00;
    padding: 0px 4px;
    /* Background color and gradients */
	background: #f4bb00;
	}

#menu li a {
    #letter-spacing: -0.1em;
    color: #333333;
	display:block;
	outline:0;
	line-height: 1.2;
	text-decoration:none;
	}

#menu li:hover a {
	color:#fff;
	}
#menu li .drop {
	padding-right:1px;
	}
#menu li:hover .drop {
	#background:url("img/drop.png") no-repeat right 7px;
}

.dropdown_1column, 
.dropdown_2columns, 
.dropdown_3columns, 
.dropdown_4columns,
.dropdown_5columns {
    z-index: 100000;
	background: #fff;
	margin:0px auto;
	float:left;
	position:absolute;
	left:-999em; /* Hides the drop down */
	text-align:left;
	padding:10px 5px 10px 5px;
	border:1px solid #f4bb00;
}

.dropdown_1column {width: 140px;}
.dropdown_2columns {width: 280px;}
.dropdown_3columns {width: 420px;}
.dropdown_4columns {width: 560px;}
.dropdown_5columns {width: 700px;}

.before {
    width: 198px;
    height: 20px;
    left:-60px;
    top: 60px;
    background: #000;
    position: absolute;
}

#menu li:hover .dropdown_1column,
#menu li:hover .dropdown_2columns, 
#menu li:hover .dropdown_3columns,
#menu li:hover .dropdown_4columns,
#menu li:hover .dropdown_5columns {
    left: 60px;
    right: auto;
    #top: 20px;
    width: 550px;
    position: absolute;
}
.col_1,
.col_2,
.col_3,
.col_4,
.col_5 {
	display:inline;
	float: left;
	#position: relative;
	margin-left: 5px;
	margin-right: 5px;
}
.col_1 {width:130px;}
.col_2 {width:270px;}
.col_3 {width:410px;}
.col_4 {width:550px;}
.col_5 {width:690px;}

#menu .menu_right {
	float:right;
	margin-right:0px;
}
#menu li .align_right {
	/* Rounded Corners */
}

#menu li:hover .align_right {
	left: auto;
    right: -1px;
    #top: 20px;
    width: 550px;
    position: absolute;
}

#menu p, #menu h2, #menu h3, #menu ul li {
	font-family:Arial, Helvetica, sans-serif;
    line-height:21px;
	font-size:12px;
	text-align:left;
}
#menu h2 {
	font-size:14px;
	font-weight:700;
	letter-spacing:0px;
	margin:7px 0 14px 0;
	padding-bottom:14px;
	border-bottom:1px solid #666666;
}
#menu h3 {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #888888;
    font-size: 14px;
    margin: 7px 0px 14px;
}
#menu p {
	line-height:18px;
	margin:0 0 10px 0;
}

#menu li:hover div a {
	font-size:12px;
	color:#333333;
    font-weight: normal;
}

#menu li:hover div a:hover {
    color:#333333;
    text-decoration: underline;
}
#menu li:hover div a:hover {
    color: #333333;
    text-decoration: underline;
}
.more {
    color: #d6920d;
}

.strong {
	font-weight:bold;
}
.italic {
	font-style:italic;
}

.imgshadow { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:5px 15px 5px 5px;
}

#menu li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

	/* Shadow */
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}

#menu li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
#menu li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:none;
	text-align:left;
	width:130px;
}
#menu li ul li:hover {
	background:none;
	border:none;
	padding:0;
	margin:0;
}

#menu li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:116px;

	/* Rounded Corners */
	-moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
}
#menu li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}

.allcat{
    border: none;
    color: #ffffff;
    background: #000000;
}