html {
    padding: 0;
    margin: 0;
    font-size: 100%; 
    overflow-y: scroll; 
    -webkit-text-size-adjust: 100%; 
    -ms-text-size-adjust: 100%; 
}
* {
    #margin: 0;
    #padding: 0;
    #-moz-box-sizing: border-box;
    #box-sizing: border-box;
}
body {
    margin: 0;
	padding:0;
}
body,button,input,select,textarea {font-family: sans-serif;}
body *::-moz-selection {
    background: rgba(255,251,102, 0.8);
    color: rgb(0, 0, 0);
}

body *::-webkit-selection {
    background: rgba(255,251,102, 0.8);
    color: rgb(0, 0, 0);
}

body *::selection {
    background: rgba(255,251,102, 0.8);
    color: rgb(0, 0, 0);
}
a {
    color: #000000;
    text-decoration: none;
}
a:focus {outline: none;}
a:hover, a:active {
    outline: 0;
    color: #424242;
}
a[href^="tel:"] {
    color: inherit;
    text-decoration:none;
}
b,strong {font-weight: bold;}
blockquote {margin: 1em 40px;}
dfn {font-style: italic;}
mark {
    background: #ff0;
    color: #000;
}
pre,code,kbd,samp {
    font-family: monospace, monospace;
    _font-family: 'courier new', monospace;
    font-size: 1em;
}
pre {
/*    white-space: pre;
    white-space: pre-wrap;
    word-wrap: break-word;
*/
}
q {quotes: none;}
q:before,q:after {
    content: '';
    content: none;
}
small {font-size: 75%;}
sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline;
}
sup {top: -0.5em;}
sub {bottom: -0.25em;}
ul,ol {
    margin: 1em 0;
    padding: 0 0 0 40px;
    list-style:none;
    list-style-type: none;
}
dd {margin: 0 0 0 40px;}
nav ul,nav ol {
    list-style: none;
    list-style-image: none;
}
img {
    border: 0; 
    -ms-interpolation-mode: bicubic;
}
form {margin: 0;}
fieldset {
    margin: 0 2px;
    padding: 0.35em 0.625em 0.75em;
}
legend {
    border: 0; 
    *margin-left: -7px; 
}
button, input, select, textarea {
    font-size: 100%; 
    margin: 0; 
    vertical-align: baseline; 
    *vertical-align: middle;
    border: 1px solid #BABABA;
}
input:focus, select:focus, textarea:focus {
    border: 1px solid #00bcff;
    background-color: #e4fcff;
}
button, input {
    line-height: normal; 
    *overflow: visible;  
}
table button, table input {*overflow: auto;}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer; 
    -webkit-appearance: button; 
}
input[type="checkbox"], input[type="radio"] {box-sizing: border-box;}
input[type="search"] {
    -webkit-appearance: textfield; 
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box; 
    box-sizing: content-box;
}
input[type="search"] {-webkit-appearance: none;}
button::-moz-focus-inner,input::-moz-focus-inner {
    border: 0;
    padding: 0;
}
textarea {
    overflow-x: hidden;
    overflow-y: auto;
    vertical-align: top;
    width: 95%;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}
div.clear {
	width: 100%;
	#height: 0;
	clear: both;
}
p {margin: 0;}
h5 {
    margin: 5px 0;
    text-align: left;
    font: 700 12px/19px "Arial", "Helvetica", sans-serif;
    color: #00c9e2;
}
hr {padding:0; margin:0;height:0px; border: dotted 1px #bababa;}
textarea::-webkit-input-placeholder       {text-indent: 0px;   transition: text-indent 0.5s ease;}
textarea::-moz-placeholder                {text-indent: 0px;   transition: text-indent 0.5s ease;}
textarea:-moz-placeholder                 {text-indent: 0px;   transition: text-indent 0.5s ease;}
textarea:-ms-input-placeholder            {text-indent: 0px;   transition: text-indent 0.5s ease;}
textarea:focus::-webkit-input-placeholder {text-indent: 200px; transition: text-indent 0.5s ease;}
textarea:focus::-moz-placeholder          {text-indent: 200px; transition: text-indent 0.5s ease;}
textarea:focus:-moz-placeholder           {text-indent: 200px; transition: text-indent 0.5s ease;}
textarea:focus:-ms-input-placeholder      {text-indent: 200px; transition: text-indent 0.5s ease;}