.sel_wrap select{
    display:none;
}
.sel_imul{    
	height: 20px;	
}
.sel_imul .sel_selected{
	background: url('../images/select-bg.png') left no-repeat;
    cursor:pointer;
	height: 20px;
	font: 12px/20px 'Tahoma',sans-serif;
	color: #2e2e2e;
	padding: 0 28px 0 5px;
    position:relative;
}
.selected-text {
    white-space: nowrap;
}
.sel_imul.act .sel_selected {
	border-left: 1px solid #252525;
	background-position: -2px 0;
	padding-left: 4px;
}
.sel_selected .sel_arraw{
    background: url('../images/select-bg.png') right no-repeat;
	width: 23px;
	height: 20px;
    position:absolute;
    top:0px;
    right:0px;    
}
.sel_imul .sel_options{
    background:#f7f7f7;        
    overflow:auto;
    position:absolute;    
    display:none;	
    z-index:10;
}
.sel_options .sel_option{
    padding:3px 4px;
    font: 12px/12px 'Tahoma',sans-serif;
    color: #2e2e2e;
    border: 1px solid #252525;
    border-top: none;
    min-height: 12px;
}
.sel_options .sel_option:hover, .sel_options .sel_option.sel_ed {    
    cursor:pointer;
    background: #e7e7e7;
}