/* lnk on detail product page */
#wishlist_button {
  font-size:14px; text-transform: uppercase; color:#777; padding:7px 29px; background: #f1f1f1; border-bottom: 3px solid #e5e5e5; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; }
 #wishlist_button:hover {
    background: #474e58;
    border-bottom: 3px solid #323a45;
    color: #fff;}

/* wishlist block */
#wishlist_block {margin: 50px 0 0 ;}
#wishlist_block  a.button {background: none; border:1px solid #5dbede;}
#wishlist_block #wishlist_block_list {
  margin: 0 0 20px 0; }
  #wishlist_block #wishlist_block_list dl {
    font-weight: 400; }
    #wishlist_block #wishlist_block_list dl.products.no-products {
      font-weight: 700;
      padding: 0 0 15px 0;
      border-bottom: 1px solid #d6d4d4; }
      #wishlist_block #wishlist_block_list dl.products.no-products dt {
        padding: 0;
        border-top: none;
        font-weight:normal;
        font-size:14px;}
      #wishlist_block #wishlist_block_list dl.products.no-products dd {
        display: none; }
    #wishlist_block #wishlist_block_list dl.products {
      border-bottom: 1px solid #d6d4d4; }
      #wishlist_block #wishlist_block_list dl.products dt {
        padding: 20px 0 0;
        border-top: 1px solid #d6d4d4; }
      #wishlist_block #wishlist_block_list dl.products dd {
        padding: 0 0 20px 0; }
      #wishlist_block #wishlist_block_list dl.products dt.first_item {
        padding: 0;
        border-top: none; }
    #wishlist_block #wishlist_block_list dl dt {
      position: relative;
      padding-right: 0; }
    #wishlist_block #wishlist_block_list dl dd {
      margin: 0 0 0 24px; }
#wishlist_block .lnk .form-group {
  margin: 0 0 20px 0; }
  #wishlist_block .lnk .form-group select {
    max-width: 192px; }
    @media (max-width: 767px) {
      #wishlist_block .lnk .form-group select {
        width: 192px; } }
#wishlist_block .ajax_cart_block_remove_link {
  font-size: 14px;
  line-height: 14px;
  color: #d3d2d2;
  width: 14px;
  height: 14px;
  float: right; }
  #wishlist_block .ajax_cart_block_remove_link:hover {
    color: #515151; }
#wishlist_block .cart_block_product_name {
  width: 85%;
  display: inline-block;
  font-weight: bold; }
#wishlist_block .quantity-formated {
  float: left;
  margin: 0 5px 0 0;
  width: 15px; }

#wishlist_block_list .price {
  float: right; }

/* page in my account ************************************************************************* */
#mywishlist td.wishlist_delete a {
  font-size: 15px; }

/* wishlistLinkTop */
#module-blockwishlist-mywishlist #block-order-detail #hideSendWishlist {
  display: inline-block; }

#module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list {
  border-bottom: 1px solid #d6d4d4;
  margin-bottom: 20px; }
  #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a {
    display: inline-block;
    color: #333333;
    margin: 10px 10px 10px 0px;
    font-weight: bold; }
    #module-blockwishlist-mywishlist .wishlistLinkTop ul.display_list a:hover {
      color: #515151; }

#module-blockwishlist-mywishlist .wishlistLinkTop li {
  float: left; }

#module-blockwishlist-mywishlist .wishlistLinkTop #hideSendWishlist {
  float: right; }

#module-blockwishlist-mywishlist .wishlistLinkTop #showBoughtProducts,
#module-blockwishlist-mywishlist .wishlistLinkTop #hideBoughtProductsInfos {
  display: none; }

/* wlp_bought ****************************************** */
/* wlp_bought_list */
ul.wlp_bought_list li {
  margin: 0 0 30px 0;
  /*> 992px*/
  /*768px x 991px*/ }
  ul.wlp_bought_list li .product_image {
    padding: 9px;
    border: 1px solid #d6d4d4;
    margin: 0 0 20px 0;
    max-width: 270px; }
  ul.wlp_bought_list li .product-name {
    margin: 0 0 10px 0;
    padding: 0 20px 0 0; }
    ul.wlp_bought_list li .product-name small {
      display: block;
      font-size: 11px; }
      ul.wlp_bought_list li .product-name small a {
        font-size: 11px; }
  ul.wlp_bought_list li .product_infos {
    position: relative; }
  ul.wlp_bought_list li .btn_action .btn {
    margin: 0 0 10px 0; }
  @media (min-width: 992px) {
    ul.wlp_bought_list li.first-in-line {
      clear: left; } }
  @media (min-width: 768px) and (max-width: 991px) {
    ul.wlp_bought_list li.first-item-of-tablet-line {
      clear: left; } }

.wishlistLinkTop .submit {
  margin: 0 0 30px 0; }

ul.wlp_bought_list li .lnkdel {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  font-size: 14px; }
