
@import "reset.css";
@import "form.css";
html, body {
    height: 100%;
}
body {
    background-image: url("/images/bg.png");
    background-position: center center;
    background-repeat: no-repeat;
    font-size: 12px;
}
.wrapper {
    height: auto !important;
    margin: 0 auto -130px;
    min-height: 100%;
    width: 1002px;
}
.left {
    float: left;
    width: 232px;
}
.right {
    float: left;
    width: 218px;
}
.main {
    float: left;
    margin: 0 13px;
    width: 525px;
}
body.user .main {
    margin: 0;
    padding: 0 238px;
}
.garant {
    clear: both;
    height: 130px;
}
.block {
    float: left;
    margin-bottom: 13px;
}
.banner {
    margin-bottom: 5px;
}
.page-title {
    background: url("../images/base-header.jpg") no-repeat scroll left center transparent;
    float: left;
    height: 28px;
    width: 100%;
}
.page-title h2 {
    background: url("../images/header-right.jpg") no-repeat scroll right center transparent;
    color: #FFFFFF;
    font: 13px/28px 'Tahoma';
    height: 28px;
    margin: 0 0 0 10px;
	text-shadow: 1px 1px 0 #cb521d;
    padding: 0;
}
.head {
    background: url("../images/head-bg.jpg") no-repeat scroll 50% 0 transparent;
    height: 195px;
    margin: 0 0 20px;
    width: 100%;
}
.site-info {
    float: left;
    width: 200px;
}
.logo {
    background: url("../images/logo.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 64px;
    margin: 10px 0 3px;
    text-indent: -9999px;
    width: 193px;
}
.slogan {
    color: #8F8F8F;
    float: left;
    font-size: 11px;
    font-weight: normal;
    margin: 0;
    padding: 1px 0 0 10px;
    width: 100%;
}
.menu {
    background: none repeat scroll 0 0 #323232;
    float: left;
    height: 26px;
    margin: 0;
    padding: 0;
    width: 770px;
}
.menu li {
    border-left: 1px solid #5D5D5D;
    border-right: 1px solid #272727;
    float: left;
    height: 14px;
    list-style: none outside none;
    margin: 0;
    padding: 5px 25px 6px;
}
.menu li.last {
    border-right: medium none;
}
.menu li a {
    color: #FFFFFF;
    float: left;
    font-size: 12px;
    height: 14px;
    line-height: 14px;
    text-decoration: none;
}
.menu li a:hover {
    text-decoration: underline;
}
.user-block {
    color: #a1a1a1;
    float: right;
    margin: 20px 5px 0 5px;
    text-align: right;
}
.user-block a:hover {
    color: #3990a1;
    text-decoration: none;
}
.site-params {
    float: right;
    margin: -10px 0 0;
}
.currency {
    float: left;
    margin-right: 2px;
}
.currency a {
    color: #3990a1;
    font: 11px 'Tahoma';
    margin: 0 2px;
    padding: 2px;
    text-decoration: none;
}
.currency a.active {
    border: 2px solid #3990a1;
}
.langs {
    float: left;
    margin-right: 10px;
}
.langs a {
    background: url("../images/langs.jpg") no-repeat scroll left center transparent;
    float: left;
    height: 11px;
    margin: 1px 5px;
    text-indent: -9999px;
    width: 16px;
}
.langs a.eng {
    background-position: 100% 0;
}
.langs a.active {
    border: 1px solid #fff;
    margin-top: 0;
}
.search-block {
    background: url("../images/bar-bg.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 80px;
    margin: 20px 0 0;
    padding: 12px 0 0 12px;
    width: 762px;
}
.search-block .form-item {
    float: left;
    height: 32px;
    position: relative;
    width: 778px;
	margin: 13px 0 0;
}
.search-block .form-item label {
    color: #333333;
    font-size: 12px;
    left: 0;
    line-height: 13px;
    padding: 10px 0 8px 10px;
    position: absolute;
}
.search-block .form-item input[type="text"] {
    background: url("../images/search-input.jpg") no-repeat scroll left center transparent;
    border: medium none;
    color: #333333;
    float: left;
    font-size: 12px;
    height: 12px;
    line-height: 12px;
    margin: 0 10px 0 0;
    padding: 10px;
    width: 414px;
}
#search-submit {
    background: url("../images/search-submit.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    height: 32px;
    margin: 0 0 0 10px;
    text-indent: -9999px;
    width: 92px;
}
.main-menu {
    float: left;
    margin: -7px 0 0;
    padding: 0;
}
.main-menu li {
    float: left;
    height: 21px;
    list-style-type: none;
    padding: 2px 26px 7px 2px;
}
.main-menu li.first {
    background: none repeat scroll 0 0 transparent;
    padding-left: 0;
}
.main-menu li a {
    color: #515151;
    float: left;
    font:  11px/20px 'Tahoma';
    height: 20px;
    padding: 0 3px;
    text-decoration: none;
    text-shadow: 1px 1px 0 #ededed;
	text-transform: uppercase;
	margin-top: -75px;
    left:0;
    margin-left: -4px;
}
.cart-block {
    background: url("../images/basket-bg.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 66px;
    margin: 20px 0 0;
    padding: 13px 13px 13px 19px;
    width: 192px;
}
.basket-text {
    color: #fff;
    float: left;
    font: 12px/14px 'Tahoma';
    text-decoration: none;
    text-shadow: 1px 1px 0 #cb521d;
	margin: -2px 16px 0 -40px;
}
.balance-text {
    color: #fff;
    float: right;
    font: 11px/14px 'Tahoma';
	margin: -42px 0px 10px 10px;
	text-transform: uppercase;
}

.balance-ed { 
    color: #515151;
    float: right;
    font: 11px 'Tahoma';
	margin: -1px 0px 10px -10px;
}
.cart-block a.cart-image {
    float: left;
    height: 54px;
    margin: -5px 16px 0 -10px;
    width: 45px;
}
.cart-block a.info {
    color: #fff;
    float: left;
    font-size: 12px;
    font-weight: bold;
    height: 32px;
    line-height: 32px;
    margin: 4px 0 0;
    text-align: center;
    text-decoration: none;
    width: 130px;
}
.cart-block a:hover {
    text-decoration: underline;
}
.left .block {
    background: url("../images/block-bg.jpg") repeat-y scroll 0 0 transparent;
    float: left;
    width: 232px;
}
.right .block {
    float: left;
    width: 218px;
}
.block-top {
    float: left;
    height: 7px;
    width: 100%;
}
.block-bottom {
    background: url("../images/block.jpg") no-repeat scroll center bottom transparent;
    float: left;
    height: 7px;
    width: 100%;
}
.right .block-top, .right .block-bottom {
    background-image: url("../images/right-block.jpg");
}
.categories-list {
    margin: 3px 20px;
    padding: 0;
    width: 190px;
}
.categories-list li {
    list-style: none outside none;
    width: 190px;
}
.categories-list li a {
    background: url("../images/cat-menu-tip.png") no-repeat scroll right center transparent;
    border-bottom: 1px solid #b9b9b9;
    color: #515151;
    display: block;
    font-size: 12px;
    line-height: 14px;
    margin: 1px 0;
    min-height: 14px;
    padding: 7px 5px 7px 0;
    text-decoration: none;
    width: 190px;
    -moz-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    -webkit-transition: all 0.1s ease-in-out;
    color:#222;
    display:block;
}
.categories-list li a:hover {
    color: #2a7a7b;
    -webkit-transform: translate(8px,0);
    -moz-transform: translate(8px,0);
    -o-transform: translate(8px,0);
}
.categories-list li.all-category a {
    color: #2a7a7b;
    font-size: 11px;
	text-transform: uppercase;
}
.categories-list li.parent {
    position: relative;
}
.categories-list li ul {
    background: url("../images/block-bg.jpg") repeat-y scroll 0 0 transparent ;
    border: 1px solid #b9b9b9;
    border-radius: 5px 5px 5px 5px;
    display: none;
    left: 190px;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    top: 0;
    width: 190px;
    z-index: 12;
}
.categories-list li ul li a {
    background: none repeat scroll 0 0 transparent;
    padding: 7px 0;
}
.categories-list li:hover ul {
    display: block;
}
.categories-list li ul li a {
}
.categories-list li.parent ul li a:hover {
    text-decoration: underline;
}
.footer {
    background: url("../images/footer-bg.jpg") repeat-x scroll center bottom transparent;
    height: 115px;
    margin: auto;
    padding-top: 15px;
    width: 100%;
}
.paysystems {
    float: left;
    height: 50px;
    margin: 50px 0 0;
    text-align: center;
    width: 980px;
}
.paysystems a {
    margin: 0 15px;
}
.footer-wrapper {
    margin: auto;
    width: 1000px;
}
.footer-logo {
    background: url("../images/money.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 80px;
    margin: 24px 0 0 0px;
    text-indent: -9999px;
    width: 312px;
}
.footer .menu {
    height: 14px;
    margin: 24px 0 0 50px;
    width: auto;
}
.footer ul.menu li {
    padding: 2px 20px;
}
.footer ul.menu li.last {
    border-right: medium none;
}
.footer ul.menu li.first {
    border-left: medium none;
}
.footer ul.menu li a {
    font-size: 11px;
}
.copywrite {
    clear: both;
    color: #616161;
	font: 11px'Tahoma';
    float: left;
    width: 500px;
	margin: -20px 0 0;
}
.copywrite span {
    clear: both;
    color: #757575;
    font-size: 11px;
}
.category .main, .search .main, .brand .main, .seller .main {
    margin: 0 0 0 15px;
    width: 753px;
}
.tabs {
    float: left;
    height: 24px;
    margin: 0;
    padding: 0;
    width: 753px;
}
.item .tabs {
    background: url("../images/item-tabs.png") no-repeat scroll center bottom transparent;
    height: 40px;
    width: 979px;
}
.tabs a, div.active-tab {
    background: url("../images/catalog-tab.jpg") no-repeat scroll 0 0 transparent;
    color: #6c6b6b;
    float: left;
    font: 11px/23px 'Tahoma';
    height: 26px;
    margin: 0 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #f0f0f0;
    width: 150px;
	text-transform: uppercase;
}
.cabinet.tabs a, .cabinet.tabs div.active-tab {
    border-radius: 5px 5px 5px 5px;
    padding: 0 10px;
    width: auto;
}
.tabs a.active, div.active-tab, a.active-tab {
    background: url("../images/catalog-active-tab.jpg") no-repeat scroll 0 0 transparent;
    color: #fff;
    text-shadow: 1px 1px 0 #ff6300;
}
.tab {
    display: none;
    float: left;
    width: 1000px;
}
.tab.shown {
    display: block;
}
.catalog-bar {
    background: url("../images/catalog-tabs.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 18px;
    margin: 0;
    padding: 5px 10px;
    width: 733px;
}
.search-count {
    color: #FFF;
    float: left;
    font: 12px/18px 'Tahoma';
}
.search-count span {
    color: #FFFFFF;
    font: bold 12px/18px 'Tahoma';
}
.search-sort {
    color: #FFFFFF;
    float: right;
    font: bold 12px/18px 'Tahoma';
}
.search-sort select {
    border: 1px solid #CCCCCC;
    color: #000000;
    font: 12px/18px 'Tahoma';
    height: 18px;
    margin: 0 0 0 3px;
}
.search-original {
    color: #FFFFFF;
    float: left;
    font: bold 12px/18px 'Tahoma';
    margin-left: 50px;
}
.search-original input {
    border: 1px solid #CCCCCC;
}
.products-list {
    margin: 10px 25px 0;
}
.products-list {
    margin: 10px 0 0;
}
.products-list .product {
    float: left;
    margin: 10px 0 0 20px;
    padding: 0;
    position: relative;
    width: 160px;
}
.products-list .product.first {
    clear: left;
    margin-left: 0;
}
.products-list .product .product-image {
border: 1px solid #e4e4e4;
height: 160px;
text-align: center;
width: 160px;
}
.products-list .product .product-image img{
opacity:1;
-moz-opacity:1;
filter: alpha(opacity=100) black;
-khtml-opacity: 1;
background-color:#fff;
}
 
.products-list .product .product-image img:hover {
opacity:0.4;
-moz-opacity:0.4;
filter: alpha(opacity=60) black;
-khtml-opacity: 0.4;
background-color:#fff;
}
.products-list .product .product-price {
    font: 15px/29px 'Tahoma';
    color: #fff;
    width: 96px;
    height: 26px;
    text-shadow: #307179 1px 1px 0;
    background: url('../images/price-bg.png' ) no-repeat ;   
	opacity: 1;      
    text-align: center;
    position: absolute;
    top: 100%;
    margin-top: 0px;
    left:0;
    margin-left: 35px;
}
.popular-list .product .product-price {
    margin-top: -55px;
}
.product .product-title {
    color: #333333;
    font: 12px 'Tahoma';
    margin: 20px 0 0;
    text-align: center;
}
.pager {
    background: url("../images/catalog-tabs.jpg") no-repeat scroll 0 0 transparent;
    clear: both;
    float: left;
    height: 18px;
    margin: 20px 0 0;
    padding: 5px;
    width: 743px;
}
ul.yiiPager {
    float: left;
    height: 18px;
    margin: 0;
    padding: 0;
    width: 743px;
}
ul.yiiPager li.page a, ul.yiiPager li.previous a, ul.yiiPager li.next a {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #FFFFFF;
    float: left;
    font: bold 14px/21px 'Tahoma';
    height: 21px;
    margin: 0 3px;
    padding: 0 5px;
}
ul.yiiPager li.page.selected a {
    background: url("../images/pager-elems.png") no-repeat scroll left center transparent;
    height: 21px;
    line-height: 21px;
    padding: 0;
    text-align: center;
    width: 20px;
}
ul.yiiPager li.previous a {
    background: url("../images/pager-elems.png") no-repeat scroll center center transparent;
    float: left;
    height: 21px;
    margin-right: 180px;
    padding: 0;
    text-indent: -99999px;
    width: 20px;
}
ul.yiiPager li.next a {
    background: url("../images/pager-elems.png") no-repeat scroll right center transparent;
    float: right;
    height: 21px;
    padding: 0;
    text-indent: -99999px;
    width: 20px;
}
.breadcrumbs {
    color: #fff;
    font-weight: bold;
    margin: 0 0 15px;
}
.breadcrumbs a {
    font-weight: normal;
}
#search-terms div.form-item {
    background: url("../images/search-terms-sep.jpg") repeat-x scroll center bottom transparent;
    color: #1b3bdc;
    float: left;
    font: 11px/14px 'Tahoma';
    margin: 15px 24px 0;
    padding: 0 0 10px;
    width: 184px;
}
#search-terms div.form-item.param {
    border: medium none;
    padding: 0 0 5px;
    position: relative;
}
#search-terms label {
    background: url("../images/search-terms-sep.jpg") repeat-x scroll center bottom transparent;
    color: #1b3bdc;
    display: block;
    font: bold 11px 'Tahoma';
    margin: 0 0 10px;
    padding: 0 0 10px;
    width: 184px;
}
#search-terms input[type="text"] {
    background: url("../images/search-term-input.jpg") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #1b3bdc;
    height: 19px;
    line-height: 19px;
    margin: 0 2px;
    padding: 2px 5px;
    width: 47px;
}
.search-params-list div.form-item.param {
    float: left;
    margin: 5px 0 0 8px;
}
.search-params-list div.form-item.param label.header, .base-list a.header, .cabinet-block h5.title {
    background: url("../images/search-param-label.png") no-repeat scroll 0 0 transparent;
    color: #6c6b6b;
    cursor: pointer;
    float: left;
    font: 11px/27px 'Tahoma';
    height: 27px;
    padding: 0 0 0 10px;
    text-decoration: none;
	text-shadow: 1px 1px 0 #cdcdcd;
	text-transform: uppercase;
    width: 204px;
}
.cabinet-block h5.title {
    cursor: default;
    margin: 0;
}
.search-params-list div.form-item.param div.param-childs.hidden {
    display: none;
}
.search-params-list div.form-item.param div.param-childs {
    padding: 0 10px 5px;
}
.search-params-list div.form-item.param label {
    color: #708090;
    display: block;
    font: bold 11px 'Tahoma';
    margin: 3px 0;
}
.search-params-list div.form-item.param div.all-param-childs {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #C9CACA;
    border-radius: 4px 4px 4px 4px;
    display: none;
    left: 240px;
    margin-top: -50px;
    padding: 10px;
    position: absolute;
    width: 400px;
    z-index: 10;
}
.search-params-list div.form-item.param div.all-param-childs .param-header {
    background: none repeat scroll 0 0 #E6E6E6;
    font-weight: bold;
    margin: -10px -10px 5px;
    padding: 5px;
}
.search-params-list .param-header .closer {
    background: url("../images/dialog_close.png") no-repeat scroll 0 0 transparent;
    float: right;
    height: 24px;
    margin: 0;
    width: 24px;
}
.search-params-list div.form-item.param div.all-param-childs label {
    float: left;
    width: 200px;
}
.rating-line {
    float: left;
    width: 100%;
}
.ui-slider {
    background: url("../images/ui-slide.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    float: left;
    height: 6px;
    margin: 12px 10px 15px 0;
    width: 148px;
}
.ui-slider a.ui-slider-handle {
    background: url("../images/slide.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    height: 31px;
    margin: -8px -10px 0;
    padding: 0 5px;
    width: 6px;
}
.rating_text {
    border: 1px solid #1b3bdc;
    float: left;
    font: bold 12px/20px 'Tahoma';
    height: 20px;
    margin: 5px 0 0;
    text-align: center;
    width: 23px;
}
.rating-line span {
    float: left;
    height: 15px;
}
.rating-icons {
    background: url("../images/rating-icons.png") repeat-x scroll 50% 0 transparent;
    float: left;
    height: 16px;
    margin: 1px 0 0 5px;
    min-width: 18px !important;
}
.rating-icons[level="0"], .rating-icons.level-0 {
    background-position: 0 0;
}
.rating-icons[level="1"], .rating-icons.level-1 {
    background-position: 0 -16px;
}
.rating-icons[level="2"], .rating-icons.level-2 {
    background-position: 0 -32px;
}
.rating-icons[level="3"], .rating-icons.level-3 {
    background-position: 0 -48px;
}
.rating-icons[level="4"], .rating-icons.level-4 {
    background-position: 0 -64px;
}
#search-terms div.form-item.submit {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    margin-top: 0;
    padding-bottom: 0;
}
a.search-terms-sbmt {
    background: url("../images/search-terms-sbmt.png") no-repeat scroll 0 0 transparent;
    color: 216ff1;
    display: block;
    font: bold 12px/30px 'Tahoma';
    height: 32px;
    margin: 5px auto;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0;
    width: 92px;
}
#ajax-loader {
    background: url("../images/ajax-load.gif") no-repeat scroll center center transparent;
    clear: both;
    height: 40px;
    width: 100%;
}
#search-categories, .cabinet-block ul, .base-list ul {
    margin: 5px 10px;
    padding: 0;
}
.cabinet-block ul {
    float: left;
    margin: 0 10px 10px;
}
#search-categories li, .cabinet-block ul li, .base-list ul li {
    background: url("../images/search-terms-sep.jpg") repeat-x scroll center bottom transparent;
    list-style-type: none;
}
#search-categories li a, .cabinet-block ul li a, .base-list ul li a {
    color: #3990a1;
    display: block;
    font: 11px/14px 'Tahoma';
    padding: 7px 0;
    text-decoration: none;
    text-shadow: 1px 1px 0;
    width: 212px;
	text-transform: uppercase;
}
.cabinet-block ul li a, .base-list ul li a {
    padding: 5px 0;
    width: 190px;
}
#search-categories li a span {
    color: #000000;
    font-weight: normal;
}
.item .main {
    margin: 0 22px;
    width: 740px;
}
.item-block {
    float: left;
    margin: 10px 0;
    position: relative;
    width: 740px;
}
.item-title-container {
    float: right;
    position: relative;
    width: 100%;
}
h3.item-title {
    color: #333333;
    font: 16px 'Tahoma';
    margin: 0;
    overflow: hidden;
    padding: 0;
    white-space: nowrap;
    width: 405px;
}
.title-cutter {
    background: url("../images/item-cutter.png") no-repeat scroll 0 0 transparent;
    height: 25px;
    left: 100%;
    margin-left: -30px;
    position: absolute;
    width: 30px;
    z-index: 20;
}
.item-images {
    float: left;
    margin: 0;
    width: 312px;
}
.item-main-image {
    background: url("../images/ajax-load.gif") no-repeat scroll center center transparent;
    border: 1px solid #CCCCCC;
    height: 310px;
    position: relative;
    text-align: center;
}
.item-small-images {
    margin: 5px 0 0;
    padding: 5px 0;
    text-align: center;
}
.item-small-images img {
    border: 1px solid #CCCCCC;
    margin: 0 5px;
}
.item-info {
    float: right;
    width: 405px;
}
.item-price-wrapp {
    left: 5px;
    position: absolute;
    top: 5px;
    width: 315px;
    z-index: 10;
}
.item-price {
    float: right;
}
.item-price .left {
    background: url("../images/item-price-bg.png") no-repeat scroll left top transparent;
    float: left;
    height: 44px;
    width: 12px;
	opacity: 0.9;
}
.item-price .right {
    background: url("../images/item-price-bg.png") no-repeat scroll right top transparent;
    float: left;
    height: 44px;
    width: 14px;
	opacity: 0.9;
}
.item-price #price {
    background: url("../images/item-price-bg.png") repeat-x scroll center bottom transparent;
    color: #FFFFFF;
    float: left;
    font: 18px/44px 'Tahoma';
    padding: 0 5px;
    text-shadow: 1px 1px 0;
	opacity: 0.9;
}
.item-params {
    background: none repeat scroll 0 0 #f8f8fa;
    border: 1px solid #d6d6d6;	
    border-radius: 3px 3px 3px 3px;
    float: right;
    margin: 0 0 10px;
    padding: 10px 5px;
    width: 395px;
}
.item-params select {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ACACAC;
    color: #333333;
    font-size: 11px;
    height: 23px;
    width: 200px;
}
.item-params label {
    color: #484848;
    float: left;
    font: 11px/12px 'Tahoma';
    min-height: 12px;
    padding: 7px 15px 8px 0;
    text-align: right;
    width: 160px;
	text-transform: uppercase;
}
.item-param {
    float: left;
}
.item-params .form-item {
    float: left;
    margin: 0 0 7px;
    width: 100%;
}
.item-params input.item-count[type="text"] {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #ACACAC;
    color: #333333;
    float: left;
    font: 11px/19px 'Tahoma';
    height: 27px;
    padding: 5px 5px;
    text-align: right;
    width: 20px;
}
.item-count-price {
    float: left;
    font-size: 11px;
    height: 25px;
    line-height: 30px;
}
#count-price {
}
span#sum {
    color: #216ff1;;
	font-size: 14px;
}
.item-info-param {
    color: #333333;
    float: left;
    font: 11px/25px 'Tahoma';
    height: 25px;
}
a.buy-btn {
    background: url("../images/buy-btn.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    float: left;
    font: 13px/20px 'Tahoma';
    height: 23px;
    margin: 5px 120px 0;
    padding: 2px 0 0 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #d44b0f;
    width: 160px;
}
.item-clear {
    clear: both;
    float: left;
    width: 100%;
}
.item .tabs {
    float: left;
    margin-top: 20px;
}
.item-comments {
    float: left;
}
.comment {
    float: left;
    margin: 7px 0;
    width: 100%;
}
.comment-info {
    float: left;
    width: 130px;
}
.comment-author {
    clear: both;
    color: #0395CF;
    float: right;
    font: bold 12px/12px 'Tahoma';
    margin: 0 0 4px;
    text-align: right;
    width: 100%;
}
.comment-date {
    color: #838383;
    float: right;
}
.comment-text {
    background: url("../images/comment-top.jpg") no-repeat scroll center top transparent;
    color: #151515;
    float: left;
    font: 12px/15px 'Tahoma';
    margin: -4px 0 0 5px;
    padding: 10px 10px 5px 40px;
    width: 821px;
}
.comment-text-bottom {
    background: url("../images/comment-bottom.jpg") no-repeat scroll right center transparent;
    float: right;
    height: 11px;
    margin-right: 9px;
    width: 848px;
}
#seller-block {
    margin-top: 5px;
}
.seller-block .seller-info {
    background: url("../images/seller-image.png") no-repeat scroll left center transparent;
    margin: 0 0 0 10px;
    min-height: 80px;
    padding-left: 70px;
}
a.seller-name {
    color: #333333;
    display: block;
    font: bold 14px/20px 'Tahoma';
    margin: 0 0 10px;
    text-decoration: none;
}
.seller-rating {
    color: #333333;
    float: left;
    font: bold 14px 'Tahoma';
    margin: 0 0 0 3px;
}
.seller-rating-help {
    color: #216ff1;
    float: left;
    font: bold 11px 'Tahoma';
    margin: 0 0 3px;
}
.seller-block .seller-info .rating-icons {
    margin-top: -1px;
}
.seller-block .seller-info .helper-icon {
    margin: 2px 0 0 4px;
}
.seller-reviews {
    border-bottom: 1px solid #DED6E6;
    border-top: 1px solid #DED6E6;
    color: #333333;
    font: 12px/12px 'Tahoma';
    margin: 10px 15px 7px;
    padding: 7px 0;
    text-align: center;
}
.seller-products {
    border-bottom: 1px solid #DED6E6;
    float: left;
    margin: auto;
    padding: 5px;
    width: 200px;
}
.seller-products h5.title {
    color: #216ff1;
    font: bold 11px/14px 'Tahoma';
    margin: 0 0 5px;
    padding: 0 0 5px;
    text-align: center;
    width: 100%;
}
.seller-products h5.title span {
    color: #333333;
}
.seller-products a {
    border: 1px solid #555555;
    float: left;
    margin: 3px 0 3px 7px;
}
.seller-products a.first {
    clear: left;
}
.seller-block .all-items {
    background: url("../images/all-items.png") no-repeat scroll 0 0 transparent;
    border: medium none;
    color: #fff;
    float: left;
    font: bold 12px/27px 'Tahoma';
    height: 27px;
    margin: 5px 0 5px 50px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0;
    width: 108px;
}
.item-table {
    border: 1px solid #ACACAC;
    border-collapse: collapse;
    float: left;
    margin: 5px 5px 15px;
    width: 550px;
}
.soc-comments {
    float: left;
    margin: 5px 0 0 10px;
    width: 300px;
}
.item-table td {
    width: 150px;
}
.item-table td, .item-table th {
    border: 1px solid #ACACAC;
    font-size: 12px;
    margin: 0;
    padding: 4px;
    text-align: left;
}
.item-table th {
    font-weight: bold;
}
#message-block {
    left: 50%;
    margin-left: -275px;
    position: absolute;
    top: 300px;
    width: 520px;
    z-index: 200;
}
#message-block.notice {
    left: 0;
    margin: 0 0 10px;
    position: static;
    top: 0;
    width: 756px;
}
.message {
    background: url("../images/mess-bg.jpg") no-repeat scroll left center #D5EAEF;
    padding: 15px;
    width: 490px;
	width:385px; 
	padding:20px 45px 10px 45px; 
	font-size:12px 'Tahoma'; 
	color:#6c6b6b;  
	background:#e8e8e8;
	position: fixed;
	
	
}
#message-block.notice .message {
    width: 756px;
}
.message h3.title {
    color: #1A698E;
    font: bold 18px/22px 'Tahoma';
    margin: 0 5px 5px 0;
}
.message-text {
    min-height: 40px;
    padding: 0 7px 0 85px;
}
.message-bottom {
    height: 8px;
    width: 520px;
}
#message-close {
    background: url("../images/mess_close.jpg") no-repeat scroll 0 0 transparent;
    float: right;
    height: 19px;
    margin: 25px 0 0 0;
    width: 19px;
}
.cart .main, .checkout .main {
    float: left;
    margin: 0;
    width: 1002px;
}
.cart-table {
    margin: 10px 0;
    width: 1002px;
}
.cabinet.balance .cart-table, .orders .cart-table {
    width: 754px;
}

.products-list.featured {
    clear: both;
    float: left;
    margin: 0 0 10px;
}
.products-list.featured .product {
    border: 1px solid #216ff1;
    float: left;
    margin: 10px 0 0 8px;
    width: 165px;
}
.products-list.featured.carousel .product {
    border: medium none;
}
.products-list.featured .product.first {
    clear: left;
    margin-left: 0;
}
.products-list.featured .product .product-image {
    height: 110px;
    margin-bottom: 10px;
    text-align: center;
    width: 165px;
}
.products-list.featured .product .product-title {
    margin: 0 5px;
}
.products-list.featured .product .product-text {
    height: 40px;
    margin-bottom: 5px;
    text-align: center;
}
.products-list .product-category a {
    color: #AAAAAA;
    font-size: 10px;
    margin: 3px 5px;
    text-decoration: none;
}
.products-list .product-category a:hover {
    text-decoration: underline;
}
.cabinet .main {
    margin: 0 0 0 9px;
    width: 753px;
}
.cabinet-block {
    padding: 0 10px;
}
.cabinet .base-info {
    background: none repeat scroll 0 0 #f2f2f2;
    border: 1px solid #D9D3DE;
    color: #464646;
    float: left;
    margin: 0 0 10px;
    padding: 10px 15px;
    width: 723px;
}
.cabinet .base-info h3 {
    font: bold 14px 'Tahoma';
    margin: 0 0 10px;
    padding: 0;
}
.base-info .balance {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #D9D3DE;
    border-radius: 5px 5px 5px 5px;
    color: #464646;
    float: left;
    font: 11px/25px 'Tahoma';
    height: 25px;
    padding: 0 10px;
    width: 170px;
	text-transform: uppercase;
}
.base-info .balance strong {
    color: #216ff1;
    float: right;
    font-size: 14px;
}
.base-info .edit-profile {
    color: #3990a1;
    float: right;
    font: 12px 'Tahoma';
}
.cabinet.tabs {
    background: url("../images/cabinet-tabs.png") no-repeat scroll center bottom transparent;
    border-bottom: medium none;
    clear: both;
    float: left;
    height: 39px;
    width: 753px;
}
.cabinet-content {
    color: #404040;
    float: left;
    padding: 5px;
    width: 753px;
}
.cabinet-content p {
    margin: 5px 0;
}
ul.orders-by-status {
    float: left;
    margin: 5px 0 0 25px;
    padding: 0;
}
ul.orders-by-status li {
    border-bottom: 1px solid #D6D6D6;
    height: 15px;
    list-style-image: url("../images/cabinet-list.jpg");
    list-style-type: none;
    margin: 0;
    padding: 7px 0 7px 3px;
}
ul.orders-by-status li a {
    color: #404040;
    text-decoration: none;
}
ul.orders-by-status li a:hover {
    text-decoration: underline;
}
ul.orders-info {
    float: left;
    margin: 5px 0 0 25px;
}
ul.orders-info li {
    color: #9C9C9C;
    font-size: 12px;
    height: 30px;
    line-height: 30px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.page .main {
    margin: 0 0 0 10px;
    width: 750px;
}
.zaglushka .row {
    position: relative;
}
.zaglushka .row span {
    color: #999999;
    left: 100%;
    line-height: 25px;
    margin-left: -200px;
    position: absolute;
    text-align: left;
    width: 200px;
}
.brands-list .products-list.featured .product {
    margin-left: 21px;
}
.item-counters {
    background: url("../images/item-counters.jpg") no-repeat scroll 0 0 transparent;
    float: left;
    height: 37px;
    margin: 1px 5px 0 1px;
    width: 17px;
}
.item-counters a {
    display: block;
    height: 25px;
    width: 25px;
}
.cabinet-desc {
    font-size: 16px;
    margin: 0 0 10px;
}
.cabinet-orders-table {
    width: 100%;
}
.cabinet-orders-table th {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 #216ff1;
    border-color: #Cfff #216ff1;
    border-image: none;
    border-left: 1px solid #216ff1;
    border-right: 1px solid #216ff1;
    border-style: solid;
    border-width: 1px;
    color: #323232;
    height: 25px;
    text-shadow: 1px 1px 0;
}
.cabinet-orders-table td {
    border: 1px solid #DEDEDE;
    color: #323232;
    padding: 10px;
    text-align: center;
}
.blog-link {
    position: relative;
}
.blog-link span.icon {
    background: url("../images/blog-item.png") no-repeat scroll 0 0 transparent;
    height: 26px;
    left: 50%;
    margin: 0 0 0 -5px;
    position: absolute;
    top: -20px;
    width: 51px;
}
.page .content {
    color: #383838;
    font-size: 14px;
    line-height: 16px;
    padding: 10px;
}
.page .content p {
    margin: 3px 0 10px;
}
.page .content hr {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background: none repeat scroll 0 0 transparent;
    border-color: #C9C9C9 -moz-use-text-color -moz-use-text-color;
    border-image: none;
    border-right: medium none;
    border-style: solid none none;
    border-width: 1px medium medium;
    margin: 0 0 10px;
    width: 80%;
}
.link-list {
    margin-bottom: 20px;
}
.link-list ul {
    margin-left: 15px;
}
.link-list ul li {
    list-style-image: url("../images/category-dote.jpg");
    margin: 6px 0;
    padding-left: 5px;
}
.link-list ul li a {
    color: #3C3C3C;
    text-decoration: none;
}
.link-list ul li a:hover {
    text-decoration: underline;
}
.link-list h4 {
    margin-bottom: 10px;
}
.link-list h4 a, .link-list h4 {
    color: #216ff1;
    font-size: 18px;
    font-weight: bold;
    text-decoration: underline;
}
.link-list h4 a:hover {
    text-decoration: none;
}
.category-column {
    float: left;
    width: 400px;
}
.all-category .main {
    margin: 0;
    width: 1000px;
}
.all-category .main .content {
    padding: 0 100px;
    width: 800px;
}
.weight-desc {
    float: left;
    margin: 0 40px 0 0;
    text-align: justify;
    width: 400px;
}
.weight-table {
    float: left;
    width: 300px;
}
form.delivery {
    clear: both;
    width: 100%;
}
form.delivery label {
    display: block;
    float: none;
    font: bold 12px/20px 'Tahoma';
    height: 20px;
    margin: 10px 0;
    text-align: left;
    width: 525px;
}
form.delivery .hint {
    color: #999999;
    margin-left: 0;
    width: 525px;
}
form.delivery input[type="submit"] {
    clear: both;
    margin: 10px 0;
}
.checkout .content h3 {
    color: #216ff1;
    font: bold 15px 'Tahoma';
}
.checkout .content h4 {
    border-bottom: 1px solid #E1E1E1;
    color: #216ff1;
    font: bold 13px 'Tahoma';
    padding-bottom: 5px;
}
.checkout .total-sum {
    background: none repeat scroll 0 0 #F8F8F8;
    border: 1px solid #CBCBCB;
    border-radius: 5px 5px 5px 5px;
    font: 15px 'Tahoma';
    margin: 0 10px 10px;
    padding: 10px;
}
.checkout .payment-error {
    background: none repeat scroll 0 0 #FFDDDD;
    border: 1px solid #FF0000;
    border-radius: 5px 5px 5px 5px;
    font: 15px 'Tahoma';
    margin: 0 10px 10px;
    padding: 10px;
}
.checkout textarea {
    border: 1px solid #CCCCCC;
    font: 12px/14px 'Tahoma';
    height: 60px;
    padding: 3px;
    width: 500px;
}
.checkout-delivery-info {
    font-size: 12px;
}
.checkout .cart-table p {
    font-size: 13px;
}
.checkout .cart-table p strong {
    color: #fff;
    font-size: 14px;
}
.calculator {
    border: 1px solid #CCCCCC;
    border-collapse: collapse;
}
.calculator td, .calculator th {
    border: 1px solid #CCCCCC;
    padding: 10px;
}
#help-block .block-content {
    margin: 0 8px;
}
#help-block .block-content .header {
    margin-bottom: 5px;
}
.auth-block {
    color: #626262;
    float: right;
    font: 11px/14px 'Tahoma';
    text-decoration: none;
    text-shadow: 1px 1px 0 #f1f1f1;
    text-align: center;
}
.auth-block a.login-btn {
    background: url("../images/enter-btn.png") no-repeat scroll 0 0 transparent;
    color: #FFFFFF;
    float: left;
    font: 12px/20px 'Tahoma';
    height: 40px;
    margin: 2px 0 0 5px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #cb521b ;
    width: 100px;
}
.auth-block a.reg-btn {
    background: url("../images/reg-btn.png") no-repeat scroll 0 0 transparent;
    color: #fff;
    float: left;
    font: 12px/20px 'Tahoma';
    height: 40px;
    margin: 2px 0 0 8px;
    text-align: center;
    text-decoration: none;
    text-shadow: 1px 1px 0 #686868;
    width: 100px;
}
.basket_btn {
    float: right;
    margin: -30px 50px 2px 2px;
}
.txt {
    font: 11px 'Tahoma';
    color: #696969;
	text-align: left;
	float: center;
    height: 50px;
    margin: 20px 0 30px;
    width: 980px;
}
.h2 {
    font: 13px 'Tahoma';
    color: #3990a1;
	text-transform: uppercase;
}
.title_h2 {
    font: 14px 'Tahoma';
    color: #126a7b;
	text-align: left;
    margin: -20px 0 5px;
	text-transform: uppercase;
    text-shadow: 1px 1px 0 #f6f6f6;
}