.static-right-banner{
    position: fixed;
    right: 0;
    bottom: 150px;
    z-index: 999;
}
.static-right-banner ul li a{
    width: 128px;
    height: 65px;
    cursor: pointer;
    display: block;
}
html,body {
    min-width: 1200px;
    font-family: 'Open Sans', sans-serif;
}

#search-sort {
    float: right;
    display: inline-block;
    padding-top: 3px;
    margin-right: 0px;
}

#search-sort label {
    margin-right: 30px;
}

.price .product-promotion {
    font-size: 12px;
}

.product-container .comments_note {
    overflow: visible;
}

.product-container .comments_note .rating {
    margin: 0;
}

.rating-2{
    display: inline-block;
    width: inherit;
    padding: 10px 0;
    margin: 0;
    float: right;
}

.rating-2 span{
    position: relative;
    top: -5px;
    margin-right: 5px;
}

.no-float{
    float: inherit;
}

.pos-slideshow-container{
    margin-top: 40px;
}
#currencies-block-top ul {
    display: none;
    position: absolute;
    top: 43px;
    right: 0;
    left:59 !important;
    width: 55px;
    background: #474E58;
    z-index: 2;
    border-radius: 5px;
}

#languages-block-top div.current strong {
    color: #FFF !important;
}

#languages-block-top ul {
    display: none;
    position: absolute;
    top: 43px;
    right: 0;
    width: 58px !important;
    background: #474E58;
    z-index: 2;
    border-radius: 5px;}

#languages-block-top ul li.selected {padding-left: 0px !important;}

.order-button {
    background: #fff !important;
    border: 0;
    display: block;
    text-align: center;
    margin: 20px 0;
}

.order-button span {
    background: #fff !important;
    color: #777;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
}

.order-button span:hover {
    background: #fff !important;
    color: #3bb89f;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
}

.order-button span:hover {
    background: #fff !important;
    color: #3bb89f;
    font-size: 16px;
    text-transform: uppercase;
    padding: 0;
}

.product-name {
    display: none;
}

.list .right-block .name {
    visibility: hidden;
}

.list .center-block h5{

}

.grid .right-block h5{
    height: 20px;
    visibility: hidden;
}

.list .center-block .content_price{
    position: absolute;
    top: 50px;
    right: 0;

}

.product_list.grid .button-container-list{
    display: none;
    visibility: hidden;
}

.list .center-block .product-desc{
    position: absolute;
    bottom: 0;
}

.list .center-block {
    min-height: 160px;
}

.ui-slider-horizontal .ui-slider-range {
    background: #f1f1f1;
    height: 12px;
    display: inline-block;
    width: 100%;
}

#layered_block_left .layered_slider_container .ui-state-default {
    background: url(/img/bg-layered-nav.png) 0 0 no-repeat;
    /*display: inline-block;*/
    /*position: absolute;*/
    /*top: 0;*/
}

ul.product_list.list .right-block {
    position: absolute;
    right: 0;
    top: 115px;
    text-align: right;
}

/*ul.product_list .right-block {*/
    /*display: none;*/
    /*position: absolute;*/
    /*right: 0;*/
    /*top: 115px;*/
    /*text-align: right;*/
/*}*/


ul.product_list.list .content_price {
    min-width: 120px;
}
.form-reg{
    margin-bottom: 15px;
    width: 300px;
}
.breadcrum{
    margin-bottom: 0;
    font-size: 14px;
    padding: 0 0 0 10px;
    display: inline-block;
    width: 100%;
    background: #f1f1f1;
    line-height: 30px;
    color: #45d8bb;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    line-height: 50px;
    text-transform: capitalize;
}
.form-reg input{
    width: 270px;
}
div .row .field_email{
    width: 300px !important;
    padding-left: 15px;
}
#CabinetForm_password{
   width: 285px;
margin-left: 15px;
}
label[for="CabinetForm_password"]{
width: 300px;
 padding-left: 15px;

}
div .row .field_password{
    width: 300px;
}
div .row .field_rememberMe{
    width: 300px;
    margin-left: 0px;
}
div .row .field_rememberMe{
    width: 300px;
    margin-left: 0px;
}
.yiiPager{
    float: right;
    padding-left: 0;
    margin: 18px 0;
    border-radius: 0px;
}

ul.yiiPager .selected a {

    background: #45d8bb !important;
    border: solid 1px #45d8bb !important;
    color: #fff !important;
}

ul.yiiPager a:hover{
    background-color: #45d8bb !important;
    border: solid 1px #45d8bb !important;
    color: #fff !important;

}

ul.yiiPager a:link, ul.yiiPager a:visited {
    background: #f1f1f1;
    border: solid 1px #f1f1f1;
    font-weight: bold;
    color: #000;
    padding: 7px 11px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
#yw0_button{
    float: left;
    margin-top: 51px;
    margin-left: -119px;
}
#yw0{
    float: left;
}
.button_delete{
    font-size: 23px;
    color: #333;
}
.cart_block .cart-prices {
    border-top: 1px solid #d6d4d4;
    padding: 10px 20px 4px 20px !important;
}
#layered_form a.button.btn.btn-default.button-medium {
    padding: 10px 15px;
}
.pb-center-column #short_description_block #short_description_content p{
    font-size: 12px;
}

.center{
    text-align: center;
}

.box-info-product p.our_price_display span, #layer_cart span.ajax_block_products_total, #layer_cart span.ajax_cart_shipping_cost, #layer_cart span.ajax_block_cart_total, #layer_cart_product_price{
    font-weight: bold;
    margin: 15px 0;
    display: inline-block
}

.input-props-text ul, .input-props-images ul{
    width: 365px;
}

.input-props-images ul li, .input-props-text ul li{
    float: left;
    margin:3px;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
}

.input-props-images ul li.ui-selected, .input-props-text ul li.ui-selected{
    border: 1px solid #838383;
}

#quantity_wanted_p .quantity_label{
    font-weight: bold;
    padding: 25px;
    display: inline-block;
    position: relative;
    top: -10px;
    padding-bottom: 5px;
}
#stock_p .stock_label {
    font-weight: bold;
    display: inline-block;
    position: relative;
    text-align: right;
    width: 110px;
    margin-right: 24px;
}
.quantity_body{
    display: inline-block
}

#stock_p .weight{
    margin-top: 14px;
    width: 110px;
}

button[disabled].buy-btn {
    background: #ddd;
}

.buy-hint{
    font-size: 11px;
    margin-top: 10px;
    font-style: italic;
}

.newshow .rating{
    display: inline;
    position: relative;
    top: 3px;
}

#idTab5 ul li{
    padding-bottom: 5px;
}

#idTab1 a{
    cursor: default;
}
.l-banner{
    margin-top: 20px;
}

#languages-block-top div.current:after{
    content: "";
}

#layered_form div div ul{
    max-height: inherit;
}

#layered_form div.checker{
    display: inline;
    float: left;
    margin-top: 8px;
    height:23px;
    overflow: hidden;
}
.over_hide{
overflow:hidden;
}
.max-width{
width:100000px;
}
.mini_cart {
background: url(../img/Teal_Magenta/icon-cart.png) 0 0 no-repeat;
}
.mini_cart{
padding: 5px 0 5px 73px;
z-index: 9999;
display: inline-block;
text-align: left;
height: 60px;
}
a.mini_cart b {
color: #777;
font: 600 18px/26px "titilliumweb", sans-serif;
padding-right: 5px;
display: block;
text-transform: uppercase;
}
a.mini_cart span {
font-size: 16px;
line-height: 24px;}
.left-col{
margin-top:20px;
}
.p.notfound{font-size: 19px}

.content_sortPagiBar .sortPagiBar label, .content_sortPagiBar .sortPagiBar select{
    float: right;
}

.alert{
    font-family: "FontAwesome";
}

#layer_cart2 h2{
    font-size:18px;
    color: #46a74e;
    margin-bottom: 22px;
    margin-top:10px;
}

.summary{
    text-align: right;
    margin-bottom: 10px;
}
translate{display: none}

.cabinet-content .cart-table { padding:0; }
.cabinet-content .cart-table .cart-info {
    float:left;
    text-align:left;
    width:334px;
}
.cabinet-content .cart-table .cart-info, .cabinet-content .cart-table .product-image, .cabinet-content .cart-table .cost, .cabinet-content .cart-table .sum { padding:5px; }
.cabinet-content .cart-table .cost, .cabinet-content .cart-table .sum, .cabinet-content .cart-table .sum s {
    font:700 15px "Arial";
    width:68px;
}
.cabinet-content .cart-table .param {
    padding:5px;
    width:228px;
}
.cabinet-content .cart-table .product-image { width:105px; }
.cabinet-content .cart-table .product-image img {
    height:100px;
    width:100px;
}
.cabinet-content .cart-table .product-q { width:70px; }
.cabinet-content .cart-table input { width:50px; }
.cabinet-content .header {
    font-weight:700;
    text-transform:uppercase;
}

.ui-widget-content{
    background-color: #fff;
}

.accordion span.ui-icon{
    float: right;
}

.accordion li ul{
    margin: 20px 25px 0;
}

ul.product_list.grid > li{
    min-height: 250px;
}

ul.product_list.grid > li .product-container .content_price{
    text-align: center;
    font-weight: bold;
    float: none;
}

#layered_block_left ul li label{
    display: block;
}
#layered_form input[type=radio]{
    float: left;
    margin-right: 15px;
}

#layered_form div.checker{
    float: none;
    display: block;
    width: 100%;
}
div.checker span{
top: 0;
}
.fa{
    font-size: 0.9em;
    margin-left: 2px;
}

.cabinet-content .two-btn{
    margin-top: -42px;
}