body {
  color: #404040;
  height: 100%;
  line-height: 1.2
}

html, body {
  -moz-background-size: cover; /* CSS3 */; /* Gecko 1.9.2 (Firefox 3.6) */
  -o-background-size: 102% auto; /* Konqueror 3.5.4 */
  background-size: cover; /* Opera 9.5 */
  -webkit-background-size: 102% auto; /* Safari 3.0 */
  -khtml-background-size: cover;
  background: url('../images/background.jpg') no-repeat center center fixed;
  color: #000000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  height: 100%
}

header {
  height: 200px;
  position: relative
}

input.buy-btn, input.fav-btn, input.cont-btn {
  -moz-box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.506);
  -webkit-box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.506);
  background-color: #00c9e2;
  border: solid 2px #ebe7ea;
  box-shadow: 10px 10px 10px -8px rgba(0, 0, 0, 0.506);
  color: #ffffff;
  font: 700 11px/20px "Arial";
  height: 37px;
  margin: 25px 5px 25px 10px;
  padding: 0 20px;
  text-align: center;
  text-transform: uppercase;
  width: 175px
}

input.buy-btn:hover, input.fav-btn:hover {
  background-color: #1fdbe2
}

input.fav-btn {
  width: 170px
}

input:disabled {
  background-color: #cacaca
}

input:disabled:hover {
  background-color: #cacaca
}

span.dot {
  position: absolute;
  text-indent: -1000em
}

span.line-through {
  text-decoration: line-through
}

span.ruble {
  text-transform: uppercase
}

translate {
  display: none;
  left: 0;
  position: relative;
  top: 0;
  z-index: 1000
}

translation:hover translate {
  cursor: pointer;
  display: inline-block
}

ul.yiiPager {
  float: left;
  height: 25px;
  margin-bottom: 10px;
  padding: 0;
  width: 700px
}

ul.yiiPager li {
  float: left;
  list-style: none none
}

ul.yiiPager li.next {
  float: right;
  height: 28px;
  margin: 0 0 0 100px;
  padding: 0 10px 0 0
}

ul.yiiPager li.page {
  margin: 6px 3px 3px
}

ul.yiiPager li.page a, ul.yiiPager li.previous a, ul.yiiPager li.next a {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  border: none;
  color: #000000;
  float: left;
  font: 12px/14px 'Tahoma';
  height: 14px;
  padding: 10px;
  text-align: center;
  width: 16px
}

ul.yiiPager li.page a:hover, ul.yiiPager li.previous a:hover, ul.yiiPager li.next a:hover {
  background: #e2e1e1;
  text-decoration: none
}

ul.yiiPager li.previous {
  float: left;
  height: 28px;
  margin: 0 60px 0 0;
  padding: 0 0 0 10px
}

ul.yiiPager li.previous a, ul.yiiPager li.next a {
  margin: 6px 0 0
}

#ajax-load {
  background: url('../images/ajax-load.gif') center center no-repeat;
  height: 80px;
  position: absolute;
  width: 756px
}

#ajax-loader {
  background: url('../images/ajax-load.gif') center center no-repeat;
  clear: both;
  height: 40px;
  width: 100%
}

/*
#comment-comment-form label {
  width: 175px
}
*/

/* jquery.autocomplete AutoComplete search query */
.ac_loading {
  //background: url('../images/autocomplete_indicator.gif') right center no-repeat
}

.ac_over {
  background-color: #cccccc;
  color: #000000
}

.ac_results {
  //#width: 363px;
  background-color: Window;
  border-top: none;
  border: 1px solid #bababa;
  overflow: hidden;
  padding: 0;
  z-index: 100000000
}

.ac_results iframe {
  /*sorry for IE5*/
  display : block;
  position: absolute;
  display: none;
  filter: mask();
  height: 3000px;
  left: 0;
  top: 0;
  width: 3000px
}

.ac_results li {
  //#width: 100%;
  cursor: pointer;
  display: block;
  font-size: 12px;
  font: menu;
  margin: 0;
  overflow: hidden;
  padding: 2px 5px;
  position: relative
}

.ac_results ul {
  //#width: 363px;
  list-style-position: outside;
  list-style: none;
  margin: 0;
  padding: 0
}

.accordion {
  font-size: 10px;
  font-weight: normal
}

.accordion a {
  background: none;
  display: block;
  padding: 6px 6px 6px 10px;
  position: relative;
  text-decoration: none
}

.accordion a .ui-icon {
  float: right;
  opacity: 0.5
}

.accordion a .ui-icon:active {
  float: right;
  opacity: 1
}

.accordion a.dcjq-parent {
  background: #ffffff;
  color: #3bb3c2;
  font-size: 12px;
  font-weight: 700
}

.accordion a.dcjq-parent:hover {
  background: #ded9e2;
  color: #000000
}

.accordion a:hover {
  background-color: #ded9e2;
  color: #083b5a
}

.accordion li ul a {
  color: #5d5c5c;
  font-size: 12px;
  padding-left: 15px
}

.accordion, .accordion li {
  border: none;
  font-size: 11px;
  font-weight: normal;
  list-style-type: none;
  margin: 0;
  padding: 2px 2px 2px 0
}

.after-head {
  height: 15px
}

.answer {
  border-color: #00aa00 !important;
  margin-left: 50px !important
}

/*Я бы не сказал, что это - правильный синтаксис - проверить*/
.blue-btn.bigger:disabled, a.blue-btn.bigger:disabled {
  background: #d6d6d6;
  color: #000000
}

.blue-btn.bigger:hover, a.blue-btn.bigger:hover {
  background: #1fdbe2
}

.breadcrumbs {
  color: #ffb0b0;
  margin: 10px 15px
}

.breadcrumbs span {
  color: #00bcff
}

.chosen-container {
  font-size: 14px
}

.chosen-container-single .chosen-single div b {
  background: url("../images/chosen-sprite.png") 0 0 no-repeat transparent;
  display: block;
  height: 100%;
  width: 100%
}

.chosen-container-single .chosen-single span {
  -ms-text-overflow: clip;
  -o-text-overflow: clip;
  color: #000000;
  display: inline-block;
  line-height: 1.2em;
  margin-right: 6px;
  max-width: 180px;
  text-overflow: clip;
  width: auto
}

.editable {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border: solid 1px transparent;
  box-sizing: border-box
}

.editable:hover {
  background: #ffe8e9 !important;
  border: solid 1px #0093f5
}

.grid-view table.items td {
  vertical-align: top
}

.grid-view table.items td img {
  background-color: #ffffff;
  border: solid 1px;
  height: 40px;
  margin: 1px 1px -2px 1px;
  width: 40px
}

/* Юзается в бутстрапе, наверное удалить*/
/*.help-block ul {
  background: #ded9e2;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.3);
  margin: 0;
  padding: 0
}

.help-block ul li {
  display: block;
  list-style: none;
  margin: 0 5px 0 25px;
  padding: 5px
}

.help-block ul li a {
  color: black;
  font: 12px 'Tahoma';
  text-decoration: none
}

.help-block ul li a:hover {
  text-decoration: underline
}
*/
.image .orderPreviewVisible:hover .orderPreviewHidden {
  max-width: 900px;
  top: -73px
}

.link-list {
  display: block;
  float: left;
  width: 100%
}

.link-list div {
  padding: 0;
  text-align: left
}

.link-list h4 {
  border-bottom: 1px solid #404040;
  color: #ff0000;
  font: bold 16px 'Tahoma';
  margin: 0 10px;
  padding: 0
}

.link-list img {
  border: solid 1px transparent;
  margin: 1px;
  padding: 1px
}

.link-list img:hover {
  border: solid 1px #00bcff;
  padding: 1px
}

.link-list ul {
  padding: 0;
  text-align: left
}

.link-list ul li {
  display: inline-block;
  padding: 0 10px;
  text-align: center
}

.link-list ul li a {
  font: 11px 'Tahoma';
  text-decoration: none
}

.link-list ul li img {
  height: 50px;
  width: 50px
}

.link-list.first {
  //#clear: left
}

.link-list:hover {
  background-color: #e4fcff
}

.list-view {
  border: 0
}

.orderPreview {
  position: absolute
}

.orderPreviewHidden {
  display: none
}

.orderPreviewHidden img, .orderPreviewVisible img {
  border: solid 1px #ffffff;
  padding: 1px
}

.orderPreviewVisible {
  position: relative
}

.orderPreviewVisible img:hover, .orderPreviewHidden img:hover {
  border: solid 1px #00cce6
}

.orderPreviewVisible:hover .orderPreviewHidden {
  background-color: #ffffff;
  display: block;
  max-width: 277px;
  position: relative;
  top: -60px;
  z-index: 100000
}

/* Говорят - юзается, но на мой взгляд - нет */
/*.search-block input[type=submit] {
  background: url('../images/btn-search.png') no-repeat;
  border: none;
  font: bold 14px 'Tahoma';
  height: 28px;
  margin: 0 0 0 15px;
  text-shadow: #8d8d8d 1px 1px 0;
  width: 98px
}

.search-block label {
  color: #ffffff;
  float: left;
  font: bold 12px/25px 'Tahoma', sans-serif;
  height: 25px;
  margin: 0 10px 0 0;
  text-shadow: #345260 1px 1px 0
}
*/


.subtitle {
  margin: 10px 0;
  text-align: left
}

.subtitle2 {
  color: #ff0000;
  font-size: 15px
}

.ui-accordion .ui-accordion-content {
  padding: 0 !important
}

.ui-accordion .ui-accordion-header {
  font: 700 12px Arial !important;
  margin-bottom: 5px;
  padding: 3px 3px 3px 25px !important
}

.ui-button.update {
  background: #00bcff;
  float: left;
  min-width: 179px
}

.ui-dialog textarea {
  resize: none
}

.ui-icon-pencil {
  //#float: left;
  background-position: -66px -114px !important;
  display: inline-block !important;
  height: 11px !important;
  opacity: 0.3;
  padding-right: 3px;
  width: 11px !important
}

.ui-icon-pencil:hover {
  cursor: pointer;
  opacity: 1
}

.ui-slider {
  background: url('../images/slider_bg.jpg') no-repeat;
  border: none;
  float: left;
  height: 6px;
  margin: 15px 10px 15px 0;
  width: 167px
}

.ui-slider a.ui-slider-handle {
  background: url('../images/slide.jpg') no-repeat;
  border: none;
  height: 28px;
  margin-top: -7px;
  width: 14px
}

.ui-widget input {
  background-color: #ffffff;
  border: 0 !important
}

.ui-widget-header {
  background: #e2e1e1 !important;
  border: #7f7b83 !important;
  font-weight: normal !important
}
