.tp-caption.medium_grey {
color:#ffffff;
font-size:44px;
line-height:44px;
font-weight:100;
font-family:breeserif;
text-decoration:none;
padding:5px 10px 5px 10px;
text-transform:uppercase;
background:transparent;
background-color:rgb(61, 76, 91);
background-color:rgba(61, 76, 91, 0.5);
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.medium_grey1 {
color:#ffffff;
font-size:20px;
line-height:20px;
font-family:titilliumweb;
text-decoration:none;
padding:5px 10px 5px 10px;
background-color:transparent;
background:#cfc9c3;
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.tp-caption.medium_grey2 {
text-decoration:none;
padding:5px 10px 5px 10px;
background-color:transparent;
background:none;
font-size:14px;
line-height:14px;
color:#777;
border-radius:5px 5px 5px 5px;
border-width:0px;
border-color:rgb(119, 119, 119);
border-style:none;
}

.tp-caption.link {
color:#ffffff;
font-size:14px;
line-height:24px;
text-decoration:none;
padding:5px 10px 5px 10px;
background:#939da4;
background-color:#939da4;
text-transform:uppercase;
border-radius:5px 5px 5px 5px;
border-width:0px 0px 3px 0px;
border-color:rgb(255, 255, 255) rgb(255, 255, 255) rgb(129, 140, 149) rgb(255, 255, 255);
border-style:none none solid none;
}

.tp-caption.link:hover {
color:rgb(255, 255, 255);
font-size:14px;
line-height:24px;
text-decoration:none;
padding:5px 10px;
background:#45d8bb;
border-radius:5px 5px 5px 5px;
border-width:0px 0px 3px 0px;
border-color:rgb(255, 255, 255) rgb(255, 255, 255) rgb(35, 167, 148) rgb(255, 255, 255);
border-style:none none solid none;
}

.tp-caption.title2 {
text-decoration:none;
background-color:transparent;
font-size:44px;
font-family:breeserif;
line-height:44px;
background:rgba(211,75,45,0.5);
padding:10px;
text-transform:uppercase;
color:#fff;
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.tp-caption.subtitle2 {
text-decoration:none;
background-color:transparent;
background:rgba(241,175,9,0.5);
padding:5px 10px;
text-transform:uppercase;
color:#fff;
font-size:20px;
font-family:titilliumweb;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.nitro2 {
text-decoration:none;
background-color:transparent;
background:none;
padding:5px 10px 5px 10px;
color:#fff;
font-size:14px;
border-width:0px;
border-color:rgb(119, 119, 119);
border-style:none;
}

.tp-caption.big_black {
text-decoration:none;
background:#d34b2d;
padding:5px 10px 5px 10px;
color:#ffffff;
font-size:14px;
line-height:24px;
text-transform:uppercase;
background-color:#d34b2d;
border-radius:5px 5px 5px 5px;
border-width:0px 0px 3px 0px;
border-color:rgb(185, 60, 32);
border-style:none none solid none;
}

.tp-caption.big_black:hover {
text-decoration:none;
background:#d34b2d;
padding:5px 10px 5px 10px;
color:#fff;
font-size:14px;
line-height:24px;
text-transform:uppercase;
background-color:#818C95;
border-radius:5px 5px 5px 5px;
border-width:0px 0px 3px 0px;
border-color:rgb(95, 104, 111);
border-style:none none solid none;
}

.tp-caption.title3 {
text-decoration:none;
background-color:transparent;
font-size:44px;
line-height:44px;
font-family:breeserif;
padding:10px;
background:rgba(116,92,74,0.5);
color:#fff;
text-transform:uppercase;
border-width:0px;
border-color:rgb(34, 34, 34);
border-style:none;
}

.tp-caption.subtitle3 {
text-decoration:none;
background-color:transparent;
padding:5px 10px;
background:rgba(42,38,42,0.5);
text-transform:uppercase;
color:#fff;
font-size:20px;
line-height:20px;
border-width:0px;
border-color:rgb(255, 255, 255);
border-style:none;
}

.tp-caption.intro3 {
text-decoration:none;
background-color:transparent;
padding:5px 10px 5px 10px;
background:none;
color:#777;
font-size:14px;
line-height:14px;
border-width:0px;
border-color:rgb(119, 119, 119);
border-style:none;
}

.tp-caption.link3 {
color:rgb(255, 255, 255);
font-size:14px;
line-height:24px;
text-decoration:none;
padding:5px 10px;
text-transform:uppercase;
background:#b4a8a0;
border-radius:5px 5px 5px 5px;
border-width:0px 0px 3px 0px;
border-color:rgb(154, 143, 136);
border-style:none none solid none;
}

.tp-caption.link3:hover {
font-size:14px;
line-height:24px;
color:rgb(255, 255, 255);
text-decoration:none;
padding:5px 10px;
background:#939da4;
text-transform:uppercase;
border-radius:5px 5px 5px 5px;
border-width:0px 0px 3px 0px;
border-color:rgb(255, 255, 255) rgb(255, 255, 255) rgb(129, 140, 149) rgb(255, 255, 255);
border-style:none none solid none;
}

