* html .wrapper { height:100%; }
a.basket-info {
  float:left;
  font:12px/15px 'Tahoma';
  margin:-35px 0 0 -15px;
  text-align:center;
  text-decoration:none;
  width:165px;
}
a.seller-name {
  color:#00c9e2;
  font:bold 12px/14px 'Tahoma';
  margin:0;
  text-decoration:none;
}
div.form {
  margin:0;
  padding:0 10px;
  width:auto;
}
div.form .errorMessage {
  color:red;
  float:left;
  font-size:0.9em;
  margin:3px 0 0 165px;
}
div.form .errorSummary {
  background:#ffeeee;
  border:2px solid #cc0000;
  font-size:0.9em;
  margin:0 0 20px 0;
  padding:7px 7px 12px 7px;
}
div.form .errorSummary p {
  margin:0;
  padding:5px;
}
div.form .errorSummary ul {
  margin:0;
  padding:0 0 0 20px;
}
div.form .hint {
  color:#999999;
  margin:0 0 0 165px;
  padding:0;
}
div.form .note { font-style:italic; }
div.form .payment-systems .desc input {
  display:block;
  float:none;
  height:20px;
  margin:5px 0 0;
}
div.form .payment-systems input { margin:0 5px; }
div.form .payment-systems label {
  display:block;
  float:none;
  font:13px/13px 'Tahoma';
  height:auto;
  margin:0 0 5px;
  padding:0;
  text-align:left;
  width:550px;
}
div.form .payment-systems label img {
  float:left;
  margin:0 10px 10px;
}
div.form .row {
  float:left;
  margin:5px 0;
  width:100%;
}
div.form .row:focus { background-color:#e4fcff; }
div.form div.error input, div.form div.error textarea, div.form div.error select, div.form input.error, div.form textarea.error, div.form select.error {
  background:#ffeeee;
  border-color:#cc0000;
}
div.form div.error label, div.form label.error, div.form span.error { color:#cc0000; }
div.form div.row.captcha-row {
  margin-left:165px;
  text-align:center;
  width:200px;
}
div.form div.row.captcha-row a { display:block; }
div.form div.success input, div.form div.success textarea, div.form div.success select, div.form input.success, div.form textarea.success, div.form select.success {
  background:#fff2f9;
  border-color:#ff0000;
}
div.form fieldset {
  -moz-border-radius:7px;
  border:1px solid #dddddd;
  margin:0 0 10px 0;
  padding:10px;
}
div.form input[type=checkbox], div.form input[type=radio] {
  background:0;
  border:0;
  color:#00bcff;
  float:left;
  height:17px;
  margin:3px 5px;
  width:17px;
}
div.form input[type=submit], div.form input[type=button] { float:none; }
div.form input[type=text], div.form input[type=password], div.form select, div.form textarea {
  float:left;
  font:12px/16px 'Tahoma';
  height:25px;
  margin-left:10px;
  padding:0 2px;
  width:200px;
}
div.form label {
  color:#404040;
  float:left;
  font:bold 13px/25px 'Tahoma';
  height:25px;
  padding-right:5px;
  text-align:right;
  width:150px;
}
div.form span.required { color:red; }
div.form textarea {
  height:50px;
  padding:3px;
}
div.form.reorder label { width:auto; }
form.delivery {
  clear:both;
  padding:0 10%;
  width:100%;
}
form.delivery .hint {
  color:#999999;
  width:460px;
}
form.delivery input[type=submit] {
  clear:both;
  margin:10px 0;
}
form.delivery label {
  display:block;
  float:none;
  font-size:14px;
  margin:10px 0;
  width:460px;
}
h3.item-title {
  color:#000000;
  font:400 22px 'Tahoma';
  margin:0;
  overflow:hidden;
  padding:0;
  text-overflow:ellipsis;
  white-space:nowrap;
}
input.small_input {
  background:#edf4dc;
  border:1px solid #7e7f7f;
  font:12px/20px 'Tahoma';
  height:20px;
  padding:0 3px;
  width:55px;
}
span#sum {
  color:#00c9e2;
  font-weight:bold;
}
table.calculator {
  border:none;
  margin-top:10px;
  width:100%;
}
table.calculator td, table.calculator th {
  border:1px solid #ff0000;
  padding:5px;
  vertical-align:top;
}
ul.orders-by-status {
  float:left;
  width:100%;
}
ul.orders-by-status .comment {
  display:table-cell;
  font-size:0.9em;
  padding:0 5px;
  vertical-align:bottom;
}
ul.orders-by-status li {
  -mox-box-shadow:2px 2px 2px rgba(0,0,0,0.102);
  -moz-box-sizing:border-box;
  -webkit-box-shadow:2px 2px 2px rgba(0,0,0,0.102);
  -webkit-box-sizing:border-box;
  background-color:#ffffff;
  box-shadow:2px 2px 2px rgba(0,0,0,0.102);
  box-sizing:border-box;
  display:block;
  float:left;
  height:110px;
  margin:5px;
  padding:5px;
  width:222px;
}
ul.orders-by-status li a {
  background-color:#e2e1e1;
  display:block;
  margin:-5px;
  padding:4px 5px 4px 15px;
}
ul.orders-by-status li:hover { background-color:#e4fcff; }
ul.selectable {
  list-style-type:none;
  margin-right:10px;
  padding:0;
}
ul.yiiPager li.page.selected a {
  -moz-border-radius:5px;
  -webkit-border-radius:5px;
  background:#7e7f7f;
  border-rapadding:10px 15px;
  color:#ffffff;
  dius:5px;
  padding:10px;
  text-decoration:none;
  width:16px;
}
#categories-block .block-content {
  padding:1px 5px;
  text-align:center;
}
#categories-block ul li { position:relative; }
#categories-block ul li a {
  background-image:url("../images/ra.gif");
  background-position:100% 50%;
  background-repeat:no-repeat;
  border-bottom:1px solid #d4cccc;
  color:black;
  display:block;
  padding:7px 15px 7px 5px;
  position:relative;
  text-decoration:none;
}
#categories-block ul li a, ul.orders-by-status li a {
  color:#000000;
  padding:7px 15px 7px 5px;
  text-decoration:none;
}
#categories-block ul li a:hover, ul.orders-by-status li a:hover, .list-block ul li a:hover {
  background-color:#7f7b83;
  color:#ffffff;
}
#categories-block ul li ul {
  -moz-box-shadow:0 0 8px 2px rgba(0,0,0,0.3);
  -webkit-box-shadow:0 0 8px 2px rgba(0,0,0,0.3);
  background-color:rgba(229,239,255,0.99);
  border:1px solid #a2bc2c;
  box-shadow:0 0 8px 2px rgba(0,0,0,0.3);
  display:none;
  float:left;
  margin:-100px 0 0 200px;
  min-height:180px;
  padding:10px;
  position:absolute;
  top:0;
  width:725px;
  z-index:1000;
}
#categories-block ul li ul li {
  margin:0 0 10px;
  min-height:12px;
  padding:0;
  width:auto;
}
#categories-block ul li ul li a, #categories-block ul li ul li a:hover {
  background:none;
  border:none;
  display:inline;
  margin:0;
  padding:3px;
}
#categories-block ul li ul li a:hover {
  color:#000000;
  text-decoration:none;
}
#categories-block ul li, ul.orders-by-status li {
  list-style:none none;
  margin:0;
  padding:0;
}
#categories-block ul li:hover ul { display:block; }
#categories-block ul, ul.orders-by-status {
  margin:-1px 0 0;
  padding:0;
  text-align:left;
}
#category {
  background:#ffeaea;
  border:1px solid #ff0000;
  color:#2e2e2e;
  float:left;
  font:12px/25px 'Tahoma';
  height:25px;
  width:140px;
}
#help-block .block-content {
  padding:0;
  width:210px;
}
#message-block {
  left:50%;
  margin-left:-275px;
  position:absolute;
  top:50%;
  width:520px;
  z-index:200;
}
#message-block.notice {
  left:0;
  margin:0 0 10px;
  position:static;
  top:0;
  width:756px;
}
#message-block.notice .message { width:756px; }
#message-close {
  background:url('../images/mess-close.jpg') no-repeat;
  float:right;
  height:19px;
  margin:10px;
  width:19px;
}
#search-categories a { display:block; }
#search-terms .block-content {
  float:left;
  margin:-15px 0 0;
  padding:0;
}
#search-terms .form-item.submit {
  background:#00c9e2;
  border:none;
  border:solid 2px #ffffff !important;
  color:#ffffff;
  height:20px;
  margin:10px 0 10px 35%;
  padding-bottom:0;
  text-align:center;
  width:auto;
}
.form-item.submit {
  background:#00c9e2;
  border:solid 2px #ffffff !important;
  margin:0 auto;
  padding:5px 15px;
  text-align:center;
  width:auto;
}
.form-item.submit a { color:#ffffff; }
#search-terms .form-item.submit a {
  color:#ffffff;
  font-weight:700;
  padding:5px 10px;
}
#search-terms .param-childs a { color:#00c9e2; }
#search-terms .param-childs a:hover { text-decoration:underline; }
#search-terms .param-header .closer {
  background:url('../images/dialog_close.png') no-repeat;
  float:right;
  height:24px;
  margin:-5px -5px 0 0;
  width:24px;
}
#search-terms div.form-item {
  color:#404040;
  float:left;
  font:12px/14px 'Tahoma';
  padding:5px;
  width:200px;
}
#search-terms div.form-item.param {
  border:none;
  padding:0 0 5px;
  position:relative;
}
#search-terms div.form-item.param div.all-param-childs {
  -moz-border-radius:5px;
  -moz-box-shadow:2px 2px 4px 1px rgba(0,0,0,0.3);
  -webkit-border-radius:5px;
  -webkit-box-shadow:2px 2px 4px 1px rgba(0,0,0,0.3);
  background:#f8f8f8;
  border-radius:5px;
  border:1px solid #7e7f7f;
  box-shadow:2px 2px 4px 1px rgba(0,0,0,0.3);
  color:#7e7f7f;
  display:none;
  left:240px;
  margin-top:-50px;
  padding:10px;
  position:absolute;
  width:400px;
  z-index:1;
}
#search-terms div.form-item.param div.all-param-childs .param-header {
  border-bottom:3px solid #7e7f7f;
  font-weight:bold;
  margin:-10px -10px 5px -10px;
  padding:5px;
}
#search-terms div.form-item.param div.all-param-childs label {
  float:left;
  width:200px;
}
#search-terms div.form-item.param div.param-childs { padding:0 10px 5px; }
#search-terms div.form-item.param div.param-childs.hidden {
  display:none;
  margin:15px 0 -5px 0;
}
#search-terms div.form-item.param label { font-weight:normal; }
#search-terms div.form-item.param label.header, #help-block a.header {
  background:url('../images/plus.gif') 7px 50% no-repeat;
  border-bottom:1px solid #c9caca;
  cursor:pointer;
  display:block;
  font:12px/15px 'Tahoma';
  margin:2px;
  padding:5px 5px 5px 25px;
  text-decoration:none;
}
#search-terms div.form-item.param label.header, #help-block a.header:hover { background:#ded9e2 url('../images/plus.gif') 7px 50% no-repeat; }
#search-terms label {
  display:block;
  font-weight:bold;
  margin:0 0 8px;
  width:180px;
}
#top_nav {
  -moz-transition:0.5s ease-out;
  -o-transition:0.5s ease-out;
  -webkit-transition:0.5s ease-out;
  left:0;
  top:80px;
  transition:0.5s ease-out;
  z-index:1000;
}
.a1 {
  background:url("../images/check.png") 3px 4px no-repeat;
  display:inline-block;
  margin:0;
  overflow:hidden;
  padding:0 0 2px 10px;
  text-overflow:ellipsis;
  white-space:nowrap;
  width:161px;
}
.a1:hover {
  background:#f8f4d1 url("../images/check-on.png") 3px 4px no-repeat;
  box-shadow:0 0 3px 0 #9bb944;
}
.a2 {
  background:#f8f4d1;
  border-bottom:solid 1px;
  padding:3px;
}
.accordion a.dcjq-parent.active {
  background:#3bb3c2;
  color:#ffffff;
}
.b-button {
  -moz-border-radius:0 5px 5px 0;
  -webkit-border-radius:0 5px 5px 0;
  background:url("../images/bg_search-input.png") 50% 50% no-repeat #00c9e2;
  border-bottom:solid 1px #00c9e2;
  border-left:none;
  border-radius:0 5px 5px 0;
  border:solid 1px #cccccc;
  display:block;
  height:39px;
  left:610px;
  position:absolute;
  top:-1px;
  width:50px;
}
.b-button:hover {
  background:url("../images/bg_search-input.png") 50% 50% no-repeat #cccccc;
  border-bottom:none;
}
.b-search {
  -moz-border-radius:5px;
  -moz-box-shadow:0 10px 10px -8px rgba(0,0,0,0.506);
  -webkit-border-radius:5px;
  -webkit-box-shadow:0 10px 10px -8px rgba(0,0,0,0.506);
  background:#ffffff;
  border-radius:5px;
  border:1px solid #cccccc;
  box-shadow:0 10px 10px -8px rgba(0,0,0,0.506);
  left:400px;
  margin:0;
  padding:1px;
  position:relative;
  top:80px;
  width:657px;
}
.b-search .query {
  border:none;
  color:#000000;
  font-size:14px;
  height:35px;
  line-height:1.4em;
  padding:0 0 0 5px;
  vertical-align:20%;
  width:435px;
}
.b-search .search-groups {
  color:#000000;
  display:block;
  left:395px;
  margin:0;
  position:absolute;
  top:9px;
  width:auto;
}
.b-search .search-loupe {
  background:url("../images/search_separator.png") 50% 50% no-repeat transparent;
  display:block;
  height:32px;
  left:439px;
  position:absolute;
  top:2px;
  width:16px;
}
.b-upperpart {
  height:66px;
  margin:0 auto;
  position:relative;
  width:960px;
}
.b-upperpart .upperpart-cabinet {
  background:url("../images/cabinet.png") 95% 50% no-repeat #f2f2f2;
  left:880px;
}
.b-upperpart .upperpart-calc {
  background:url("../images/calc.png") 95% 50% no-repeat #f2f2f2;
  left:790px;
}
.b-upperpart .upperpart-call, .b-upperpart .upperpart-calc, .b-upperpart .upperpart-cabinet {
  -moz-border-radius:6px;
  -moz-box-shadow:0 10px 10px -8px rgba(0,0,0,0.506);
  -webkit-border-radius:6px;
  -webkit-box-shadow:0 10px 10px -8px rgba(0,0,0,0.506);
  background:url("../images/phone.png") 95% 50% no-repeat #f2f2f2;
  border-radius:6px;
  box-shadow:0 10px 10px -8px rgba(0,0,0,0.506);
  font:500 12px/19px "Arial", "Helvetica", sans-serif;
  height:27px;
  left:695px;
  line-height:15px;
  padding:10px 15px 0 10px;
  position:absolute;
  top:80px;
  width:45px;
}
.b-upperpart .upperpart-description {
  color:rgba(141,136,145,0.45);
  font-size:12px;
  height:30px;
  left:220px;
  line-height:15px;
  padding-top:10px;
  position:absolute;
  text-overflow:clip;
  top:0;
  width:350px;
}
.b-upperpart .upperpart-email {
  height:13px;
  left:695px;
  padding:0 0 14px;
  position:absolute;
  top:39px;
  white-space:nowrap;
}
.b-upperpart .upperpart-phone {
  font-size:14px;
  left:525px;
  padding-top:12px;
  position:absolute;
  top:0;
}
.b-upperpart .upperpart-skype {
  height:17px;
  left:695px;
  padding:11px 0;
  position:absolute;
  top:0;
  white-space:nowrap;
}
.b-upperpart .upperpart-trash {
  height:17px;
  left:790px;
  padding:11px 0;
  position:absolute;
  top:0;
  white-space:nowrap;
}
.base-info {
  margin-bottom:15px;
  padding:13px 17px;
  width:auto;
}
.base-info a.edit-link {
  color:#7e7f7f;
  float:right;
  text-decoration:none;
}
.base-info a.edit-link:hover { text-decoration:underline; }
.base-info h3.title {
  color:#404040;
  font:bold 18px/20px 'Tahoma';
  margin:0 0 10px;
}
.base-info p { margin:3px 0; }
.basket {
  float:left;
  margin:0;
  width:40px;
}
.basket-block {
  float:left;
  margin:0;
}
.basket-block span { color:red; }
.basket-info span { font-weight:bold; }
.basket-info:hover { text-decoration:underline; }
.basket-text { margin:0; }
.basket.full {
  margin:0;
  width:45px;
}
.block {
  float:left;
  height:auto;
  margin:0;
  width:200px;
}
.block-content {
  float:left;
  margin:0;
  padding:0 17px;
  width:200px;
}
.block-content.cabinet { padding:0 5px; }
.block-content.cabinet h5.title {
  border-bottom:3px solid #7e7f7f;
  color:#00cce6;
  font:700 14px/22px 'Tahoma';
  margin-bottom:1px;
  padding-left:10px;
}
.block-content.cabinet ul {
  margin:-1px 0 0;
  padding:0;
}
.block-content.cabinet ul li {
  border-bottom:1px solid #949191;
  color:black;
  display:block;
  list-style:none;
  padding:0;
  padding:7px 15px 7px 5px;
  position:relative;
  text-decoration:none;
}
.block-content.cabinet ul li a {
  color:#404040;
  font:12px/15px 'Tahoma';
  min-height:15px;
  text-decoration:none;
}
.block-content.cabinet ul li a:hover { text-decoration:none; }
.block-content.cabinet ul li.active { background-color:#ded9e2; }
.block-content.cabinet ul li:hover { background-color:#ded9e2; }
.block-seller { float:left; }
.block_1 {
  display:block;
  font-size:120%;
  height:auto;
  left:-3px;
  padding:0px 10px 10px 10px;
  position:relative;
  top:-200%;
  width:200px;
}
.blockhover { display:none; }
.blocknormal {
  float:left;
  height:50px;
  margin:2px;
  width:50px;
}
.blocknormal:hover .blockhover {
  background-color:#ffffff;
  border:solid 1px #000000;
  display:block;
  height:100px;
  left:1px;
  overflow:hidden;
  position:relative;
  top:-151px;
  width:100px;
}
.blue-btn.bigger, a.blue-btn.bigger, .red-btn.bigger, a.red-btn.bigger {
  -moz-box-shadow:10px 10px 10px -8px rgba(0,0,0,0.506);
  -webkit-box-shadow:10px 10px 10px -8px rgba(0,0,0,0.506);
  background:#00c9e2;
  border:2px solid #ffffff;
  box-shadow:10px 10px 10px -8px rgba(0,0,0,0.506);
  color:#ffffff;
  display:block;
  float:left;
  font:700 11px/20px "Arial";
  height:35px;
  margin:0 auto;
  min-width:100px;
  text-align:center;
  text-transform:uppercase;
  width:auto;
}
.blue-tabs {
  background:#e2e1e1;
  float:left;
  font:400 12px Tahoma;
  height:31px;
  margin:0;
  padding:0;
  width:100%;
}
.blue-tabs a span, div.active-tab span {
  float:left;
  padding:7px 10px;
}
.blue-tabs a.active span, div.active-tab span, a.active-tab span {
  background-color:#ffffff;
  height:16px;
}
.blue-tabs a.active, div.active-tab, a.active-tab {
  background:#baf284;
  font:12px/16px 'Tahoma';
}
.cabinet .blue-tabs a span, .balance .blue-tabs a span, div.active-tab span {
  min-width:135px;
  text-align:center;
}
.cabinet .blue-tabs, .balance .blue-tabs, div.active-tab {
  border-right:3px solid #cccccc;
  margin-bottom:-1px;
}
.cabinet div.form { width:100%; }
.cabinet div.form .errorMessage { margin-left:265px; }
.cabinet div.form .row, .balance div.form .row, .cabinet .form .long .row {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  width:100%;
}
.cabinet div.form label, .balance div.form label {
  font-size:13px;
  font:13px/25px 'Arial';
  width:230px;
}
.cabinet-content {
  -moz-box-shadow:3px 3px 3px #bbbbbb;
  -moz-box-sizing:border-box;
  -webkit-box-shadow:3px 3px 3px #bbbbbb;
  -webkit-box-sizing:border-box;
  border:solid 1px #cccccc;
  box-shadow:3px 3px 3px #bbbbbb;
  box-sizing:border-box;
  float:left;
  padding:10px 0;
  width:100%;
}
.cabinet-favorites-categories { padding:0 10px; }
.cabinet-favorites-categories a { color:#00c9e2; }
.cabinet-favorites-categories a:hover { text-decoration:underline; }
.cabinet-favorites-categories a:after {
  content:'/';
  color:#f432a7;
  margin:0 5px;
}
.cabinet-favorites-categories a:after:hover { text-decoration:none !important; }
.cabinet-content .cart-table { padding:0; }
.cabinet-content .cart-table .cart-info {
  float:left;
  text-align:left;
  width:334px;
}
.cabinet-content .cart-table .cart-info, .cabinet-content .cart-table .product-image, .cabinet-content .cart-table .cost, .cabinet-content .cart-table .sum { padding:5px; }
.cabinet-content .cart-table .cost, .cabinet-content .cart-table .sum, .cabinet-content .cart-table .sum s {
  font:700 15px "Arial";
  width:68px;
}
.cabinet-content .cart-table .param {
  padding:5px;
  width:228px;
}
.cabinet-content .cart-table .product-image { width:105px; }
.cabinet-content .cart-table .product-image img {
  height:100px;
  width:100px;
}
.cabinet-content .cart-table .product-q { width:70px; }
.cabinet-content .cart-table input { width:50px; }
.cabinet-content .header {
  font-weight:700;
  text-transform:uppercase;
}
.cabinet-content .products-list { border:none; }
.cabinet-content h3 {
  margin:0;
  padding:0 0 10px 10px;
}
.cabinet-content h4 span {
  color:black;
  float:inherit;
  font-weight:700;
  padding-left:10px;
  text-shadow:none;
}
.cabinet-content p { margin:3px 0; }
.cabinet-content span.header {
  color:#00bcff;
  float:right;
  font-weight:400;
  text-transform:none;
}
.cabinet-table {
  border-collapse:collapse;
  margin:5px auto;
  text-align:left;
}
.cabinet-table td {
  border-bottom:1px solid #7e7f7f;
  font:13px 'Tahoma';
  padding:5px 10px 5px 50px;
}
.cabinet-table th {
  border-bottom:1px solid #00c9e2;
  color:#404040;
  font:bold 14px 'Tahoma';
  padding:5px 10px 5px 50px;
  text-transform:uppercase;
}
.cart-discont { color:#00c9e2; }
.cart-footer {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  padding:25px;
  width:100%;
}
.cart-footer textarea {
  float:left;
  height:75px;
  resize:vertical;
  width:375px;
}
.cart-footer textarea:focus, .cart-table textarea:focus { background-color:#ffffff; }
.cart-header {
  border-bottom:solid 1px darkgray;
  height:30px;
  margin:10px 0 0;
  text-transform:uppercase;
  width:100%;
}
.cart-table {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  float:left;
  margin:0;
  padding:5px 0;
  width:100%;
}
.cart-table .cart-info {
  float:left;
  padding:10px;
  text-align:left;
  width:435px;
}
.cart-table .cost, .cart-table .sum {
  color:#00c9e2;
  font:700 17px 'Arial';
  padding:10px;
  width:100px;
}
.cart-table .param {
  float:left;
  padding:10px;
  width:340px;
}
.cart-table .product-image {
  float:left;
  padding:10px;
  width:125px;
}
.cart-table .remove { padding-left:30px; }
.cart-table .square { background:#eaeaea; }
.cart-table .sum { color:#f42340; }
.cart-table .sum a {
  color:#5d5d5d;
  font:500 12px 'Arial';
}
.cart-table .sum s {
  color:#00c9e2;
  font:700 16px 'Arial';
}
.cart-table .ui-icon-close { background-position:-80px -125px; }
.cart-table .ui-spinner {
  margin:7px 5px;
  width:80px;
}
.cart-table img {
  border:solid 1px #000000;
  height:115px;
  width:115px;
}
.cart-table input {
  margin-left:5px;
  width:80px;
}
.cart-table p { padding-top:5px; }
.cart-table strong {
  color:#009846;
  font-weight:bold;
}
.cart-table textarea {
  height:40px;
  margin-top:10px;
  resize:vertical;
  width:375px;
}
.cart-table:hover { background-color:#e4fcff; }
.cart-total { color:#009846; }
.cart-total, .cart-discont {
  float:right;
  font:bold 16px/20px 'Arial';
  margin-right:15px;
}
.categories-table tbody tr td a { display:inline; }
.category-desc {
  border:2px solid #00bcff;
  float:left;
  padding:10px;
  margin-bottom:15px;
}
.checkout .payment-error {
  background:#ffdddd;
  border:1px solid #a2bc2c;
  font:15px 'Tahoma';
  margin:0 10px 10px;
  padding:10px;
}
.close ul li { padding:50px; }
.comment-block .grid-view table.items th { background-color:#e1e1e1; }
.comment-block .grid-view table.items tr { background-color:#ffffff; }
.comment-block .grid-view table.items tr:hover { background-color:#e1e1e1; }
.comment-block td div {
  color:#5d5d5d;
  font-family:courier;
  font-weight:700;
  margin-bottom:3px;
  padding:0;
}
.comment-select {
  height:15px;
  position:relative;
  top:5px;
  width:15px;
}
.comment-select input {
  -moz-opacity:0;
  background:transparent;
  cursor:pointer;
  display:hidden;
  height:15px;
  left:0px;
  opacity:0;
  position:relative;
  top:0px;
  width:15px;
  z-index:10000;
}
.comment-select-btn {
  background-color:#00c9e2;
  border:solid 1px #ffffff;
  color:#ffffff !important;
  font-size:80%;
  height:15px;
  position:relative;
  text-align:center;
  top:-16px;
  width:15px;
}
.content {
  color:#404040;
  font-size:12px;
}
.content .image img {
  border:solid 1px #000000;
  height:50px;
  margin:0px 3px 2px;
  width:50px;
}
.content .image img:hover { border:solid 1px #00bcff; }
.content .image:hover { background-color:#e4fcff; }
.content p {
  border-left:solid 3px transparent;
  line-height:16px;
  margin:10px 0;
  padding:5px 10px;
  text-indent:1.2em;
}
.content p.blue {
  background:#ded9e2;
  box-sizing:border-box;
  color:#7e7f7f;
  font-weight:bold;
  margin:0;
  margin:15px 20px;
  padding:0;
  padding:5px 10px;
  text-align:center;
  width:90%;
}
.content p:hover { border-left:solid 3px #00bcff; }
.currency {
  color:#000000;
  float:left;
  font-family:500 11px "Arial", "Helvetica", "Garuda", sans-serif;
  margin:0 5px 0 5px;
}
.delivery-desc {
  margin:10px 0;
  width:100%;
}
.delivery-desc .select {
  color:#009846;
  font-weight:bold;
}
.delivery-desc .total {
  font-size:1.3em;
  font-weight:bold;
}
.delivery-desc th {
  padding:3px 10px 3px 0px;
  text-align:right;
  width:175px;
}
.delivery-more { padding:15px 10%; }
.delivery-more a {
  color:#00c9e2;
  font-weight:bold;
}
.delivery-more:hover {
  color:#00c9e2;
  text-decoration:underline;
}
.featured .product {
  margin:5px;
  vertical-align:top;
}
.featured .product-image {
  -moz-border-radius:10px;
  -moz-box-shadow:2px 2px 4px 1px rgba(0,0,0,0.3);
  -webkit-border-radius:10px;
  -webkit-box-shadow:2px 2px 4px 1px rgba(0,0,0,0.3);
  border-radius:10px;
  border:3px solid #ffffff;
  box-shadow:2px 2px 4px 1px rgba(0,0,0,0.3);
}
.featured .product-image:hover { border:3px solid #00c9e2; }
.featured .product.first { margin-left:0; }
.featured .products-list { border:0; }
.footer {
  background:url('../images/footer.png') center top no-repeat;
  padding:0;
  width:960px;
}
.footer .info {
  margin-top:20px;
  position:relative;
}
.footer .info .footerText {
  color:#666666;
  display:inline-block;
  float:right;
  font-size:11px;
  margin-top:40px;
  position:absolute;
  width:48%;
}
.footer .info .paySystems {
  display:inline-block;
  padding-left:20px;
  width:50%;
}
.footer .info .paySystems img { opacity:0.6; }
.footer .info .paySystems img:hover { opacity:1; }
.footer a { color:#7f7b83; }
.footer a.blue { color:#2266d6; }
.hoverbox {
  cursor:default;
  list-style:none;
}
.hoverbox .preview { border-color:#000000; }
.hoverbox a { cursor:default; }
.hoverbox a .preview { display:none; }
.hoverbox a:hover .preview {
  cursor:pointer;
  display:block;
  height:200px;
  position:absolute;
  top:0;
  width:200px;
  z-index:1;
}
.hoverbox img { vertical-align:top; }
.hoverbox li {
  display:inline;
  float:right;
  position:relative;
  top:-10px;
}
.info .copyright { padding:15px; }
.input-props-images {
  border-bottom:2px solid #e6e6e6;
  padding:0;
}
.input-props-images .select {
  color:#00c9e2;
  display:block;
  height:120px;
  left:35px;
  position:relative;
  top:5px;
  width:80px;
}
.input-props-images img {
  border:solid 1px #8d8891;
  max-width:75px;
  padding:2px;
}
.input-props-text {
  border-bottom:2px solid #e6e6e6;
  min-height:30px;
  padding:10px 0;
}
.input-props-text .select {
  color:#00c9e2;
  display:block;
  left:0;
  position:relative;
  top:5px;
}
.item .blue-tabs {
  background:none;
  height:32px;
  margin:0;
  width:100%;
}
.item .blue-tabs span {
  background:#dedede;
  border-right:solid 1px #ffffff;
  height:16px;
  padding:8px;
  text-align:center;
  width:150px;
}
.item .blue-tabs span:hover { background-color:rgba(255,255,255,0.41); }
.item-block {
  float:left;
  margin:0;
  padding:10px;
  width:805px;
}
.item-block .notfound {
  color:#f05775;
  font-size:40px;
}
.item-cat-path { margin-left:10px; }
.item-cat-path strong { color:#00c9e2; }
.item-info {
  color:#000000;
  float:left;
  font:200 12px/14px 'Tahoma';
  width:947px;
}
.item-info-param {
  color:#151515;
  float:left;
  font:700 12px/20px 'Arial';
  height:20px;
}
.item-info-param span { color:#00c9e2; }
.item-l {
  float:left;
  padding:10px;
  width:360px;
}
.item-main-image {
  background:url('../images/ajax-load.gif') center center no-repeat;
  border:1px solid #dddddd;
  height:360px;
  width:360px;
}
.item-main-image img {
  height:360px;
  width:360px;
}
.item-params {
  -moz-box-shadow:1px 1px 6px #bbbbbb;
  -webkit-box-shadow:1px 1px 6px #bbbbbb;
  box-shadow:1px 1px 6px #bbbbbb;
  float:right;
  width:558px;
}
.item-params .form-item {
  border-bottom:2px solid #e6e6e6;
  float:left;
  padding:10px 0;
  width:100%;
}
.item-params input[type=text] {
  font:12px/18px 'Tahoma';
  height:18px;
  padding:0 4px;
}
.item-params input[type=text].item-count {
  border:solid 1px #8d8891;
  float:left;
  height:23px;
  margin:0 1px;
  text-align:center;
  width:30px;
}
.item-params label {
  text-align:right;
  float:left;
  font:700 12px/14px 'Arial';
  min-height:16px;
  padding:4px 10px 0 0;
  width:200px;
}
.item-params select {
  background:#cccccc;
  max-width:205px;
  width:205px;
}
.item-price {
  float:right;
  font:700 24px/25px 'Arial';
  padding-right:10px;
}
.item-price span {
  color:#00c9e2;
  padding-left:5px;
  text-shadow:0 1px 1px #000000;
}
.item-price span s {
  color:#fc0284;
  font:500 20px/25px 'Arial';
}
.item-r {
  float:left;
  padding:10px;
  width:558px;
}
.item-small-images {
  margin:5px 0 0 -9px;
  text-align:left;
}
.item-small-images img {
  border:2px solid #ffffff;
  height:50px;
  margin:0 8px;
  width:50px;
}
.item-small-images img:hover { border:2px solid #00c9e2; }
.item-table {
  border-collapse:collapse;
  font-weight:bold;
  margin:0;
  width:960px;
}
.item-table td { width:150px; }
.item-table td, .item-table th {
  font-size:12px;
  margin:0;
  padding:5px;
  text-align:left;
}
.item-table th { font-weight:normal; }
.item-table tr:hover { background:#edf4dc; }
.item-title-container {
  height:40px;
  padding:5px 10px;
  position:relative;
}
.lang {
  color:#000000;
  float:left;
  font-family:normal 11px "Arial", "Helvetica", "Garuda", sans-serif;
  margin:-25px 10px 0 295px;
}
.lang a {
  display:inline-block;
  height:11px;
  margin:0 4px;
  width:16px;
}
.lang a span {
  background:url('../images/langs.jpg') no-repeat;
  display:inline-block;
  height:11px;
  width:16px;
}
.lang a.active { padding-bottom:10px; }
.lang a.de span {
  background-position:-48px 0;
  margin:0 0 0 3px;
}
.lang a.en span {
  background-position:-16px 0;
  margin:0 0 0 3px;
}
.lang a.es span {
  background-position:-96px 0;
  margin:0 0 0 3px;
}
.lang a.fr span {
  background-position:-80px 0;
  margin:0 0 0 3px;
}
.lang a.he span {
  background-position:-64px 0;
  margin:0 0 0 3px;
}
.lang a.ru span { background-position:0 0; }
.lang a.zh span {
  background-position:-32px 0;
  margin:0 0 0 3px;
}
.left-col {
  float:left;
  padding:0 0 0 10px;
  width:210px;
}
.main-col {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  box-sizing:border-box;
  float:left;
  width:100%;
}
.category .main-col, .brand .main-col, .search .main-col, .seller .main-col { width:719px; }
.cart .main-col, .checkout .main-col { margin:0; }
.item .main-col {
  margin:0;
  width:960px;
}
.main-menu {
  box-shadow:0 3px 2px 0 rgba(1,0,0,0.4);
  margin-bottom:5px;
  width:960px;
}
.main-menu .first { border-left:medium none; }
.main-menu a {
  border-bottom:none;
  border:1px solid #e0e7ed;
  color:#7f7b83;
  display:block;
  font-weight:700;
  padding:10px 7px 10px 23px;
  text-decoration:none;
  white-space:nowrap;
}
.main-menu a:hover { color:#ffffff; }
.main-menu td {
  background:-moz-linear-gradient(top,#ffffff 0%,#e5e5e5 100%);
  background:-ms-linear-gradient(top,#ffffff 0%,#e5e5e5 100%);
  background:-o-linear-gradient(top,#ffffff 0%,#e5e5e5 100%);
  background:-webkit-gradient(linear,left top,left bottom,color-stop(0%,#ffffff),color-stop(100%,#e5e5e5));
  background:-webkit-linear-gradient(top,#ffffff 0%,#e5e5e5 100%);
  background:linear-gradient(to bottom,#ffffff 0%,#e5e5e5 100%);
  background:#ffffff;
  line-height:1;
  margin:0;
  padding:0;
}
.main-menu td:hover {
  background:#00c9e2;
  color:#ffffff;
}
.menu {
  padding-top:35px;
  text-align:center;
}
.message h3.title {
  color:#474747;
  font:bold 18px/22px 'Tahoma';
  margin:0 5px 5px 0;
}
.message, .warning {
  background:#f9f996 url('../images/achtung.png') 20px 20px no-repeat;
  border:2px solid #96c11e;
  color:#7e7f7f;
  font:14px/16px 'Tahoma';
  height:auto;
  min-height:80px;
  padding:7px 0 0 0;
  width:520px;
}
.message-bottom {
  height:8px;
  width:520px;
}
.message-text {
  min-height:70px;
  padding:0 7px 0 95px;
}
.newshow { text-align:left; }
.newshow label { font-weight:bold; }
.newshow ul li {
  display:block;
  float:left;
  padding:2px;
}
.newshow ul li:hover { color:#fc0284; }
.next-btn {
  float:right;
  margin:25px 25px 15px 0;
}
.number {
  float:left;
  margin-right:10px;
  text-align:center;
  width:95px;
}
.number .minus { float:left; }
.number .plus { float:left; }
.number p {
  background:#cccccc;
  border:solid 1px #8d8891;
  height:15px;
  padding:4px;
  width:15px;
}
.number p:hover { background:#00c9e2; }
.page-title h4, .checkout h4, .cabinet-content h4 {
  color:#00bcff;
  font-size:1.2em;
  font-weight:bold;
  margin:0;
  padding:5px 0 5px 25px;
  text-transform:uppercase;
}
.page-title, .block h4.title {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  border-bottom:solid 3px #7f7b83;
  box-sizing:border-box;
  color:#7f7b83;
  display:inline-block;
  font:700 14px Arial, Helvetica, Garuda, sans-serif;
  margin-bottom:1px;
  margin:0;
  padding:5px;
  width:100%;
}
.parent a { display:block; }
.payment-systems {
  margin:0 0 0 150px;
  width:300px;
}
.payment-systems .desc {
  color:#838383;
  display:none;
  margin:5px 0 0 20px;
}
.payment-systems h5 {
  color:#404040;
  float:left;
  font:bold 14px 'Tahoma';
  margin:15px 0 5px;
}
.product-seller-rate {
  left:3px;
  padding:2px 4px;
  position:relative;
  top:-163px;
  width:34px;
}
.products-list .product {
  display:inline-table;
  margin:5px;
  vertical-align:top;
  width:160px;
}
.products-list .product .control {
  -moz-opacity:0;
  margin-top:-16px;
  opacity:0;
  text-align:right;
}
.products-list .product .control:hover {
  -moz-opacity:1;
  opacity:1;
}
.products-list .product .product-image {
  -moz-border-radius:10px;
  -moz-box-shadow:2px 2px 4px 1px rgba(0,0,0,0.3);
  -webkit-border-radius:10px;
  -webkit-box-shadow:2px 2px 4px 1px rgba(0,0,0,0.3);
  border-radius:10px;
  border:3px solid #ffffff;
  box-shadow:2px 2px 4px 1px rgba(0,0,0,0.3);
  height:160px;
  padding:0;
  text-align:center;
  width:160px;
}
.products-list .product .product-image img {
  -moz-border-radius:7px;
  -webkit-border-radius:7px;
  border-radius:7px;
  border:none;
  height:160px;
  width:160px;
}
.products-list .product .product-image:hover { border:3px solid #00c9e2; }
.products-list .product .product-price {
  -moz-border-radius:10px 0 7px 0;
  -webkit-border-radius:10px 0 7px 0;
  background:#3bb3c2;
  border-bottom:none;
  border-radius:10px 0 7px 0;
  border-right:none;
  border:2px solid #ffffff;
  color:#ffffff;
  float:right;
  font-size:14px;
  font-weight:700;
  height:17px;
  margin-left:0;
  padding:2px 7px;
  position:relative;
  right:3px;
  top:-26px;
  width:auto;
}
.products-list .product .product-price .tmall { color:#eaeaea; }
.products-list .product .product-promotion {
  -moz-border-radius:0 0 6px 0;
  -webkit-border-radius:0 0 6px 0;
  background:#d9221d;
  border-radius:0 0 6px 0;
  color:#ffffff;
  float:right;
  font-size:11px;
  height:17px;
  left:0;
  margin:-2px -7px -2px 5px;
  padding:4px 4px 0 0;
  position:relative;
  text-align:center;
  top:0;
  width:auto;
}
.products-list, .featured .products-list {
  clear:left;
  margin:0;
  padding:10px 0;
  text-align:center;
  vertical-align:top;
  width:100%;
}
.profiler {
  background:white;
  bottom:5px;
  height:50px;
  left:10px;
  opacity:0;
  padding-bottom:10px;
  padding-left:10px;
  padding-right:20px;
  padding-top:10px;
  position:fixed;
  width:50px;
  z-index:10000;
}
.profiler:hover {
  height:auto;
  opacity:1;
  width:auto;
}
.red-btn.bigger, a.red-btn.bigger { background:#ff0000; }
.red-btn.bigger:hover, a.red-btn.bigger:hover { background:#1fdbe2; }
.row.buttons { margin:1.2em 0 1.2em 73%; }
.search .main-col { width:719px; }
.search-count {
  color:#404040;
  float:right;
  font:bold 11px/14px 'Tahoma';
}
.search-count span {
  color:#8d8d8d;
  font:bold 12px/14px 'Tahoma';
}
.search-original {
  color:#404040;
  float:left;
  font:12px 'Tahoma';
  margin-left:-25px;
}
.search-sidebar {
  cursor:pointer;
  display:block;
  font-size:17px;
  line-height:30px;
  position:fixed;
  text-align:center;
}
.search-sidebar-next a, .search-sidebar-prev a { color:#ffffff; }
.search-sidebar-next, .search-sidebar-prev {
  background:#00bcff;
  border:solid 2px #ffffff;
  bottom:130px;
  color:#ffffff;
  cursor:pointer;
  display:block;
  height:30px;
  opacity:0.5;
  position:fixed;
  right:70px;
  text-align:center;
  width:45px;
}
.search-sidebar-next:hover, .search-sidebar-prev:hover, .search-sidebar-top:hover { opacity:1; }
.search-sidebar-next { right:21px; }
.search-sidebar-top {
  background:#00bcff;
  border-bottom:none;
  border:solid 2px #ffffff;
  bottom:165px;
  color:#ffffff;
  cursor:pointer;
  display:none;
  height:30px;
  opacity:0.5;
  position:fixed;
  right:21px;
  text-align:center;
  width:94px;
}
.search-sort {
  color:#404040;
  float:left;
  font:bold 11px 'Tahoma';
  width:270px;
}
.search-sort select {
  border:1px solid #404040;
  color:#404040;
  font:12px/20px 'Tahoma';
  height:20px;
  margin:-4px 0 0 3px;
}
.selectable .ui-selected {
  background:#00c9e2;
  border:solid 1px #00c9e2;
  color:white;
  height:40px;
  width:40px;
}
.selectable .ui-selecting { background:#ffffff; }
.selectable li {
  border:solid 1px #8d8891;
  display:inline-block;
  height:40px;
  margin:1px;
  padding:2px;
  text-align:center;
  width:40px;
}
.selectable li img {
  border:0;
  height:40px;
  margin:0;
  max-width:40px;
  padding:0;
}
.selectable li:hover { border:solid 1px #00c9e2; }
.site .main-col, .cabinet .main-col, .content .main-col, .article .main-col { width:719px; }
.site.home .content {
  padding:10px;
  text-align:justify;
}
.site.home .content p {
  line-height:14px;
  margin:5px 0;
}
.space {
  border-right:1px solid #b1b1b1;
  margin:0 5px 0 0;
  padding-right:10px;
  text-decoration:none;
}
.space a:hover { text-decoration:underline; }
.tab {
  display:none;
  float:left;
  width:960px;
}
.tab.shown {
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
  background-color:#ffffff;
  border:solid 1px #e2e1e1;
  box-sizing:border-box;
  display:block;
  float:right;
  padding:10px;
  width:938px;
}
.tab.shown li {
  float:left;
  height:25px;
  overflow:hidden;
  padding:3px;
  text-overflow:ellipsis;
  width:223px;
}
.tab.shown ul {
  display:table-row;
  font:200 11px/14px "Arial";
}
.two-btn {
  height:38px;
  padding:15px 25px;
  width:auto;
}
.ui-button-text {
  font:700 11px/20px "Arial" !important;
  text-transform:uppercase !important;
}
.ui-button.remove {
  background:#ffb0b0;
  margin:20px 0;
  min-width:179px;
}
.ui-dialog .required {
  font-size:1.1em;
  font-weight:bold;
}
.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active { background:#c9e0ed !important; }
.ui-widget-content.prop {
  background-color:#00c9e2;
  border:solid 1px #5e5c52;
  font-size:90%;
  height:auto;
  margin:2px 0;
  padding:4px;
  vertical-align:top;
  width:auto;
}
.user-info {
  background:url("../images/topline.png") 0 0 repeat-x;
  font-size:12px;
  height:27px;
  line-height:25px;
  white-space:nowrap;
}
.user-info-block {
  margin:0 auto;
  width:960px;
}
.user-info-block .logo {
  background:url("../images/logo2.png") 50% 0% no-repeat transparent;
  display:block;
  height:50px;
  left:0;
  margin:15px 0 5px 10px;
  position:absolute;
  top:0;
  width:200px;
}
.version {
  float:right;
  font-family:500 11px "Arial", "Helvetica" #9aca50;
  margin:-70px 837px 0;
  position:absolute;
  width:150px;
}
.view {
  background:#edf4dc;
  border:1px solid #96c11e;
  margin:5px;
  padding:5px;
}
.warning {
  margin:25px 23%;
  padding-top:30px;
  text-align:center;
}
.warning-text { color:red; }
.wrapper {
  -moz-box-shadow:0 -10px 30px rgba(0,0,0,0.298);
  -webkit-box-shadow:0 -10px 30px rgba(0,0,0,0.298);
  box-shadow:0 -10px 30px rgba(0,0,0,0.298);
  margin:-10px auto;
  min-height:100%;
  width:960px;
}
