.grid-view-loading {
	background:url(loading.gif) no-repeat;
    position: relative;
    width: 25px;
    height 25px;
}
.grid-view{
    padding: 0;
}
.grid-view table.items {
	background: #ACACAC;
	border-collapse: collapse;
	width: 100%;
	border: 1px #D0E3EF solid;
}
.grid-view table.items th, .grid-view table.items td {
	font-size: 0.8em;
	#border: 2px #f2f2f2 solid;
	padding: 0.3em;
    #vertical-align: middle;
}
.grid-view table.items th, .grid-view table.items th a {
    text-decoration: none;
    color: #000000;
    font: normal 13px 'Roboto Condensed','Arial';
	text-align: center;
    vertical-align: middle;
}
.grid-view table.items th a:hover {
	color: #000000;
}
.grid-view table.items th a.asc {
	background:url(up.gif) right center no-repeat;
	padding-right: 10px;
}
.grid-view table.items th a.desc{
	background:url(down.gif) right center no-repeat;
	padding-right: 10px;
}
.grid-view table.items tr.even{
	background: #F8F8F8;
}
.grid-view table.items tr.odd{
	background: #E5F1F4;
}
.grid-view table.items tr.selected{
	background: #c9e0ed;
}
.grid-view table.items tr:hover.selected{
	background: #c9e0ed;
}
.grid-view table.items tbody tr:hover{
	background: #c9e0ed;
}
.grid-view .link-column img{
	border: 0;
}
.grid-view .button-column{
	text-align: center;
	width: 60px;
}
.grid-view .button-column img{
	border: 0;
}
.grid-view .checkbox-column {
	width: 15px;
}
.grid-view .summary {
    margin: 1px 0px -2px 0;
	text-align: left;
    font: 13px "roboto condensed", "Helvetica", "Arial", sans-serif;
    text-shadow: 1px 1px 1px #ffffff;
    text-transform: uppercase;
    background: #C9E0ED;
    padding: 5px 0 5px 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    width: 100%
}
.grid-view .pager{
	margin: 5px 0 0 0;
	text-align: left;
}
.grid-view .empty{
	font-style: italic;
}
.grid-view .filters input,.grid-view .filters select {
	width: 95%;
	border: 1px solid #ccc;
}