/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.pos-slideshow-container .flex-container a:active,
.pos-slideshow-container .flexslider a:active,
.pos-slideshow-container .flex-container a:focus,
.pos-slideshow-container .flexslider a:focus  {outline: none;}
.pos-slideshow-container .slides,
.pos-slideshow-container .flex-control-nav,
.pos-slideshow-container .flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.pos-slideshow-container .flexslider {margin: 0; padding: 0;}
.pos-slideshow-container .flexslider .slides > li {display: none; -webkit-backface-visibility: hidden; position: relative; } /* Hide the slides before the JS is loaded. Avoids image jumping */
.pos-slideshow-container .flexslider .slides img {width: 100%; display: block;}
.pos-slideshow-container .flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.pos-slideshow-container .slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .pos-slideshow-container .slides {display: block;} 
* html .pos-slideshow-container .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .pos-slideshow-container .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.pos-slideshow-container .flexslider {margin: 0 0 40px; position: relative; zoom: 1; min-height: 50px; }
.pos-slideshow-container .flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.pos-slideshow-container .loading .flex-viewport {max-height: 300px;}
.pos-slideshow-container .flexslider .slides {zoom: 1;}

.pos-slideshow-container .carousel li {margin-right: 5px}


/* Direction Nav */
.pos-slideshow-container .flex-direction-nav {*height: 0;}
.pos-slideshow-container .flex-direction-nav a,
.nivo-directionNav a { width: 30px; height: 30px; margin: -15px 0 0; display: block; background: url(themes/default/arrows.png) no-repeat 0 0; position: absolute; top: 50%; cursor: pointer; text-indent: -9999px; z-index: 9; }
.pos-slideshow-container .flex-direction-nav .flex-next,
.nivo-directionNav a.nivo-nextNav { background-position: 100% 0; right: 10px; }
.pos-slideshow-container .flex-direction-nav .flex-prev,
.nivo-directionNav a.nivo-prevNav { left: 10px;}
.pos-slideshow-container .flexslider:hover .flex-next { }
.pos-slideshow-container .flexslider:hover .flex-prev { }
.pos-slideshow-container .flexslider:hover .flex-next:hover, .pos-slideshow-container .flexslider:hover .flex-prev:hover {opacity: 1;}
.pos-slideshow-container .flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
.pos-slideshow-container .flex-control-nav,
.nivo-controlNav {position: absolute; bottom: 10px; text-align: center;}
.pos-slideshow-container .flex-control-nav li { margin: 0 6px; display: inline-block; zoom: 1; *display: inline; }
.pos-slideshow-container .flex-control-paging li a,
.nivo-controlNav a {width: 11px; height: 11px; display: block; background: #fff; cursor: pointer; text-indent: -9999px;
-webkit-border-radius: 20px;
-moz-border-radius: 20px;
-o-border-radius: 20px;
border-radius: 20px;
box-shadow: none; z-index: 9;
}
.pos-slideshow-container .flex-control-paging li a:hover,
.pos-slideshow-container .flex-control-paging li a.flex-active,
.nivo-controlNav a:hover,
.nivo-controlNav a.active { box-shadow: none !important; cursor: pointer; }


.pos-slideshow-container .flex-control-thumbs {margin: 5px 0 0; position: static; overflow: hidden;}
.pos-slideshow-container .flex-control-thumbs li {width: 25%; float: left; margin: 0;}
.pos-slideshow-container .flex-control-thumbs img {width: 100%; display: block; opacity: .7; cursor: pointer;}
.pos-slideshow-container .flex-control-thumbs img:hover {opacity: 1;}
.pos-slideshow-container .flex-control-thumbs .flex-active {opacity: 1; cursor: default;}


.ma-nivoslider {
	overflow: hidden;
}
.nivoslider {
	position: relative;
	overflow: hidden;
	height: auto;
	width: 100%; 
}
.nivoslider img {
	position: absolute;
	top: 0;
	left: 0;
	display: none;
}
.nivo-controlNav {
	right:50%;
	margin-right:-32px;
}
.nivo-controlNav a {
    border: 0 none;
    display: inline-block;
    height: 11px;
    margin: 0 4px;
    text-indent: -9999px;
    width: 11px;
	cursor: pointer;
    position: relative;
    z-index: 9;
    
}


.pos-slideshow-caption {
	position: absolute;
 	left:0; 
 	top:0;	
	width: 100%;
	background: none;
	color: #fff;
	font-size: 16px;
	z-index: 999;
}
.pos-slideshow-title {
	position: absolute;
 	left:100px; 
 	top:50px;
	width: 50%;
	-webkit-transition:all 0.5s ease; 
  	   -moz-transition:all 0.5s ease;
     	-ms-transition:all 0.5s ease;
     	 -o-transition:all 0.5s ease;
        	transition:all 0.5s ease;   
}
.pos-slideshow-title h3 {
	color: #575757;
	font-size: 40px;
	font-family: niconne;
}
.pos-slideshow-des {
	position: absolute;
 	left:100px; 
 	top: 165px;
	width: 50%;
	color: #575757;
	-webkit-transition:all 1.5s ease; 
  	   -moz-transition:all 1.5s ease;
     	-ms-transition:all 1.5s ease;
     	 -o-transition:all 1.5s ease;
        	transition:all 1.5s ease;  
}
.pos-slideshow-readmore {
	position: absolute;
 	left:100px; 
 	top:260px;
	padding: 5px 3px 5px 2px;
	background: #dc4141;
	-webkit-transition:all 1.5s ease; 
  	   -moz-transition:all 1.5s ease;
     	-ms-transition:all 1.5s ease;
     	 -o-transition:all 1.5s ease;
        	transition:all 1.5s ease;  
}
.pos-slideshow-readmore a {
	color: #fff;
	font-size: 20px;
	padding: 5px 15px;
	border: 1px solid #ef9292;
	background: #dc4141;
}
.pos-slideshow-container .pos-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}


/*
 * jQuery Nivo Slider v3.2
 * http://nivo.dev7studios.com
 *
 * Copyright 2012, Dev7studios
 * Free to use and abuse under the MIT license.
 * http://www.opensource.org/licenses/mit-license.php
 */
 
/* The Nivo Slider styles */
.nivoSlider {
	position:relative;
	width:100%;
	height:auto;
	overflow: hidden;
}
.nivoSlider img {
	position:absolute;
	top:0px;
	left:0px;
	max-width: none;
}
.nivo-main-image {
	display: block !important;
	position: relative !important; 
	width: 100% !important;
}

/* If an image is wrapped in a link */
.nivoSlider a.nivo-imageLink {
	position:absolute;
	top:0px;
	left:0px;
	width:100%;
	height:100%;
	border:0;
	padding:0;
	margin:0;
	z-index:6;
	display:none;
	background:white; 
	filter:alpha(opacity=0); 
	opacity:0;
}
/* The slices and boxes in the Slider */
.nivo-slice {
	display:block;
	position:absolute;
	z-index:5;
	height:100%;
	top:0;
}
.nivo-box {
	display:block;
	position:absolute;
	z-index:5;
	overflow:hidden;
}
.nivo-box img { display:block; }

.nivo-caption {
  position:absolute;
 	left:0; 
 	top:-30px;	
	color:#fff;
	width:100%;
	z-index:8;
}
.nivo-html-caption {
    display: none;
}
@media (max-width: 1080px) {
    .pos-slideshow-title h3 { font-size: 31px;}
    .pos-slideshow-des { top: 135px;}
    .pos-slideshow-readmore { top: 215px;}
    .pos-slideshow-container .flex-control-nav, .nivo-controlNav { bottom: 10px;}
}
