.nav-container { float: right; margin:30px 5px 30px 0; position: relative;}
.shadow-menu {
    background: url("../images/shadow-menu.png") no-repeat 50% 0;
    z-index: 7;
    width: 100%;
    height: 36px;
    position: absolute;
    bottom: -35px;
    left: 0;
    }
.pt_custommenu {
    position:relative;
    z-index:999;
    font-size: 14px;
    margin: 0 auto;
    padding: 0;
    width:  100%; /*width of your menu*/
}
.pt_custommenu .parentMenu {position: relative; bottom: -20px; }
.pt_custommenu .parentMenu:hover,.pt_custommenu .pt_menu.active .parentMenu {background: url(../images/arrow-menu.png) 50% bottom no-repeat;}
.pt_custommenu #pt_menu_link .parentMenu:hover,.pt_custommenu #pt_menu_link.pt_menu.active .parentMenu {background: none;}
.pt_custommenu .parentMenu a,.pt_custommenu .parentMenu>span {position: relative; top: -20px;}
#pt_menu_pt_item_menu_custom_menu img {max-width:100%;}
.pt_custommenu div.pt_menu {
    float: left;
}

.pt_custommenu div.pt_menu .parentMenu a,
.pt_custommenu div.pt_menu .parentMenu span.block-title{
    font-size: 16px;
    line-height: 32px;
    color: #fff;
    display: block;
    cursor: pointer;
    font-family: titilliumweb;
    text-transform: capitalize;
    text-align: center;
    border-bottom:4px solid #323a45;
    padding:12px 20px;
    height:60px;
}
@media (max-width: 1200px){
  .pt_custommenu div.pt_menu .parentMenu a,
  .pt_custommenu div.pt_menu .parentMenu span.block-title{
    padding: 12px 15px;
    }
}
#pt_menu_home .parentMenu a span{display: block; width:23px; height:21px; text-indent: -9999px;}
#pt_menu_home .parentMenu a {padding: 19px 26px 16px;}
#pt_menu_home .parentMenu {background: none;}
.pt_menu a {
    font-family: titilliumweb; font-size:16px;
    
}


@media (max-width: 1200px){
   #pt_menu_pt_item_menu_custom_menu .parentMenu span {  }
}
.nav-container {float:right; margin: 0; width:100%; background: #323a45; border-radius: 5px;}
@media (max-width: 1200px) {
    .nav-container {}
}

#pt_menu_pt_item_menu_custom_menu .parentMenu span{padding:28px 20px; line-height: 0;}
.pt_custommenu #pt_menu_home .parentMenu a { border-radius: 5px 0 0 5px; }
.pt_custommenu #popup_pt_item_menu_custom_menu { width: 100% !important;}
#popup_pt_item_menu_custom_menu .block2 {}

.pt_custommenu div.popup {
   position: absolute;
    z-index: 3000;
    text-align: left;
    padding: 0;
    margin: 0;
}

.pt_custommenu div.popup .block2 {    background: #323A45;}
div.pt_menu,{
    padding: 20px;
}
div.pt_menu {
    float: left;
    padding: 0 !important;
}
div.pt_menu a, div.popup a {
    text-decoration: none;
    display:block;
    line-height: 25px;
}
div.pt_menu .itemMenu h4.level3,
div.pt_menu .itemMenu a.level3{
    font-size: 16px;
    text-transform: capitalize;
    color: #666;
    font-family: SegoeUILight;

}
.nav-2 .popup .blockright a.first {padding-bottom:10px;}
.itemMenu h4.level1,
.itemSubMenu h4.level2 span{
    color: #897725;
}


div.popup a.actParent {
    color: #4D4D4D;
}
div.popup a.act {
    color: #A52A2A !important;
}
#pt_custommenu .parentMenu a:hover,#pt_menu_pt_item_menu_custom_menu span:hover { background:url(../images/bg-lang.png) repeat;}
#pt_custommenu .pt_menu.active .parentMenu span,#pt_custommenu .pt_menu.active .parentMenu a { background:url(../images/bg-lang.png) repeat; }


#pt_menu_home .parentMenu a:hover span, #pt_menu_home.act .parentMenu a span {background-position: 0 100% !important;}
#pt_menu_pt_item_menu_custom_menu:hover

#pt_custommenu .itemSubMenu {padding-top:15px;}
.pt_custommenu div.column {
    float:left;
    width:200px; /* column width */
    margin-right: 10px;
    padding: 0 10px;
    }
div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}
div.itemSubMenu { padding-top:10px;
 
}
.pt_custommenu div.blockright { width: 200px; margin: 0 0 0 30px; padding: 0;}
.clearBoth {
    clear:both;
}
.block2{
    
}
#popup_home{
    display: none !important;
}

div.popup .block1{
    overflow: hidden;
    /*display: inline-block;*/
    float: left;
    /*clear:both;*/
    padding: 15px;
}
div.popup .block1:after { display:block; content:"."; clear:both; font-size:0; line-height:0; height:0; overflow:hidden; }
div.popup .block1 .column{
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
div.popup .block1 .column.first {padding-left:0;}
/*show right block*/
div.popup .floatleft{
    float: left;
}
div.popup .block1.floatleft{
    /*width: 650px;*/
}
div.popup .block2.floatleft{
    /*width: 250px;*/
}
div.popup .blockright img{
    max-width: 100%;
} 
.parentMenu .block-title{
    color: #1E7EC8;
    height: 32px;
    line-height: 32px;
}

div.pt_menu .parentMenu p{
    margin: 0;
    padding: 0;
}
#pt_menu_link .parentMenu ul li{
    float: left;
    list-style: none;
}
#pt_menu_link .parentMenu ul li a{
    float: left;
    padding: 5px 12px 6px 8px;
    display: block;
}
#pt_menu_link{
    padding: 0;
}
.cmsblock { width: 97% !important;}
.block2{
    color: #888;
    float: left;
    padding:30px;
    max-width: 860px;
    border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
}
.des-title { color: #666; text-transform: uppercase; font-weight: normal; font-family: 'robotoslablight'; font-size: 24px; padding-bottom: 10px; text-align: left;}
.static-menu-img {
    float: left;
}

.custom-menu-bottom img { width: 100%;}

/*mobile menu*/

/*------Accordion ---------*/
/********** < Navigation */

.ma-nav-mobile-container { clear: both; display: inline-block; padding: 0; margin-top:0;}
.nav-collapse {
    text-align: left;
}
.navbar .nav > li {
    padding: 10px 30px 20px 0;
}
#ma-mobilemenu {
    height: auto;
    display: none;
    float: left;
    width: 100%;
    padding: 10px 15px;
}

.nav-collapse, .nav-collapse.collapse {

}
.navbar-inner {
   
    
}
.menu-mobile {
    background:#323a45  !important;
    float: left;
    width: 100%;
    padding: 5px 15px;
    margin: 0;
    height: 50px;
    line-height: 40px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
}
.navbar .btn-navbar {
    margin-top: 13px;
    height: 15px;
    border: 0 !important;
    box-shadow: none !important;
    background: url("../images/bg-menu-mobile.png") no-repeat 50% 50%;
    float: right;
}
.navbar .btn-navbar:hover {background:url("../images/bg-menu-mobile.png") no-repeat 50% 50% !important; font-family: 'helvetica';}
.navbar .btn-navbar .icon-bar {
    box-shadow:none !important;
    border-radius:0 !important;
    background-color:inherit !important;
}
.mobilemenu>li.last a {
    border-bottom: 0;
}
.navbar .brand {
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    font-family: titilliumwebsemibold;
}
@media (max-width:991px){.navbar .brand{float:left;}}
.mobilemenu {
 list-style-type: none;
 padding: 0;
    margin: 0;

}
.collapse.in {

}
.mobilemenu ul {
 padding: 0;
 margin: 0;
 float: left;
 display: block;
 width: 100%;
}
.mobilemenu li {
 cursor: pointer;
 list-style-type: none;
 padding: 0;
 margin: 0;
 float: left;
 display: block;
 width: 100%;
 position: relative;
}
.mobilemenu li.level0.last {
    margin-bottom: 20px;
}
.mobilemenu li.active>a {
 /*background: url('../images/close.gif') no-repeat center right;*/
}
.mobilemenu li div {
 padding: 20px;
 background: #aef;
 display: block;
 clear: both;
 float: left;
 width: 360px;
}
.mobilemenu a {
 text-decoration: none;
 border-bottom: 1px solid #e0d8d8;
 /*font: bold 1.1em/2em Arial, sans-serif;*/
 font-size: 16px;
 line-height: 40px;
 font-weight: normal;
 color: #666;
 display: block;
 text-transform: uppercase;
 cursor: pointer;
 font-family: titilliumwebsemibold;
}




.mobilemenu li.parent>a {
	/*background: url('../images/open.gif') no-repeat center right;*/
}

.mobilemenu li ul li {
    font-size: 0.9em;
    
}
.mobilemenu li ul li a{background-position: 30px; padding-left:35px;}
.mobilemenu li.active>ul {

}
.mobilemenu li ul li ul li a {background-position: 50px; padding-left:75px;}

.mobilemenu ul a {
	padding-left: 25px;
}
.mobilemenu ul ul a {
	padding-left: 75px;
	
}
.mobilemenu ul ul ul a {
	padding-left: 75px;
	background-position: 50px;
}
.mobilemenu ul ul ul ul a {
	padding-left: 70px;
}
.mobilemenu ul ul ul ul ul a {
	padding-left: 85px;
}
/*----------- button mobilemenu -------------*/
.mobilemenu span.head {
	position: absolute;
	top: 8px;
	right: 8px;
}
.mobilemenu span.head a { 
	color:#333333;
	display:block;
	height:15px;
	padding:0;
	width:15px;
	border: 0;
}
.mobilemenu span.CLOSE a { background: url(../images/mobile-nav.png) no-repeat 0 0; }
.mobilemenu span.OPEN a {  background: url(../images/mobile-nav.png) no-repeat 0 100%;}
/*.mobilemenu span.head a:hover*/
.mobilemenu li.active>span.head a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
.mobilemenu li.selected span.head a {
	background: url(../images/menu_up.png) no-repeat 50% 50%;
}
