.block-search-top {}
  @media (max-width: 991px){.block-search-top{position: static; display: inline-block;  }}
.icon_search {
  cursor: pointer;
  height: 50px;
  padding: 0;
  margin: 0;
  display: block;
  width: 50px;
  z-index: 999;
  background: url(img/search_icon.png) 50% 0 no-repeat #eee;
}
.icon_search:hover {background-color: #5dbede; background-position: 50% 100%;}
 @media (max-width: 1200px) {
    .icon_search {height:46px; width:46px; }
    .block-search-top{top:84px;}
  }


#search_block_top {
  }
  @media (max-width: 1200px){ #search_block_top {}}
  @media (max-width: 991px){#search_block_top {margin-bottom:20px;}}
  #search_block_top #searchbox {
    padding:0 ;
    text-align: right;}
  #search_block_top .btn.button-search {
    display: inline-block;
    border: none;
    color: white;
    width: 60px;
    height:58px;
    text-align: center;
    padding: 10px 0 11px 0;
    background: url(img/search.png) 50% 50% no-repeat;
    border-radius: 0 5px 5px 0;}
    #search_block_top .btn.button-search:hover {background-color:#474E58; border-bottom: 3px solid #323A45;}
    
    #search_block_top .btn.button-search span {
      display: none; }
    #search_block_top .btn.button-search:before {
      display: block;
      font-size: 17px;
      width: 100%;
      text-align: center; }
    #search_block_top .btn.button-search:hover {
      color: #6f6f6f; }
  #search_block_top #search_query_top {
    display: inline-block;
    padding: 10px;
    width:350px;
    height: 58px;
    line-height: 38px;
    margin-right:-4px;
    background: #fbfbfb;
    border:none;
    border-radius: 5px 0 0 5px;
    -webkit-border-radius: 5px 0 0 5px;
    -moz-border-radius: 5px 0 0 5px;}

.ac_results {
  background: white;
  border: 1px solid #d6d4d4;
  width: 271px;
  margin-top: -1px; }
  .ac_results li {
    padding: 0 10px;
    font-weight: normal;
    color: #686666;
    font-size: 13px;
    line-height: 22px; }
    .ac_results li.ac_odd {
      background: white; }
    .ac_results li:hover, .ac_results li.ac_over {
      background: #fbfbfb; }

form#searchbox {
  }
  form#searchbox label {
    color: #333333; }
  form#searchbox input#search_query_block {
    margin-right: 10px;
    max-width: 222px;
    margin-bottom: 10px;
    display: inline-block;
    float: left; }
  form#searchbox .button.button-small {
    float: left; }
    form#searchbox .button.button-small i {
      margin-right: 0; }
@media (max-width: 1200px) {
  #search_block_top #searchbox {text-align: center;}
  #search_block_top #search_query_top {width:300px;}
}
@media (max-width: 320px) {
  #search_block_top #search_query_top {width:180px;}
}