
.pt_vmegamenu {
    font-size: 14px;
    margin: 0 0 40px;
    padding: 0;
    z-index: 1000;
}
.pt_vmegamenu .vmegamenu_title {display: inline-block;
    width: 100%;
    background: url(../img/bg-category.png) no-repeat 13px 20px ;
    padding: 0;
    border-bottom: 3px solid ;
    border-radius: 5px 5px 0 0;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    }
.pt_vmegamenu .vmegamenu_title h2 {display: inline-block;
    padding: 15px 12px 15px 30px;
    margin: 0 0 -3px 45px;
    border-left: 1px solid #fff;
    font-family: 'titilliumwebsemibold';
    font-size: 20px;
    text-transform: uppercase;
    color:#fff;}
.pt_vmegamenu .vmegamenu_content {
    border-bottom: 1px solid #f1f1f1;
    border-left: 1px solid #f1f1f1;
    border-right: 1px solid #f1f1f1;
    border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    -moz-border-radius: 0 0 5px 5px;
}
    }
.pt_vmegamenu .megamenu_content div.pt_menu {

}
.pt_vmegamenu div.popup {
    padding: 10px;
}

.pt_vmegamenu div.pt_menu.active {
    
}
.pt_vmegamenu div.popup {
    display: none;
    left: 0;
    position: absolute;
    text-align: left;
    top: 0 !important;
    z-index: 3000;
    border: 1px solid #e5e5e3;
    background: #FFFFFF;
    padding: 0px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.2);
    border-radius: 5px;
    overflow: visible!important;
}
.pt_vmegamenu div.pt_menu .parentMenu {
    width: 100%;
}
.pt_vmegamenu div.pt_menu .parentMenu a, .pt_vmegamenu div.pt_menu .parentMenu span.block-title {
    background: none repeat scroll 0 0 ;
    display: block;
    line-height: 21px;
    padding: 18px 30px 18px 27px;
    text-decoration: none;
    width: 100%;
    border-left: 4px solid #fff;
    font-size:16px;
    font-weight:bold;
    text-transform: uppercase;
    
}


/***********************************************    Popup     **************************************************/
.pt_vmegamenu .popup .column>div.itemMenu>a {
    background: url(../img/bg-bottom1-title.png) repeat-x scroll left bottom;
    color: #777777;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
    text-transform: uppercase;
    width: 100%;
}
.pt_vmegamenu .popup .column>div.itemMenu>a.nochild {background: none;}
.pt_vmegamenu .popup .column>div.itemMenu>a.nochild span {background: none !important;}
.pt_vmegamenu .popup .column>div.itemMenu>a span {
    display: inline-block;
    line-height: 20px;
    padding: 0 0 10px 0;
    font-family: 'titilliumwebsemibold';}
.pt_vmegamenu .popup .column.col1>div.itemMenu>a span{
    background: url(../img/bg-f-title1.png) left bottom no-repeat;
}
.pt_vmegamenu .popup .column.col2>div.itemMenu>a span{
    background: url(../img/bg-f-title2.png) left bottom no-repeat;
}
.pt_vmegamenu .popup .column.col3>div.itemMenu>a span{
    background: url(../img/bg-f-title3.png) left bottom no-repeat;
}
.pt_vmegamenu .popup .column.col4>div.itemMenu>a span{
    background: url(../img/bg-f-title1.png) left bottom no-repeat;
}
.pt_vmegamenu .popup .column.col5>div.itemMenu>a span{
    background: url(../img/bg-f-title2.png) left bottom no-repeat;
}
.pt_vmegamenu .popup .column.col6>div.itemMenu>a span{
    background: url(../img/bg-f-title3.png) left bottom no-repeat;
}
.pt_vmegamenu .popup .column.col7>div.itemMenu>a span{
    background: url(../img/bg-f-title1.png) left bottom no-repeat;
}
.pt_vmegamenu .popup .column.col8>div.itemMenu>a span{
    background: url(../img/bg-f-title2.png) left bottom no-repeat;
}
.pt_vmegamenu .popup .column.col9>div.itemMenu>a span{
    background: url(../img/bg-f-title3.png) left bottom no-repeat;
}

.pt_vmegamenu div.popup a {
    font-size:14px;
}
.pt_vmegamenu .itemMenu h4.level1, .pt_vmegamenu .itemMenu a.level1 {
    color: #555555;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
}
.pt_vmegamenu .itemMenu h4.level1, .pt_vmegamenu .itemSubMenu h4.level2 span {
    color: #897725;
}
.pt_vmegamenu .itemSubMenu h4.level2, .pt_vmegamenu .itemSubMenu a.level2, .pt_vmegamenu .itemSubMenu h4.level3, .pt_vmegamenu .itemSubMenu a.level3, .pt_vmegamenu .itemMenu a.level1.nochild {
    background: url("../images/black-dot.jpg") no-repeat scroll left center rgba(0, 0, 0, 0);
    color: #555555;
    font-size: 14px;
    font-weight: normal;
    padding-left: 8px;
    text-transform: none;
}
.pt_vmegamenu .itemSubMenu a.level2:hover, .pt_vmegamenu .itemMenu a.level1.nochild:hover {
    color: #A52A2A;
}
.pt_vmegamenu div.popup a.actParent {
    color: #4D4D4D;
}
.pt_vmegamenu div.popup a.act {
    color: #A52A2A !important;
}
.pt_vmegamenu div.column {
    float: left;
    margin-right: 15px;
    width: 185px;
}
.pt_vmegamenu div.column.last {
    border-right: 0 none;
    margin-right: 0;
    padding-right: 0;
}


.pt_vmegamenu div.itemSubMenu {
    margin-left: 0;
}
.pt_vmegamenu .clearBoth {
    clear: both;
}
.pt_vmegamenu .block2 {
    padding:20px;
}
.pt_vmegamenu #popup_home {
    display: none !important;
}
.pt_vmegamenu div.popup .block1 {
    overflow: hidden;
    padding:20px !important;
}
.pt_vmegamenu div.popup .block1 .column {
    margin-bottom: -99999px;
    padding-bottom: 99999px;
}
.pt_vmegamenu div.popup .floatleft {
    float: left;
}
.pt_vmegamenu div.popup .blockright img {
    max-width: 100%;
}
.pt_vmegamenu .parentMenu .block-title {
    color: #1E7EC8;
}
.pt_vmegamenu div.pt_menu .parentMenu p {
    margin: 0;
    padding: 0;
}
.pt_vmegamenu #pt_ver_menu_link .parentMenu ul li {
    float: none;
    list-style: none outside none;
}
.pt_vmegamenu #pt_ver_menu_link .parentMenu ul li a {
    display: block;
    float: none;
    padding: 5px 10px 6px;
}
.pt_vmegamenu #pt_ver_menu_link {
    padding: 0;
    width: 195px;
}
.pt_vmegamenu .wrap-popup {
    left: 275px;
    position: absolute;
    top: 0;
    width: 920px;
}
@media (max-width: 1200px) {
    .pt_vmegamenu .wrap-popup {left: 222px;}
}
@media (max-width: 991px){
    .pt_vmegamenu {display: none;}
}
.pt_vmegamenu .wrap-popup:after {
    clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.pt_vmegamenu div.pt_menu {
    padding: 0 !important;
    padding: 0;
    position: relative;
    width: 100%;
    float:none;
    border-top: 1px solid #f1f1f1;
    background: url(../img/bg-left-menu.png) 90% 50% no-repeat;
}
.pt_vmegamenu div.pt_menu.noSub {background: none;}

.pt_vmegamenu div.pt_menu.noSub:hover,.pt_vmegamenu div.pt_menu.noSub.act {background: none;}
.pt_vmegamenu .arrow-left {background: url(../img/arrow-left-menu.png) 0 20px no-repeat;
    width:13px;
    height:100%;
    position: absolute;
    left:-13px;
    top:0px;}