/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.pos-new-product  .bx-wrapper {
	position: relative;
	margin: 0 auto 60px;
	padding: 0;
	*zoom: 1;
}

.pos-new-product  .bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.pos-new-product  .bx-wrapper .bx-viewport {
	margin:30px 0 0;
}

.pos-new-product  .bx-wrapper .bx-pager,
.pos-new-product  .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -30px;
	width: 100%;
}

/* LOADER */

.pos-new-product  .bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 0;
}

/* PAGER */
.pos-new-product .price.product-price {font-size:20px;}
.pos-new-product  .bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.pos-new-product  .bx-wrapper .bx-pager .bx-pager-item,
.pos-new-product  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.pos-new-product  .bx-wrapper .bx-pager.bx-default-pager a {
	background: #666;
	text-indent: -9999px;
	display: block;
	width: 10px;
	height: 10px;
	margin: 0 5px;
	outline: 0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}

.pos-new-product  .bx-wrapper .bx-pager.bx-default-pager a:hover,
.pos-new-product  .bx-wrapper .bx-pager.bx-default-pager a.active {
	background: #000;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.pos-new-product  .bx-wrapper .bx-prev {
	
}

.pos-new-product  .bx-wrapper .bx-next {
	
}

.pos-new-product  .bx-wrapper .bx-prev:hover {
	
}

.pos-new-product  .bx-wrapper .bx-next:hover {
	
}

.pos-new-product  .bx-wrapper .bx-controls-direction a {
	
}

.pos-new-product  .bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.pos-new-product  .bx-wrapper .bx-controls-auto {
	text-align: center;
}

.pos-new-product  .bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.pos-new-product  .bx-wrapper .bx-controls-auto .bx-start:hover,
.pos-new-product  .bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.pos-new-product  .bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.pos-new-product  .bx-wrapper .bx-controls-auto .bx-stop:hover,
.pos-new-product  .bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.pos-new-product  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.pos-new-product  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.pos-new-product  .bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.pos-new-product  .bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

.pos-new-product  .bx-wrapper li {
	
}

.pos-new-product .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}

.pos-new-product .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}