html, body
{ 
	margin: 0;
	padding: 0;
	color: #555;
	font: normal 10pt "Arial,Helvetica,sans-serif" !important;
	background: #EFEFEF !important;
    -webkit-font-smoothing: antialiased!important;
    text-rendering: optimizeLegibility!important;
}
@font-face {
    font-family: 'PT Sans Narrow';
    font-style: normal;
    font-weight: 400;
    src: local('PT Sans Narrow'), local('PTSans-Narrow'), url(../font/pt.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Condensed Regular'), local('RobotoCondensed-Regular'), url(../font/robocondreg.woff) format('woff');
}
@font-face {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 700;
    src: local('Roboto Condensed Bold'), local('RobotoCondensed-Bold'), url(../font/roboconbold.woff) format('woff');
}

#page {
	margin: 0;
	background: white;
    width: 100%;
}
#header {
	margin: 0;
	padding: 0;
	border-top: 25px solid #57bcda;
}
#content {
    padding: 20px;
}
#sidebar {
    padding: 0;
}
#footer {
	padding: 10px;
	margin: 10px 20px;
	font-size: 0.8em;
	text-align: center;
	border-top: 1px solid #C9E0ED;
}
#logo {
	padding: 10px 5px;
	font-size: 130%;
}
#mainmenu, #submenu {
	background:white url(bg.gif) repeat-x left top;
}
#submenu {
        border-top: 2px solid white;
        margin: 1px 10px;
}
#mainmenu ul, #submenu ul {
	padding:6px 20px 5px 20px;
	margin:0;
}
#mainmenu ul li, #submenu ul li{
	display: inline;
}
#mainmenu ul li a, #submenu ul li a{
	color:#ffffff;
	background-color:transparent;
	font-size:12px;
	font-weight:bold;
	text-decoration:none;
	padding:5px 5px;
}
#mainmenu ul li a:hover, #mainmenu ul li.active a,#submenu ul li.active a, #submenu ul li a:hover{
	color: #6399cd;
	background-color:#EFF4FA;
	text-decoration:none;
}
div.flash-error, div.flash-notice, div.flash-success, .message{
	padding:.8em;
        margin: 10px 10px 0;
	border:2px solid #ddd;
}
div.flash-error{
	background:#FBE3E4;
	color:#8a1f11;
	border-color:#FBC2C4;
}
div.flash-notice, .message{
	background:#FFF6BF;
	color:#514721;
	border-color:#FFD324;
}
div.flash-success{
	background:#E6EFC2;
	color:#264409;
	border-color:#C6D880;
}
div.flash-error a{color:#8a1f11;}
div.flash-notice a{color:#514721;}
div.flash-success a{color:#264409;}
div.form .rememberMe label{	display: inline;}
div.view {
	padding: 5px;
	margin: 1px;
	border-top: 15px solid #C9E0ED;
    display: inline-block;
    width: 99%;
    background: #FFF4D0;
    vertical-align: top;
}
div.breadcrumbs{
	font-size: 0.9em;
	padding: 5px 20px;
}
div.breadcrumbs span {
	font-weight: bold;
}
.portlet { /* height: 200px; width: 300px;*/ }
.portlet-decoration {
	padding: 3px 8px;
	background: #dcdcdc;
	border-left: 5px solid #dcdcdc;
}
.portlet-title {
	font-size: 12px;
	font-weight: bold;
	padding: 0;
	margin: 0;
	color: #0000cc;
}
.portlet-content {
	font-size:0.9em;
    padding: 5px 8px;
    margin: 0 0 15px;
    background: #ffffff;
	min-height: 90%;
}
.portlet-content div.row select {
font-size: 14px;
}
.portlet-content ul {
    list-style: none outside none;
    margin: 0;
	padding: 0;
}
.portlet-content li {
	padding: 2px 0 4px 0;
}
.post {
	margin: 0 0 20px;
}
.post .title {
	font-size: 1.5em;
	border-bottom: 1px solid #C9E0ED;
}
.post .title a {
	color: #555;
	text-decoration: none;
}
.post .author{
	color: #888;
	margin: 0 0 5px;
}
.comment {
	-moz-border-radius:7px;
	padding: 10px;
	background: #F5F5F5;
	margin: 5px 0;
}
.comment .content {
	margin: 10px 0;
}
.comment .author {
	margin: 5px 0;
	padding: 0 0 3px;
	border-bottom: 1px solid #DDD;
}
.comment .time{
	color: #888;
	font-size: 0.8em;
}
.comment a.cid{
	color:#CCC;
	float:right;
	font-size:1.5em;
	font-weight:bold;
	padding:0 5px 5px 5px;
	text-decoration: none;
}
.comment a.cid:hover{
	color:#555;
}
.comment .pending{
	color:red;
}
#order-notice {
    background: #fff;
    border: 3px solid green;
    position: fixed;
    bottom: 0;
    right: 0;
    font: 15px/15px 'Tahoma';
    text-align: center;
}
#order-notice a{
    display:block;
    margin: 10px 0;
    width:300px;
}
.non-visible {
    display: none;
}
.admin-search-form{
    width:auto;
    overflow:hidden;
    margin-bottom: 0;
}
.admin-search-form td{
    font-size:11px;
    font-weight:600;
}
.compact-block{
    width:100%;
    float:left;
    overflow:hidden;
}
div.clr {
    clear: both;
}
h3 {
    font-size: 1.4em;
    line-height: 1;
    margin: 1em;
}
.answer {
    border-color: #00AA00 !important;
    margin-left: 10px !important;
  width: 97% !important;
}
.oper-button {
    color: blue !important;
    font-weight: 600;
}
#users-grid .filters, #articles-grid .filters,#category-grid .filters,#brands-grid  .filters{
    display: none;
}
.admintable {
    width: 100%;
    border: 1px;
}
.comment-empty {
    left: 235px;
    position: relative;
    top: 20px;}
/*---- Mel From file form.css*/
div.form {margin: 0;}
div.form input, div.form textarea, div.form select {margin: 0.2em 0;padding: 0;}
div.form fieldset {
    border: 1px solid #C9E0ED;
    padding: 0;
    background: #ffffff;
}
div.form fieldset:hover{
    background: #f8f7f7;
}
div.form label {
    text-align: left;
    font: 400 0.9em "Roboto Condensed", "sans-serif";
    padding-top: 0 !important;
}
div.form .row {margin: 5px 0;}
div.form .hint {
    margin: 0;
    padding: 0;
    color: #999;
}
div.form .note {
    font-style: italic;
    font-size: 14px;
    line-height: 20px;
    margin: 0;
}
div.form span.required{
    color: red;
}
div.form div.error label, div.form label.error, div.form span.error {
    color: #C00;
}
div.form div.error input,div.form div.error textarea,div.form div.error select,
div.form input.error,div.form textarea.error,div.form select.error {
    background: #FEE;
    border-color: #C00;
}
div.form div.success input,div.form div.success textarea,div.form div.success select,
div.form input.success,div.form textarea.success,div.form select.success {
    background: #E6EFC2;
    border-color: #C6D880;
}
div.form .errorSummary {
    border: 2px solid #C00;
    padding: 7px 7px 12px 7px;
    margin: 0 0 20px 0;
    background: #FEE;
    font-size: 0.9em;
}
div.form .errorMessage {
    color: red;
    font-size: 0.9em;
}
div.form .errorSummary p {
    margin: 0;
    padding: 5px;
}
div.form .errorSummary ul {
    margin: 0;
    padding: 0 0 0 20px;
}
div.search{
    width:100%;
    clear:left;
    overflow:hidden;
}
div.search form label {
    float: left;
    margin-right: 10px;
    position: relative;
    text-align: center;
    width: 159px;
}
div.search form .row {
    float: left;
    margin: 10px;
    text-align: center;
    width: 160px;
}
div.search form input {
    margin:0 auto;
}
div.search form .buttons {
    clear: left;
    margin: 20px 0;
    padding-left: 20px;
}
div.search form .errorMessage {
    margin: 0 0 0 110px;
}
.overlay {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    -moz-opacity: 0.70;
    -khtml-opacity: 0.70;
    opacity: 0.70;
    z-index: 2000;
}
.popup {
    margin-left: -365px;
    position: absolute;
    top: 118px;
    z-index: 9999;
}
/* ---------- Mel from file main.menu.css*/
.accordion {
    padding: 40px 28px 25px 0;
    width: 270px;
    height:auto;
}
ul.accordion {
    font-size: 1em;
    line-height: 0.5em;
    list-style: none outside none;
    margin: 0;
    padding: 0;
    height:auto;
    width: auto;/*175px; */
}
ul.accordion li {
/*Alexy    margin: 0px 0 -21px 0; */
    padding:0
}
ul.accordion li a {
    color: #0088CC;
    display: block;
    font: 500 1.3em/1 "PT Sans Narrow", "Arial", "sans-serif";
    padding: 3px 5px;
    text-decoration: none;
    background: #f2f2f2;
    border-bottom: 1px solid #000000;
    border-left: 1px solid #000000;
}
ul.accordion li a:hover {
    text-decoration: none;
    text-shadow: 1px 1px 0 #cacaca;
}
ul.accordion ul {
    display: none;
    margin: 0;
    padding: 0;
}
ul.accordion ul li {
    clear: both;
    margin: 0;
    padding: 0;
}
ul.accordion ul li a {
    font-size: 15px;
    font-weight: normal;
    outline: 0 none;
    padding-left: 20px;
    border-top: 1px solid #bababa;
    border-right: 1px solid #bababa;
}
ul.accordion ul li a:hover {
    background-color: #f4bb00;
    color: white;
}
ul.accordion ul ul li a {
    color: silver;
    padding-left: 40px;
}
ul.accordion ul ul li a:hover {
    background-color: #f4bb00;
    color: white;
}
ul.accordion span {
    float: right;
}
#admin-content {
    width: auto;
}


/* reset.css */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, code, del, dfn, em, img, q, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td
{margin:0;padding:0;border:0;font-weight:inherit;font-style:inherit;font-size:100%;font-family:Arial;vertical-align:baseline;}
body {line-height:1.5;}
table {border-collapse:separate;border-spacing:0;}

table, td, th {vertical-align:top;}
blockquote:before, blockquote:after, q:before, q:after {content:"";}
blockquote, q {quotes:"" "";}
a img {border:none;}

/* typography.css */

body {font-size:75%;color:#222;background:#fff;font-family:"Arial, Helvetica, sans-serif";}
h1, h2, h3, h4, h5, h6 {font-weight:normal;color:#111;}
h1 {font-size:2em;line-height:1;margin-bottom:0.5em;}
h2 {font: 400 18px/1 "roboto condensed", "Arial", "sans-serif" !important; margin: 0.75em 0 0.75em 0;}
h1, h3, h3 a {font: 400 18px/1 "roboto condensed", "Arial", "sans-serif" !important; margin:0 5px; !important;color:#000000 !important;cursor: pointer !important;text-decoration: none !important;}
h4 {font-size:1.2em;line-height:1.25;margin-bottom:1.25em;}
h5 {font-size:1em;font-weight:bold;margin-bottom:1.5em;}
h6 {font-size:1em;font-weight:bold;}
h1 img, h2 img, h3 img, h4 img, h5 img, h6 img {margin:0;}
p {margin:0 0 1.5em;}
p img.left {float:left;margin:1.5em 1.5em 1.5em 0;padding:0;}
p img.right {float:right;margin:1.5em 0 1.5em 1.5em;}
a:focus, a:hover {color:#000; text-decoration:underline;}
a {color: #000000;text-decoration:none;}
a[disabled=disabled] {color:#777; cursor: default;}
blockquote {margin:1.5em;color:#666;font-style:italic;}
strong {font-weight:bold;}
em, dfn {font-style:italic;}
dfn {font-weight:bold;}
sup, sub {line-height:0;}
abbr, acronym {border-bottom:1px dotted #666;}
address {margin:0 0 1.5em;font-style:italic;}
del {color:#666;}
pre {margin:1.5em 0;white-space:pre;}
pre, code, tt {font:1em 'andale mono', 'lucida console', monospace;line-height:1.5;}
li ul, li ol {margin:0;}
ul, ol {margin:0 1.5em 1.5em 0;padding-left:3.333em;}
ul {list-style-type:disc;}
ol {list-style-type:decimal;}
dl {margin:0 0 1.5em 0;}
dl dt {font-weight:bold;}
dd {margin-left:1.5em;}
table {margin-bottom:1.4em;width:100%;}
.two {margin-bottom:1.4em;width:50%;}
th {font: 700 20px "roboto condensed", "Helvetica", "Arial", sans-serif;padding-left:20px;}
thead th {background: #EDEDED;height: 18px;}
th, td, caption {
    #padding:0 0 0 5px;
    padding: 0;
    text-align:left;
    font-weight:normal;
}
caption {
    margin: 10px 2px -2px 0;
    text-align: left;
    font: 400 1.2em/1 "PT Sans Narrow", "Arial", sans-serif;
    text-shadow: 1px 1px 1px #ffffff;
    background: #C9E0ED;
    padding: 2px 0 5px 10px;
}
tfoot {font-style:italic;}
.small {font-size:.8em;margin-bottom:1.875em;line-height:1.875em;}
.large {font-size:1.2em;line-height:2.5em;margin-bottom:1.25em;}
.hide {display:none;}
.quiet {color:#666;}
.loud {color:#000;}
.highlight {background:#ff0;}
.added {background:#060;color:#fff;}
.removed {background:#900;color:#fff;}
.first {margin-left:0;padding-left:0;}
.last {margin-right:0;padding-right:0;}
.top {margin-top:0;padding-top:0;}
.bottom {margin-bottom:0;padding-bottom:0;}

/* grid.css */
.container {width:100%;margin: 0 auto;}
.showgrid {background:url(src/grid.png);}
.column, div.span-1, div.span-2, div.span-3, div.span-4, div.span-5, div.span-6, div.span-7, div.span-8, div.span-9, div.span-10, div.span-11, div.span-12, div.span-13, div.span-14, div.span-15, div.span-16, div.span-17, div.span-18, div.span-19, div.span-20, div.span-21, div.span-22, div.span-23, div.span-24 {float:left;margin-right:10px;}
.last, div.last {margin-right:0;}
div.border {padding-right:4px;margin-right:5px;border-right:1px solid #eee;}
div.colborder {padding-right:24px;margin-right:25px;border-right:1px solid #eee;}
.prepend-top {margin-top:1.5em;}
.append-bottom {margin-bottom:1.5em;}
.box {padding:1.5em;margin-bottom:1.5em;background:#E5ECF9;}
hr {background:#ddd;color:#ddd;clear:both;float:none;width:100%;height:.1em;margin:0 0 0.15em;border:none;}
hr.space {background:#fff;color:#fff;visibility:hidden;}
.clearfix:after, .container:after {content:"\0020";display:block;height:0;clear:both;visibility:hidden;overflow:hidden;}
.clearfix, .container {display:block;}
.clear {clear:both;}
.grid-view{
    width:100%;
}
.exit-container {
    width:auto;
    margin:-22px 25px 0 0;
    float:right;
}
.exit-container a {
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000;
    font: bold 11px 'Tahoma';
}
.exit-container a:hover {
    color: #ffffff;
    text-shadow: 1px 1px 0 #000000;
    font: bold 11px 'Tahoma';
}
.lang {
    float: left;
    margin: -21px 0 0 25px;
    color: #ffffff;
    text-shadow: 1px 1px 1px #000000;
    font: bold 11px 'Tahoma';
}
.lang a {
    margin: 0 4px;
    display: inline-block;
    width: 16px;
    height: 11px;
}
.lang a span {
    background: url('../images/langs.jpg') no-repeat;
    width: 16px;
    height: 11px;
    display: inline-block;
}
.lang a.active {
   padding-bottom: 10px;
}
.lang a.ru span {
    background-position: 0 0;
}
.lang a.en span {
    background-position: -16px 0;
    margin: 0 0 0 3px;
}
.lang a.zh span {
    background-position: -32px 0;
    margin: 0 0 0 3px;
}
.lang a.he span {
    background-position: -64px 0;
    margin: 0 0 0 3px;
}
.lang a.de span {
    background-position: -48px 0;
    margin: 0 0 0 3px;
}
.lang a.fr span {
    background-position: -80px 0;
    margin: 0 0 0 3px;
}
.lang a.es span {
    background-position: -96px 0;
    margin: 0 0 0 3px;
}
/*  */
.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
    width: auto !important;
}
/*  Mel Product list */
.products-list  {
    margin: 0;
    padding: 0px 10px 10px 10px;
    text-align: justify;
    clear: left;
    vertical-align: top;
}
.products-list .product {
    width: 160px;
    margin: 10px 0 0 0;
    display: inline-table;
    vertical-align: top;
}
.products-list .product .product-image {
    width: 160px;
    height: 160px;
    padding: 0;
    text-align: center;
    border: 3px solid #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.products-list .product .product-image:hover {
    border: 3px solid #F6B32E;
}
.products-list .product .product-image img {
    border: none;
    border-radius: 7px;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    height: 160px;
    width: 160px;
}
.products-list .product .product-price {
    position: relative;
    background: #3BB3C2;
    border: 2px solid #ffffff;
    border-right: none;
    border-bottom: none;
    border-radius: 10px 0 7px 0;
    -moz-border-radius: 10px 0 7px 0;
    -webkit-border-radius: 10px 0 7px 0;
    color: #ffffff;
    font-size: 14px;
    font-weight: 700;
    float: right;
    margin-left: 0px;
    padding: 2px 7px;
    top: -26px;
    right: 3px;
    width: -1em;
}
.products-list .product .product-promotion {
    float: right;
    background: #D9221D;
    color: #fff;
    font-size: 11px;
    width: -1em;
    height: 17px;
    margin: -2px -7px -2px 5px;
    padding: 4px 4px 0px 0px;
    text-align: center;
    vertical-align: top;
    border-radius: 0 0 6px 0;
    -moz-border-radius: 0 0 6px 0;
    -webkit-border-radius: 0 0 6px 0;
}
.product .product-title {
    font: 11px/14px 'Tahoma';
    color: #646464;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 142px;
    padding: 5px;
    margin-top: -1px;
    text-align: left;
}
.featured .product {
    margin: 10px 0 0 0;
    vertical-align: top;
}
.featured .product.first {margin-left: 0;}
.featured .product-image {
    border: 3px solid #ffffff;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -webkit-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
    box-shadow: 2px 2px 4px 1px rgba(0, 0, 0, 0.3);
}
.featured .product-image:hover {border: 3px solid #F6B32E;}
/*  Mel End of Product list */

.filters {margin: 0;padding: 0;}
.filter-container {margin: 0;padding: 0;width: 97%;height: 25px;}
.filter-container input, .filter-container select {height: 15px !important;border-radius:0 !important;font-size:80% !important;}
.filter-container select {height: 25px !important;width: 100% !important;}
/* Медвед */
.admin-history .grid-view table.items td{
    padding: 0.1em 0.5em 0.1em 10%;
}
.control-group-install-form ul li {
    float: left; display: block; width: 30%;
}
.orderPreview{position: absolute;}
.orderPreviewVisible {position: relative;}
.orderPreviewHidden{display:none;}
.orderPreviewVisible:hover .orderPreviewHidden{
    display:block;
    position: relative;
    top:-86px;
    left: -2px;
    background-color: #ffffff;
    max-width: 513px;
    z-index: 100000;
    border: solid 2px #dadada;
}
.orderPreviewHidden img, .orderPreviewVisible img {
    padding: 1px;
    border: solid 1px #ffffff;
}
.orderPreviewVisible img:hover, .orderPreviewHidden img:hover  {
    border: solid 1px #00cce6;
}
.tab-comments .ui-tabs .ui-tabs-panel{}
.ordr-header-block h3 {
    font: 13px "roboto condensed", "Helvetica", "Arial", sans-serif !important;
    margin-top: 0;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-transform: uppercase;
    background: #C9E0ED;
    border: 2px solid #FFFFFF;
    padding: 3px 0.5em 3px 0.5em;
}
.ordr-header-block th, .ordr-header-block .grid-view table.items th {
    text-align: justify;
    padding-right: 10px;
    font: 700 0.9em/1 "Roboto Condensed",Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    border: none;
}
.ordr-header-block td, .ordr-header-block .grid-view table.items td {
    font: 400 13px/1 "Roboto Condensed",Helvetica, Arial, sans-serif;
    text-align: left;
    border:none;
    padding: 0 0.1em;
    vertical-align: middle !important;
}
.ordr-header-block .form-horizontal .control-label {
    font: 400 13px/1 "Roboto Condensed",Helvetica, Arial, sans-serif;
}
.ordr-header-block input{
    font-size: 12px !important;
    border-radius: 0 !important;
    max-width: 85px;
}
.ordr-header-block select, .ordr-header-block .uneditable-input{
    max-width: 90%;
    font: 400 0.9em/1 Arial,Helvetica,sans-serif;
    border-radius: 0;
    height: 12px;
}
.ordr-header-block select {height: 22px;}
.ordr-header-block .uneditable-input {cursor:text;}
.ordr-header-block img {
    width: 50px;
    height: 50px;
    border: solid 1px transparent;
}
.ordr-header-block img:hover {border: solid 1px #00bcff;}
.ordr-header-block-parameters {
    padding: 0 10px 5px 10px;
    font: 400 15px/1 "Roboto Condensed",Helvetica, Arial, sans-serif;
}
.ordr-header-block-buttons {
    float:right;
    padding: 4em 10px 0 0;
}
.modal-body .ordr-header-block-buttons {
    padding: 10px 1% 0 0;
}
.ordr-header-block-buttons i {color: white !important;}
/* Mel categories Menu from front */ /* Categories */
.categories-table tbody tr td a {
    display: inline;
}
#categories-block .block-content {
    padding: 1px 5px;
    text-align: center;
}
#categories-block ul, ul.orders-by-status, ul.orders-info, .list-block ul {
    margin: -1px 0 0;
    padding:0;
    text-align: left;
}
#categories-block ul li, ul.orders-by-status li, ul.orders-info li, .list-block ul li {
    margin:0;
    padding:0;
    list-style: none none;
}
#categories-block ul li {
    position: relative;
}
#categories-block ul li a, ul.orders-by-status li a, .list-block ul li a{
    padding: 7px 15px 7px 5px;
    text-decoration: none;
    color: #000000;
}
.parent a {
    display: block;
}
#search-categories a {
    display: block;
}
#info-block ul li a {
    background: url('../images/info-image.jpg') center left no-repeat;
}
#categories-block ul li a {
    background-position: 100% 50%;
    background-repeat: no-repeat;
    border-bottom: 1px solid #D4CCCC;
    color: black;
    display: block;
    padding: 7px 15px 7px 5px;
    position: relative;
    text-decoration: none;
}
#categories-block ul li a span {
}
#categories-block ul li a:hover, ul.orders-by-status li a:hover,.list-block ul li a:hover {
    background-color: #7F7B83;
    color: #ffffff;
}
.block-controll {
    background: url('../images/block-controll.jpg') no-repeat;
    width: 177px;
    height: 45px;
    padding: 8px 5px 0 52px;
}
.block-controll a {
    font-weight: bold;
    text-decoration: none;
    line-height: 18px;
}
.block-controll a:hover {
    text-decoration: underline;
}

#categories-block ul li ul {
    float: left;
    position: absolute;
    -webkit-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.3);
    background-color: rgba(229, 239, 255, 0.99);
    padding: 10px;
    display: none;
    margin: -100px 0 0 200px;
    z-index: 1000;
    border: 1px solid #A2BC2C;
    top: 0;
    width: 725px;

}
#categories-block ul li ul li {
    margin: 0 0 10px;
    padding:0;
    min-height: 12px;
    width: auto;
}
#categories-block ul li ul li a, #categories-block ul li ul li a:hover {
    display: inline;
    border: none;
    background: none;
    margin:0;
    padding:3px;
}
#categories-block ul li ul li a:hover {
    text-decoration: none;
    color: #000000;
}
#categories-block ul li:hover ul {
    display: block;
}
.a1 {
    display: inline-block;
    width: 161px;
    margin: 0;
    padding: 0 0 2px 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
 /*   background: url("../images/check.png") 3px 4px no-repeat; */
}
.a1:hover {background: #F8F4D1 /*url("../images/check-on.png")*/ 3px 4px no-repeat;box-shadow: 0 0 3px 0 #9BB944;}
.a2 {
    border-bottom: solid 1px;
    padding: 3px;
    background: #F8F4D1;
}
/* Mel Categories menu tree*/
#menu-tree-view-left {
    padding-top: 15px;
    font-size: 90%;
}
#menu-tree-view-left li{
    #line-height: 10px;
}
#menu-tree-view-right {
    padding: 15px 0 0 15px;
    border-left: solid 1px #9a9a9a;
    font-size: 95%;
}
#menu-tree-view-div .treeview li {min-height: 20px;}

.cart-table {
    width: 100%;
    #float: left;
    margin: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cart-table legend {
    background: #C9E0ED;
    #border: solid 1px #c9e0ed;
    font: 13px "roboto condensed", "Helvetica", "Arial", sans-serif;
    padding: 3px 0 3px 1.7em;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-transform: uppercase;
    #width: auto;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.cart-table img {
    border: solid 1px #000000;
    width: 115px;
    height: 115px;
}
.cart-table p {padding-top: 5px;}
.cart-table .product-q {
    width:100px;
    float:left;
    padding: 10px;
}
.cart-table .ui-spinner {
    width: 80px;
    margin: 7px 0;
}
.cart-table .ui-icon-close {background-position: -80px -125px;}
.cart-table strong {
    color: #009846;
    font-weight: bold;
}
.cart-table .cost, .cart-table .sum {
    width:100px;
    float:left;
    padding: 10px;
    font: 700 19px 'Arial';
    color: #00c9e2;
    text-align: center;
}
.cart-table .sum {color: #009846;}
.cart-table .sum s {
    font: 700 16px 'Arial';
    color: #00c9e2;
}
.cart-table .sum a {
    font: 500 12px 'Arial';
    color: #5d5d5d;
}
.cart-table .cart-info {
    text-align: left;
    width:435px;
    float:left;
    padding: 10px;
}
/* Mel hoverbox */
.hoverbox{
    cursor: default;
    list-style: none;
}
.hoverbox a{cursor: default;}
.hoverbox a .preview{display: none;}
.hoverbox a:hover .preview
{
    display: block;
    position: absolute;
    top: 0;
    width: 250px;
    max-width: 1000%; /* 4mel тут был конфликт с bootstrap у которого 100% по дефолту */
    height: 250px;
    cursor: pointer;
    z-index: 1;
}
.hoverbox img{vertical-align: top;}
.hoverbox li
{
    display: inline;
    float: right;
    position: relative;
    top: -10px;
}
.hoverbox .preview{border-color: #000000;}
.comment-block .comment-btn .btn-mini [class^="icon-"], .btn-mini [class*=" icon-"] {margin-top:2px !important;}
.comment-block .grid-view table.items th{background-color: #e1e1e1;}
.comment-block .grid-view table.items tr {background-color: #ffffff;}
.comment-block .grid-view table.items tr:hover {background-color: #e1e1e1;}
.comment-block td div {padding: 0; margin-bottom: 3px;font-weight:400;color: #5d5d5d;}
.comment-btn button, .comment-btn-1 button{font: 13px "roboto condensed", "Helvetica", "Arial", sans-serif;}
.comment-btn {position: relative; top:-5px; float: right;margin-right: 15px;}
.comment-btn-1 {float:right;margin:10px;}
.comment-block {position: relative;font-size: 95%;}
.comment-block strong {color: #9a9a9a;float: right;font-size: 90%;margin-bottom: 5px;}
.comment-block .grid-view table.items td {
    padding:  3px 15px;
    line-height: 1.5em;
}
.comment-block .grid-view table.items td:hover{background-color: #c9e0ed;}

.comment-select {
    width:15px;
    height: 15px;
    position: relative;
    top:5px;
}
.comment-select input{
    display:hidden;
    opacity: 0;
    -moz-opacity:0 ;
    filter:alpha(opacity: 0);
    z-index: 10000;
    width: 15px;
    height: 15px;
    background: transparent;
    position: relative;
    top: 0px;
    left: 0px;
    cursor:pointer;
}
.comment-select-btn{
    width: 20px;
    height:20px;
    position: relative;
    top:-16px;
    text-align: center;
    color: #ffffff !important;
    border: solid 1px #ffffff;
    background-color: #00bcff;
}
#comment-comment-form, .item-comments .form {
    width: 400px;
    margin: 10px auto;
}
#comment-comment-form .row {width: 400px;}
#comment-comment-form label {width: 175px;}
.block_1 {
    width: 200px; height: 50px;
    #overflow: hidden;
    text-overflow: ellipsis;
}
.block_2 {display:none;}
.block_1:hover .block_2 {
    display:block;
    position: relative;
    width: 200px; height: auto;
    top: -200%; left:  -3px;
    background-color: #81b2eb;
    font-size: 120%;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 0px 10px 10px 10px;
    color: #ffffff;
    z-index: 10000;
}
.blocknormal {width:100px;height:auto;float:left;margin: 2px;}
.blockhover {display:none;}
.blocknormal:hover .blockhover{
    width: 100px;
    height: 100px;
    display:block;
    border: solid 1px #000000;
    background-color: #ffffff;
    position: relative;
    top: -151px;
    left:1px;
    overflow: hidden;
}
.nostyle, .nostyle td {}

.hello {
    font: 13px "roboto condensed", "Helvetica", "Arial", sans-serif;
    background: #F9F9F9;
    padding: 10px;
}
.hello span {color: #0093f5;font-weight: 700;}
.summary {
    background: #C9E0ED;
    font: 13px "roboto condensed", "Helvetica", "Arial", sans-serif;
    margin-bottom: 2px;
    margin-top: 15px;
    padding: 5px 0px 5px 10px;
    text-align: left;
    text-shadow: 1px 1px 1px #FFFFFF;
    text-transform: uppercase;
}
.pagination {margin: 10px !important;text-align: right;}
.order-items {text-align: left;}
.paginator {text-align:left;}
.paginator .selected .orderNavigatorItem {border: 5px solid #0093f5;}
/* 4Mel translation */
translate {
    display:none;
    position: relative;
    top:0;
    left:0;
    z-index: 1000;
}
translation:hover translate {
    display:inline-block;
    cursor: pointer;
}
.table-select {
    /*background: #ffe8e9;*/
    font: 400 13px/1 courier, "Helvetica", "Arial", sans-serif !important;
    padding: 2px;
    text-align: left;
    vertical-align: middle !important;
    height: 25px;
}
.red {background: #ffe8e9;}
.green {background: #b4ffc0;}
.table-bonus {
    padding:10px;
    height:50px;
    font-size:25px !important;
    text-align: center;
}
.poject-news {
    padding : 4px;
    height : 260px;
    overflow : auto;
    color: #828181;
    font-size: 0.9em;
}
.poject-news p, .poject-news a {font-family: "roboto condensed", "Helvetica", "Arial", sans-serif;}
.poject-news a {text-decoration: underline;}
.poject-news b {color: #57bcda;}
/* -----------------------Mel ui&bootstrap replace ------------------------------------------------------- */
.comment-block form {margin-bottom: -15px !important;}
.ui-widget-header {background: #57bcda;border: solid 1px #57bcda;}
.ui-layout-north, .ui-layout-south, .ui-layout-west, .ui-layout-center { padding: 0 !important;}
.ui-layout-center {padding: 10px; overflow-x: hidden !important;}
.ui-layout-resizer {background-color: #ffffff !important;}
.ui-tabs .ui-tabs-panel {padding: 0 !important;}
#headerblock-prices input[type="text"], #headerblock-id .uneditable-input {
    border: 0;
    border-bottom: solid 1px #5d5d5d;
    border-radius: 0;
    box-shadow: 0;
    color: #000000;
    font-family: Courier, monospace;
    font-size: 0.9em;
    height: 15px;
}
.rounded-3 {border-radius: 0 !important;}
#article-form * label{
    text-align: left;
    padding: 1px 3px !important;
    #margin: 0 !important;
}
.menu-point {}
.menu-point .ui-state-default .ui-icon {display: none; background: none; width: 0; height: 0;}
.menu-point .ui-accordion-icons {
    padding-left: 5px !important;
}
.ui-accordion-icons i {
    margin: 3px 10px;
    color:#0088CC;
    font-size: 14px;
}
h3 i {margin: 2px 10px 0 10px !important;color:#0088CC;}
h3 span i {margin: 3px 5px !important;color: #ffffff;}
span button {padding: 7px 20px !important;color: #ffffff;}
.ui-accordion .ui-accordion-content {padding: 0;border: solid 1px #c9e0ed;}
.ui-accordion .ui-accordion-content:hover {background: #F7F6F6;}
.ui-accordion .ui-accordion-header {background: #c9e0ed; border: solid 1px #ffffff;padding: 3px 0.5em 3px 1.7em;}
.admin-main-menu .ui-accordion .ui-accordion-header {background: #ffffff;}
.form-horizontal .control-group {margin: 10px 0 0 0 !important;}
.form-horizontal .control-group h4 {font-size:11px;float:right; margin-right: 15px;margin-bottom:-10px;}
.ui-menu {border: 1px solid #c9e0ed !important;}
.ui-icon-pencil {
    display: inline-block !important;
    padding-right: 3px;
    opacity: 0.3;
    width: 11px !important;
    height: 11px !important;
    background-position: -66px -114px !important;
}
.ui-icon-pencil:hover {opacity: 1;cursor: pointer;}
.form-actions {
    margin:5px !important;
    padding: 15px !important;
    text-align:center;
}
.form-actions button, #search-users-form label,.printableArea button{font-family: "Roboto Condensed", sans-serif;margin-bottom:0 !important;}
/* Modal windows */
.modal {
    width:800px !important;
    left: 40% !important;
    top: 5% !important;
    border-radius: 0!important;
}
.modal-body {max-height:500px !important;}
.modal-footer button {font-family: "Roboto Condensed", sans-serif;}
.ui-tooltip {margin-top:200px !important;padding: 3px;border:solid 1px #c9e0ed !important;box-shadow: none !important;}
.ui-tooltip-content {padding: 1px;font:400 0.8em "Roboto Condensed" !important;}
.ui-tooltip-content i {font:400 0.75em "Roboto Condensed" !important;}
textarea#valuesearch_CategoriesUpdate, textarea#valuesearch_DropShop_grabbers{width:100% !important;}
.btn-group > .btn {color:white;padding: 8px 10px;font:400 15px/1 "Roboto Condensed";}
.modal.orderitem  {width: 65% !important;left: 16% !important;margin:0 !important;border:solid 4px #0093f5;height: 63% !important;}
.orderitem .modal-body {padding: 0;max-height: 92% !important;}
/* user cart in admin */
.cart-table {
  padding: 0
}
.cart-table .cart-info, .cabinet-content .cart-table .product-image, .cabinet-content .cart-table .cost, .cabinet-content .cart-table .sum {
  padding: 5px
}

.cart-table .cost, .cabinet-content .cart-table .sum, .cabinet-content .cart-table .sum s {
  font: 700 15px "Arial";
  width: 68px
}
.cart-table .product-image {
    float: left;
    padding: 10px;
    width: 160px
}
.cart-table .product-image img {
  height: 160px;
  width: 160px
}

.cart-table .product-q {
  width: 70px
}
.cart-table {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  float: left;
  /*margin-top: -10px;*/
  padding: 5px 0;
  width: 100%
}

.cart-table .cart-info {
  float: left;
  padding: 10px;
  text-align: left;
  /*width: 400px;*/
}
.cart-table .cost, .cart-table .sum {
  color: #00c9e2;
  font: 700 17px 'Arial';
  padding: 10px;
  width: 100px
}

.cart-table .param {
  float: left;
  padding: 10px;
  /*width: 340px;*/
}
.cart-table .remove {
  padding-left: 30px
}

.cart-table .square {
  background: #eaeaea
}

.cart-table .sum {
  color: #f42340
}

.cart-table .sum a {
  color: #5d5d5d;
  font: 500 12px 'Arial'
}

.cart-table .sum s {
  color: #00c9e2;
  font: 700 16px 'Arial'
}

.cart-table .ui-icon-close {
  background-position: -80px -125px
}

.cart-table .ui-spinner {
  margin: 7px 5px;
  width: 80px
}

.cart-table img {
  border: solid 1px #000000;
  height: 115px;
  width: 115px
}

.cart-table input {
  margin-left: 5px;
  width: 80px
}

.cart-table p {
  padding-top: 5px
}

.cart-table strong {
  color: #009846;
  font-weight: bold
}
.cart-table textarea {
  height: 40px;
  margin-top: 10px;
  resize: vertical !important;
  width: 325px;
}
.cart-table:hover {
  background-color: #e4fcff
}
.cart-total {
  color: #009846
}
.cart-total, .cart-discont {
  float: right;
  font: bold 16px/20px 'Arial';
  margin-right: 15px
}
.cart-footer {
    display: inline-block;
    float: right;
    margin-top: -15px;
}
.orderNavigatorItem span {font: 0.9em "roboto condensed";}
.orderNavigatorItem li {float:left;display:block;padding-right: 15px;}
.orderNavigatorItem img {width:80px;height: 80px;}

.separator {margin: 10px 0;border-bottom:solid 1px #C9E0ED !important;}

.any-res {margin-left: 0 !important;}
.any-res .control-label {width: auto !important; margin-left: 20px;}
.any-res .controls {margin-left: 120px !important;width: 115px;}
.span2.any-res {width: 19.89% !important;}
.span6.any-res {width:48.1% !important;}
.ordr-header-block fieldset {height: 22em;}
.modal-body .span6.any-res {width:100% !important;}
.modal-body .span4.any-res {width: 60% !important;}
.modal-body .span2.any-res {width: 40% !important;}
.modal-body fieldset {height: 20em;}

@media (max-width: 1376px) {
    .ordr-header-block .span6 {width: 48.9% !important;}
    .span4.any-res {width: 50% !important;}
    .span2.any-res {width: 30% !important;}
    .span6.any-res {width:100% !important;}
}
.order-comments-icon .lock

