
ul.menu {
  list-style:none;
  margin:0;
  padding:0;
  position: absolute;
}
ul.menu * {
  margin:0;
  padding:0
}
ul.menu a {
  display:block;
  color:#fff;
  text-decoration:none;
  height: 30px;
  font-size: 14px;
  line-height: 30px;
  width: 135px;
  padding: 0;
  text-align: center;  
}
ul.menu li {
  position:relative;
  float:left;
  border-right: 1px solid #fff;
}
ul.menu ul {
  position:absolute;
  top:29px;
  left:0;  
  display:none;
  opacity:0;
  list-style:none
}
ul.menu ul li {
  position:relative;    
  width:125px;
  margin:0
}
ul.menu ul li a {
  display:block;
  background: url(bg.gif) repeat-x;
  width: 125px;
  padding: 0 5px;
  text-align: left;
}
ul.menu ul li a:hover {  
  color: #ddd;
}
ul.menu ul ul {
  left:125px;
  top:-1px
}
ul.menu .menulink {  
  font-weight:bold;  
}

ul.menu .disabled {  
  color: #cccccc;
}