.grid-view-loading {background: url('loading.gif') top center no-repeat transparent;}
.grid-view {padding: 0;}
.grid-view table.items {
	background: #CDCDCD;
	border-collapse: collapse;
	width: 100%;
	border: 0px #D0E3EF solid;
}
.grid-view table.items th, .grid-view table.items td {
	font-size: 1em;
	border: 1px #f2f2f2 solid;
	padding: 0.5em;
}
.grid-view table.items th {
    text-decoration: none;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    font: normal 11px 'Tahoma';
	text-align: center;
}
.grid-view table.items th a {
	text-decoration: none;
    color: #000000;
    text-shadow: 1px 1px 1px #ffffff;
    font: normal 13px 'Tahoma';
}
.grid-view table.items th a:hover {color: #000000;}
.grid-view table.items th a.asc {background:url(up.gif) right center no-repeat;	padding-right: 10px;}
.grid-view table.items th a.desc {background:url(down.gif) right center no-repeat;padding-right: 10px;}
.grid-view table.items tr.even {background: #F8F8F8;}
.grid-view table.items tr.odd {background: #E5F1F4;}
.grid-view table.items tr.selected {background: rgba(0, 156, 246, 0.37);}
.grid-view table.items tr:hover.selected {background: rgba(0, 156, 246, 0.37);}
.grid-view table.items tbody tr:hover {background: #ECFBD4;}
.grid-view .link-column img {border: 0;}
.grid-view .button-column {text-align: center;width: 60px;}
.grid-view .button-column img {	border: 0;}
.grid-view .checkbox-column {width: 15px;}
.grid-view .summary {
	margin-bottom: -2px;
	text-align: left;
    font: 400 1.4em/1 "PT Sans Narrow", "Arial", sans-serif;
    text-shadow: 1px 1px 1px #ffffff;
    background: #C9E0ED;
    padding: 5px 15px;
}
.grid-view .pager {margin: 5px 0 0 0;text-align: left;}
.grid-view .empty {font-style: italic;}
.grid-view .filters input, .grid-view .filters select {width: 100%;	border: 0px solid #ccc;}