/*******************************************************
Product list Styles
********************************************************/
ul.product_list a.quick-view {display: none;}
ul.product_list .availability span {
  display: inline-block;
  color: white;
  font-weight: bold;
  padding: 3px 8px 4px 8px;
  margin-bottom: 20px; }
  ul.product_list .availability span.available-now {
    background: #46a74e;
    border: 1px solid #36943e; }
  ul.product_list .availability span.out-of-stock {
    background: #ff7430;
    border: 1px solid #ea5e1a; }
ul.product_list .color-list-container {
  margin-bottom: 12px; }
  ul.product_list .color-list-container ul li {
    display: inline-block;
    border: 1px solid #d6d4d4; }
    ul.product_list .color-list-container ul li a {
      display: block;
      width: 23px;
      height: 23px;
      margin: 1px; }
ul.product_list .product-image-container {
  text-align: center; }
  ul.product_list .product-image-container img {
    margin: 0 auto;
    }
  ul.product_list .product-image-container .quick-view {
   /* font: 700 13px/16px Arial, Helvetica, sans-serif;
    color: #777676;
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -21px 0 0 -53px;
    padding: 13px 0 0;
    background: rgba(255, 255, 255, 0.82);
    width: 107px;
    height: 43px;
    text-align: center;
    -webkit-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    -moz-box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0 2px 8px; */}
    @media (min-width: 1200px) {
      ul.product_list .product-image-container .quick-view {
         } }
    @media (max-width: 767px) {
      ul.product_list .product-image-container .quick-view {
        display: none; } }
ul.product_list .comments_note {
  text-align: left;
  overflow: hidden;
  padding-top:0px;}
  ul.product_list .comments_note .star_content {
    float: left; }
  ul.product_list .comments_note .nb-comments {
    overflow: hidden;
    font-style: italic; }
ul.product_list .functional-buttons div a, ul.product_list .functional-buttons div label {
  
  color: #666;
  cursor: pointer; }
  ul.product_list .functional-buttons div a:hover, ul.product_list .functional-buttons div label:hover {
    color: #000; }
ul.product_list .functional-buttons div.wishlist {
  border-right: 1px solid #d6d4d4; }
  ul.product_list .functional-buttons div.wishlist a:before {
    display: inline-block;
    font-family: "FontAwesome";
    content: "\f08a";
    margin-right: 3px;
    padding: 0 3px; }
  ul.product_list .functional-buttons div.wishlist a.checked:before {
    content: "\f004"; }
  @media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons div.wishlist {
      border-right: 0; }
      ul.product_list .functional-buttons div.wishlist a:before {
        display: none; } }
  @media (min-width: 480px) and (max-width: 767px) {
    ul.product_list .functional-buttons div.wishlist {
      border-right: 0; }
      ul.product_list .functional-buttons div.wishlist a:before {
        display: none; } }
ul.product_list.list .functional-buttons {float:left; padding:0;}
ul.product_list .functional-buttons div.compare a:before {
  content: "\f096";
  display: inline-block;
  font-family: 'SegoeUILight',"FontAwesome";
  margin-right: 6px;
  font-size:15px;
  line-height:13px;
  font-weight:normal;
  color:#999;
  text-transform: capitalize;}
  @media (min-width: 992px) and (max-width: 1199px) {
    ul.product_list .functional-buttons div.compare a:before {
       } }
  @media (min-width: 480px) and (max-width: 767px) {
    ul.product_list .functional-buttons div.compare a:before {
      } }
ul.product_list .functional-buttons div.compare a.checked:before {
  content: "\f046"; }


ul.product_list .right-block {position: relative; overflow: hidden;}

/*******************************************************
Product list(Grid) Styles 
********************************************************/
ul.product_list.grid  a.ajax_add_to_cart_button  {display: block; text-align: center;}
ul.product_list.grid .wishlist {display: inline-block; vertical-align: top; margin-right:20px;}
ul.product_list.grid .functional-buttons {display: inline-block;}

ul.product_list.list > li .product-container {
  padding: 30px 0 30px; }
ul.product_list.list > li h5 {
  margin:0 15px 0 0; padding:0;line-height:22px; float:left;}
ul.product_list.grid > li {
  padding-bottom: 20px;
  text-align: center; }
  @media (min-width: 480px) and (max-width: 767px) {
    ul.product_list.grid > li {
      width: 50%;
      float: left; } }
ul.product_list.grid > li.hovered .product-container .product-image-container .content_price {text-align: center;}
  ul.product_list.grid > li .product-container {
    background: white;
    padding: 0;
    position: relative; }
    ul.product_list.grid > li .product-container .product-image-container {
      position: relative;
      overflow: hidden;}
      @media (max-width: 767px) {
      ul.product_list.grid > li .product-container .product-image-container {
          margin-left: auto;
          margin-right: auto; } }
      ul.product_list.grid > li .product-container .product-image-container .content_price {
        position: absolute;
        bottom:0; right: -65px;
        border-bottom: 3px solid;
        width:65px;
        height:65px;
        border-radius: 50px;
	transform:rotate(90deg);
	-ms-transform:rotate(90deg);
	-webkit-transform:rotate(90deg);
	transition: 0.3s;
	-webkit-transition: 0.3s;
	-moz-transition: 0.3s; }
       ul.product_list.grid > li .product-container:hover .product-image-container .content_price {
        right:5px;
        transform:rotate(0deg);
	-ms-transform:rotate(0deg);
	-webkit-transform:rotate(0deg)
       }
        ul.product_list.grid > li .product-container .product-image-container .content_price span.price {
          color: white; padding: 21px 0 0; }
	  
          ul.product_list.grid > li .product-container .product-image-container .content_price span.old-price {
            color: #e1e1e1; }
    ul.product_list.grid > li .product-container h5 {
      padding: 10px 0 ;
      margin:0;
      min-height:19px;
      text-align: left;}
    @media (min-width: 1200px) {
      ul.product_list.grid > li .product-container .comments_note {
         float:right;
	 } }
    ul.product_list.grid > li .product-container .comments_note .star_content {
      margin: 0 ; }
    ul.product_list.grid > li .product-container .product-desc {
      display: none; }
    ul.product_list.grid > li .product-container .content_price {
     padding: 0 0 10px 0;
     text-align: left;}
    @media (min-width: 1200px) {
      ul.product_list.grid > li .product-container .content_price {float: left;}
    }
    ul.product_list.grid > li .product-container .old-price,
    ul.product_list.grid > li .product-container .price,
    ul.product_list.grid > li .product-container .price-percent-reduction {
      display: inline-block; }
    ul.product_list.grid > li .product-container .product-flags {
      display: none; }
    ul.product_list.grid > li .product-container .left-block .old-price {
      margin-left: 0px; }
    ul.product_list.grid > li .product-container .button-container {
      text-align: center;
      position: absolute; top: -60px;
      min-height:59px;
      width:100%;
      background: #fff;
      }
      @media (max-width: 1200px) {
	ul.product_list.grid > li .product-container .button-container {position: static; text-align: left;}
	.tab-content ul.product_list a.quick-view {display: none;}
	ul.product_list.grid > li .product-container h5 {padding:15px 0 10px; min-height:20px; text-align: left;}
	ul.product_list.grid a.ajax_add_to_cart_button {text-align: left;}
      }
      @media (max-width:991px) {
	
	

      }
      @media (max-width: 767px){ul.product_list.grid > li .product-container .button-container {width:100%; background: #fff;}}
    ul.product_list.grid > li:hover .product-container .button-container{top:0;}
      @media (min-width: 1200px) {
        ul.product_list.grid > li .product-container .button-container {
          } }
      ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button,
      ul.product_list.grid > li .product-container .button-container span.button,
      ul.product_list.grid > li .product-container .button-container .lnk_view {
        margin: 10px 0 0 0; }
    @media (max-width:1200px) {
      ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button {margin: 0 0 10px 0}
    }
    ul.product_list.grid > li .product-container .functional-buttons {
      padding: 0 0 5px; }
      @media (min-width: 1200px) {
        ul.product_list.grid > li .product-container .functional-buttons {
             }}
      ul.product_list.grid > li .product-container .functional-buttons div { }
      ul.product_list.grid > li .product-container:hover .new-box{display: none;}
  @media (min-width: 1200px) {
    ul.product_list.grid > li.hovered .product-container {
      position: relative;
      z-index: 10; }
      ul.product_list.grid > li.hovered .product-container .content_price {
        /*display: none; */}
      ul.product_list.grid > li.hovered .product-container .product-image-container .content_price {
        display: block; }
      ul.product_list.grid > li.hovered .product-container .product-image-container .quick-view {
        display: block; }
     
      ul.product_list.grid > li.hovered .product-container .button-container,
      ul.product_list.grid > li.hovered .product-container .comments_note {
        } }
  @media (min-width: 992px) {
    ul.product_list.grid > li.first-in-line {
      clear: left; } }
  @media (min-width: 480px) and (max-width: 991px) {
    ul.product_list.grid > li.first-item-of-tablet-line {
       } }
ul.product_list.grid li.hovered h5 {}

@media (min-width: 1200px) {
  #blockpack ul > li.last-line {
    border: none;
    padding-bottom: 0;
    margin-bottom: 0; } }
@media (min-width: 480px) and (max-width: 767px) {
  #blockpack ul > li.first-item-of-tablet-line {
    clear: none; }
  #blockpack ul > li.first-item-of-mobile-line {
    clear: left; } }

/*******************************************************
Product list(List) Styles 
********************************************************/
ul.product_list.list .button-container a.ajax_add_to_cart_button {line-height:40px;}
ul.product_list.list .button-container a.ajax_add_to_cart_button span {color:#fff; padding:8px 18px; font-family: 'titilliumwebsemibold'; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
ul.product_list.list .button-container a.ajax_add_to_cart_button:hover span {background-color:#474e58; border-color: #323a45;}

ul.product_list.list .button-container .wishlist {margin-top:10px;}
ul.product_list.list .button-container .wishlist a.addToWishlist {color:#999; font-family: 'titilliumwebsemibold'; border-bottom: 3px solid #e5e5e5; font-size:16px; text-transform: uppercase; padding:7px 31px; background: #f1f1f1; line-height:40px; border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
ul.product_list.list .button-container .wishlist a.addToWishlist:hover {background-color:#474e58; border-color: #323a45; color:#fff;}

ul.product_list.list .button-container  .functional-buttons {padding-top:10px;}
ul.product_list.list .button-container  .functional-buttons a {color:#999; text-transform: uppercase; display: block; font-family: 'titilliumwebsemibold';border-bottom: 3px solid #e5e5e5; font-size:16px; padding: 10px 27px; background: #f1f1f1;  border-radius: 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px;}
ul.product_list.list .button-container  .functional-buttons a:hover {background-color:#474e58; border-color: #323a45; color:#fff;}
ul.product_list.list .button-container  .functional-buttons:hover a:before {color:#fff;}

ul.product_list.list a.product-name {font-size:18px;}

@media (max-width:1200px) {
  ul.product_list.list .button-container .wishlist a.addToWishlist {font-size:14px; padding: 7px 28px;}
  ul.product_list.list .button-container .functional-buttons a {font-size:14px; padding: 10px 24px;}
}
@media (max-width: 479px) {
  ul.product_list.list > li .left-block {
    width: 100%; } }
ul.product_list.list > li .product-container {
  padding: 30px 0 30px; }
@media (max-width: 1200px){
  ul.product_list.list > li .product-container {
  border-top: 1px solid #d6d4d4;
  padding: 30px 0 30px; }
}

.product_list.list li:first-child .product-container {border:none;}
ul.product_list.list > li .product-image-container {
  position: relative;}
  @media (max-width: 479px) {
    ul.product_list.list > li .product-image-container {
      max-width: 290px;
      margin: 0 auto; } }
  ul.product_list.list > li .product-image-container .content_price {
    display: none !important; }
ul.product_list.list > li .product-flags {
  color: #333333;
  margin: -5px 0 10px 0; }
  ul.product_list.list > li .product-flags .discount {
    color: #f13340; }
ul.product_list.list > li h5 {
  margin:0 15px 0 0; padding:0;line-height:22px; float:left;}
ul.product_list.list .comments_note {position: static; float:right; padding-top:3px; }
ul.product_list.list .content_price {clear:both; padding:10px 0 5px;}
ul.product_list.list > li .product-desc {
  margin-bottom: 15px; margin-top:15px; }
@media (max-width: 479px) {
  ul.product_list.list > li .center-block {
    width: 100%; } }
ul.product_list.list > li .center-block .comments_note {}
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content {
    margin: 0;
    border-left: 1px solid #d6d4d4;
    padding-left: 15px;
    padding-bottom: 16px; } }
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 20px; } }
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content {
    padding-top: 5px; } }
ul.product_list.list > li .right-block .right-block-content .content_price {
  padding-bottom: 10px; }
  @media (max-width: 991px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
      padding-top: 13px;
      padding-bottom: 0; } }
  @media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .content_price {
      padding-top: 0;
      width: 100%; } }
  ul.product_list.list > li .right-block .right-block-content .content_price span {
    display: inline-block;
    margin-top: -4px;
    margin-bottom: 14px; }
    ul.product_list.list > li .right-block .right-block-content .content_price span.old-price {
      margin-right: 8px; }
ul.product_list.list > li .right-block .right-block-content .button-container {
  overflow: hidden;
  padding-bottom: 20px; }
  @media (max-width: 479px) {
    ul.product_list.list > li .right-block .right-block-content .button-container {
      width: 100%; } }
  ul.product_list.list > li .right-block .right-block-content .button-container .btn {
    margin-bottom: 10px; }
    @media (min-width: 992px) {
      ul.product_list.list > li .right-block .right-block-content .button-container .btn {
        float: left;
        clear: both; } }
@media (min-width: 992px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    overflow: hidden; } }
@media (max-width: 991px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    clear: both; }
    ul.product_list.list > li .right-block .right-block-content .functional-buttons > div {
      float: left;
      padding-top: 0 !important;
      padding-right: 20px; } }
@media (max-width: 479px) {
  ul.product_list.list > li .right-block .right-block-content .functional-buttons {
    float: none;
    display: inline-block; }
    ul.product_list.list > li .right-block .right-block-content .functional-buttons a i, ul.product_list.list > li .right-block .right-block-content .functional-buttons a:before, ul.product_list.list > li .right-block .right-block-content .functional-buttons label i, ul.product_list.list > li .right-block .right-block-content .functional-buttons label:before {
      display: none !important; } }
ul.product_list.list > li .right-block .right-block-content .functional-buttons a {
  cursor: pointer; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons .wishlist {
  border: none; }
ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare {
  padding-top: 10px; }
  ul.product_list.list > li .right-block .right-block-content .functional-buttons .compare a:before {
    margin-right: 10px; }
@media (min-width: 1200px) {
  ul.product_list.list > li:hover .product-image-container .quick-view {
    display: block; } }
@media (max-width: 479px) {
  ul.product_list.list > li {
    text-align: center; } }
@media (max-width:991px) and (min-width: 768px) {
  ul.product_list.list > li h5 {}
  ul.product_list.list .button-container a.ajax_add_to_cart_button {line-height: 37px; vertical-align: top;}
  ul.product_list.list .button-container .functional-buttons a {font-size:13px; padding:8px 10px;}
  ul.product_list.list .button-container .wishlist {display: inline-block; margin:0;}
  ul.product_list.list .button-container .wishlist a.addToWishlist {font-size:13px; padding:7px 12px; line-height:36px;}
  ul.product_list.list .functional-buttons {float:none; display: inline-block; padding:0 !important;}
  ul.product_list.list .button-container a.ajax_add_to_cart_button span {padding: 6px; font-size:13px;}
  ul.product_list.grid > li .product-container .button-container .ajax_add_to_cart_button {margin:0 0 10	px 0;}
}
ul.product_list.list > li .left-block .new-box {display: none;}
ul.product_list.list > li .price.product-price {font-size:24px;}
ul.product_list.list > li .old-price.product-price {font-size:15px;}

/*******************************************************
Product list(Index page) Styles 
********************************************************/
#index ul.product_list.tab-pane > li {
  padding-bottom: 10px;
  margin-bottom: 10px; }
  @media (min-width: 1200px) {
    #index ul.product_list.tab-pane > li {
      padding-bottom: 20px;
      margin-bottom: 0; } }
  #index ul.product_list.tab-pane > li .availability {
    display: none; }
  @media (min-width: 1200px) {
    #index ul.product_list.tab-pane > li.last-line {
      border: none;
      padding-bottom: 0;
      margin-bottom: 0; } }
  @media (min-width: 480px) and (max-width: 767px) {
    #index ul.product_list.tab-pane > li.first-item-of-tablet-line {
      clear: none; }
    #index ul.product_list.tab-pane > li.first-item-of-mobile-line {
      clear: left; } }

/***** IE code *****/

