@font-face {
    font-family: 'TitilliumWebThinItalic';
    src: url('titilliumweb-extralightitalic.eot');
    src: url('titilliumweb-extralightitalic.eot') format('embedded-opentype'),
         url('titilliumweb-extralightitalic.woff') format('woff'),
         url('titilliumweb-extralightitalic.ttf') format('truetype'),
         url('titilliumweb-extralightitalic.svg#TitilliumWebThinItalic') format('svg');
}
