/**
 * BxSlider v4.0 - Fully loaded, responsive content slider
 * http://bxslider.com
 *
 * Written by: Steven Wanderski, 2012
 * http://stevenwanderski.com
 * (while drinking Belgian ales and listening to jazz)
 *
 * CEO and founder of bxCreative, LTD
 * http://bxcreative.com
 */


/** RESET AND LAYOUT
===================================*/

.pos-special-product  .bx-wrapper {
	position: relative;
	margin: 25px 0 0;
	padding: 0;
	*zoom: 1;
}

.pos-special-product  .bx-wrapper img {
	max-width: 100%;
	display: block;
}

/** THEME
===================================*/

.pos-special-product  .bx-wrapper .bx-viewport {
}

.pos-special-product  .bx-wrapper .bx-pager,
.pos-special-product  .bx-wrapper .bx-controls-auto {
	position: absolute;
	bottom: -10px;
	width: 100%;
}

/* LOADER */

.pos-special-product  .bx-wrapper .bx-loading {
	min-height: 50px;
	background: url(images/bx_loader.gif) center center no-repeat #fff;
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2000;
}

/* PAGER */

.pos-special-product  .bx-wrapper .bx-pager {
	text-align: center;
	font-size: .85em;
	font-family: Arial;
	font-weight: bold;
	color: #666;
	padding-top: 20px;
}

.pos-special-product  .bx-wrapper .bx-pager .bx-pager-item,
.pos-special-product  .bx-wrapper .bx-controls-auto .bx-controls-auto-item {
	display: inline-block;
	*zoom: 1;
	*display: inline;
}

.pos-special-product  .bx-wrapper .bx-pager.bx-default-pager a {
	background: #e1e1e1;
	text-indent: -9999px;
	display: block;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	outline: 0;
	-moz-border-radius: 11px;
	-webkit-border-radius: 11px;
	border-radius: 11px;
}

/* DIRECTION CONTROLS (NEXT / PREV) */

.pos-special-product:hover .bx-wrapper .bx-controls-direction a {
	display: block;
	opacity: 1;}
.pos-special-product  .bx-wrapper a.bx-prev {
	left: 20px;
	top: 160px;
	background: url(images/nav_special.png) no-repeat  0 100% #ccc;
}

.pos-special-product  .bx-wrapper a.bx-next {
	right: 20px;
	top: 160px;
	background: url(images/nav_special.png) no-repeat  100% 0 #ccc;
}

.pos-special-product  .bx-wrapper .bx-prev:hover {
	background-color: #5dbede;
}

.pos-special-product  .bx-wrapper .bx-next:hover {
	background-color: #5dbede;
}

.pos-special-product  .bx-wrapper .bx-controls-direction a {
	width: 35px;
	height: 35px;
	margin: -55px 0 0;
	display: none;
	position: absolute;
	cursor: pointer;
	text-indent: -9999px;
	z-index: 9;
	display: block;
	opacity: 0;
	border-radius: 30px;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
}
@media (max-width:991px) and (min-width: 767px) {.pos-special-product .bx-wrapper .bx-controls-direction a {margin:0; top:69px;}}
.pos-special-product  .bx-wrapper .bx-controls-direction a.disabled {
	display: none;
}

/* AUTO CONTROLS (START / STOP) */

.pos-special-product  .bx-wrapper .bx-controls-auto {
	text-align: center;
}

.pos-special-product  .bx-wrapper .bx-controls-auto .bx-start {
	display: block;
	text-indent: -9999px;
	width: 10px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -11px no-repeat;
	margin: 0 3px;
}

.pos-special-product  .bx-wrapper .bx-controls-auto .bx-start:hover,
.pos-special-product  .bx-wrapper .bx-controls-auto .bx-start.active {
	background-position: -86px 0;
}

.pos-special-product  .bx-wrapper .bx-controls-auto .bx-stop {
	display: block;
	text-indent: -9999px;
	width: 9px;
	height: 11px;
	outline: 0;
	background: url(images/controls.png) -86px -44px no-repeat;
	margin: 0 3px;
}

.pos-special-product  .bx-wrapper .bx-controls-auto .bx-stop:hover,
.pos-special-product  .bx-wrapper .bx-controls-auto .bx-stop.active {
	background-position: -86px -33px;
}

/* PAGER WITH AUTO-CONTROLS HYBRID LAYOUT */

.pos-special-product  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-pager {
	text-align: left;
	width: 80%;
}

.pos-special-product  .bx-wrapper .bx-controls.bx-has-controls-auto.bx-has-pager .bx-controls-auto {
	right: 0;
	width: 35px;
}

/* IMAGE CAPTIONS */

.pos-special-product  .bx-wrapper .bx-caption {
	position: absolute;
	bottom: 0;
	left: 0;
	background: #666\9;
	background: rgba(80, 80, 80, 0.75);
	width: 100%;
}

.pos-special-product  .bx-wrapper .bx-caption span {
	color: #fff;
	font-family: Arial;
	display: block;
	font-size: .85em;
	padding: 10px;
}

.pos-special-product  .bx-wrapper li {
	cursor: pointer;
}

.pos-special-product .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}
.pos-special-product .content_price {padding: 0 0 20px 10px;}
.pos-special-product h3 {padding: 10px 0 10px 10px; margin:0;}
.pos-special-product .ma-loading {
	width: 16px;
	height: 16px;
	position: absolute;
	z-index: 99;
	background: url(../images/loader.gif) no-repeat ;
	top: 50%;
	left: 50%;
	margin: -8px 0 0 -8px;
}